/* Fondo difuminado */
.banner-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  backdrop-filter: blur(0px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Modal */
.banner-modal {
  position: relative;
  width: 100%;
  max-width: 950px;
  background: #ffffff;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0px 10px 35px rgba(0,0,0,0.2);
  animation: fadeIn .35s ease;
}

/* Imagen */
.banner-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

/* Texto */
.banner-content {
  padding: .5rem 1.5rem;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: .55rem 1.1rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  font-size: .85rem;
  transition: .2s ease;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  gap: .45rem;
}

/* Íconos SVG */
.icon svg {
  display: block;
}

/* YouTube */
.video {
  background: #FF0000;

  &:hover {
    background: #CC0000;
  }
}

/* WhatsApp */
.info {
  background: #25D366;

  &:hover {
    background: #1EB85A;
  }
}

/* Botón cerrar */
.close-btn {
  position: absolute;
  top: 7px;
  right: 12px;
  color: black;
  background: rgba(255,255,255,0.8);
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  transition: .2s;

  &:hover {
    background: white;
    transform: scale(1.05);
  }
}

/* Animación */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(.95); }
  to { opacity: 1; transform: scale(1); }
}