/* =========================================================
   LAYOUT
========================================================= */

.assessment-config__layout {
  width: 100%;

  display: grid;

  grid-template-columns:
    minmax(0, 1fr)
    minmax(18rem, 28%);

  align-items: start;

  gap: .85rem;
}


/* =========================================================
   MAIN
========================================================= */

.assessment-config__main {
  min-width: 0;

  display: flex;
  flex-direction: column;

  gap: .75rem;
}


/* =========================================================
   SIDEBAR
========================================================= */

.assessment-config__sidebar {
  min-width: 0;

  position: sticky;

  top: .8rem;
}