.section {
    background-color: #f2f2f2;
    min-height: 100vh;
    padding: 0rem;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 1rem 0rem;
    border-radius: 8px;
  }

  .title-container {
    position: fixed;
    top: 0;
    left: 0px;
    color: rgb(53, 53, 53);
    width: 100%;
    background-color: #f2f2f2;
    z-index: 10;
    text-align: center;
  }

  .title {
    font-size: 1.5rem;
    line-height: 75px;
    color: #333;
    font-weight: bold;
    text-align: center;
  }

  .dropdown-toggle-container {
    max-width: 500px;
    margin: 5rem auto 2rem;
  }

  .dropdown-toggle {
    display: flex;
    justify-content: space-between;
    background: #f3f3f3; 
    color: #535353;
    font-size: .9rem;
    padding: 0.7rem 1rem;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  .dropdown-body {
    border-radius: 6px;
    background: rgba(255, 255, 255, 0);
    margin-top: 1rem;
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeInDropdown 0.3s ease forwards;
  }

  .dropdown-body-hidden {
    opacity: 1;
    transform: translateY(0);
    animation: fadeOutDropdown 0.2s ease forwards;
  }

  @keyframes fadeOutDropdown {
    to {
      opacity: 0;
      height: 0;
    }
  }

  @keyframes fadeInDropdown {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .content-selection-wrapper {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0rem;
  }

  .content-selector-card {
    flex: 1 1 500px;
    max-width: 500px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .content-summary-box {
    position: relative;
    flex: 1 1 500px;
    max-width: 500px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.3rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

      .delete {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }
  }
  .content-selector-card {
    padding: 0rem 1rem 1rem; 

    h2 {
      font-size: 1rem;
      text-align: center;
      padding: 1rem;
      color: black;
    }
  }
  .content-summary-box h4 {
    font-size: 0.9rem;
  }

  .content-summary-box ul {
    font-size: 0.85rem;
    list-style-type: disc;
    padding-left: 1.5rem;

    li {
      font-size: 0.85rem;
    }
  }

  .block-search {
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    padding: 1.5rem;
    border-radius: 6px;
    border: .5px solid rgb(198, 198, 198);
    width: 100%;
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
  }

  .input-date-container input[type="date"] {
    width: 100%;
    padding-right: 2.5rem;
    box-sizing: border-box;
}

  .input-date-container .icon-calendar {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #929090;
    pointer-events: none;
}

  .block-search .input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    opacity: 0;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .block-search .input[type="date"]::-moz-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .label {
    color: #6a6767;
    font-weight: 500;
    font-size: .8rem;
    margin-left: 5px;
  }

  .columns.is-mobile {
    display: flex;
  }

  .columns.is-mobile .column {
    flex: 1; 
  }

  .field {
    margin-bottom: 0rem; 
  }

  .input, .select select {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    height: 35px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #333;
    font-size: .8rem;
    border-radius: 4px;
  }

  .block-results{
    width: 90%;
    margin: auto;
  }

  .no-results-message {
    text-align: center;
    font-size: .9rem;
    margin-top: 5rem;
  }

  /* Estilos de la tabla de resultados */
  .table-container {
    max-width: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 4rem;
    position: relative;
    border-radius: 8px; 
    max-height: 475px; 
    overflow: hidden;
    overflow-y: auto;  
    overflow-x: auto; 

  }

  .table-results {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    min-width: 1000px;
    word-wrap: break-word;
  }

  .table thead {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .table-results th {
    text-align: center;
    vertical-align: middle;
    padding: 0.55rem;
    font-size: .8rem;
    background-color: #e5effa;
    color: black;
    border-bottom: none;
    white-space: nowrap;
    position: sticky;
    top: 0;
    z-index: 3;
  }

  .table-results td {
    text-align: center;
    vertical-align: middle;
    font-size: .8rem;
    padding: 0.75rem;
    border-bottom: .5px solid rgb(208, 208, 208);
    background-color: #ffffff;
    color: rgb(76, 75, 75);
    overflow: visible;
    text-overflow: clip;
  }

  input[type="checkbox"] {
    transform: scale(1.3); 
    cursor: pointer;
  }
  
  input[type="checkbox"]:checked {
    accent-color: #007bff;
  }

  .icon-button {
    background: none;
    border: none;
    padding: 0.25rem;
    cursor: pointer;

    .material-icons {
      font-size: 18px; 
      color: #555;      

      &:hover {
        color: #000;   
      }
    }
  }

  /* Responsivos */
  @media (max-width: 992px){
    .container {
      width: 95%;
  }

  }

  @media (max-width: 768px) {
  .table-container {
    width: 100%;
  }

  .title-container {
    left: 0;
    width: 100%;
    background: linear-gradient(45deg, #4a90e2,  #7743a8);
  }

  .title {
    color: white;
  }

  .block-search .columns.is-mobile {
    flex-direction: column;
  }

  .table-container {
    overflow-x: auto;
    margin-left: 0px;
  }

}

  @media (max-width: 492px) {
  .container {
    width: 97%;
    }

  .title-container {
    height: 75px;
    padding: 1.5rem 0;
  }

  .title {
    font-size: 1.4rem;
    line-height: 40px;
  }

  .block-search {
    background-color: #ededed !important;
    box-shadow: none;
    width: 95%;
    margin-top: 7rem;
  }

  .block-search .label {
    font-size: 0.8rem;
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .block-search .input,
  .block-search .select select {
    padding: 0.2rem .7rem;
    font-size: 0.8rem;
    height: 40px;
  }

  .block-results {
    width: 95%;
    margin: auto;
  }

  .table-container::-webkit-scrollbar {
    display: none;
  }

  .table-results {
    width: 100%;
    margin: auto;
  }
}

