.section {
    background-color: white; 
    min-height: 100vh; 
    padding: 0rem; 
  }
  
  .container {
    width: 100%; 
    margin: 0 auto; 
    background-color: white; 
    padding: 1rem 0rem; 
    border-radius: 8px;  
  }
  
  .title-container {
    position: fixed; 
    top: 0px; 
    left: 70px;
    width: 100%; 
    height: 80px;
    width: calc(100% - 70px);
    background:linear-gradient( #e2e0ebe2, #bcb4df8a );
    backdrop-filter: blur(15px);
    z-index: 10; 
    text-align: center;
    padding: 3rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25); 
  }
  
  .title {
    font-size: 2.1rem;
    line-height: 0px;
    color: #333;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .block-search {
    background-color: #e1deef;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    margin-top: 10rem;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .block-search .input[type="date"] {
    position: relative;
    padding-right: 2.5rem; 
  }
  
  .block-search .input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 0.75rem; 
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7; 
    cursor: pointer;
    color: #333; 
  }
  
  .block-search .input[type="date"]::-moz-calendar-picker-indicator {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .label {
    color: #6a6767; 
    font-weight: bold; 
    font-size: .9rem;
    margin-left: 8px;
  }
  
  .field {
    margin-bottom: 0rem; 
  }
  
  .input, .select select {
    padding: 0.5rem 0.75rem; 
    font-size: 0.875rem;
    background-color: #f9f9f9; 
    color: #333333; 
    border: 1px solid rgb(213, 213, 213);  
    border-radius: 5px;
  }
  
  .no-results-message {
    color: #ff0000;
    text-align: center;
    font-size: 1rem;
    margin-top: 5rem; 
  }
  
  /* Estilos de la tabla de resultados */
  .table-results {
    width: 75%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
  
  .table-results th {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: black;
    border-bottom: 2px solid #b6b6b6; 
  }
  
  .table-results td {
    text-align: center;
    padding: 7px;
    color: rgb(104, 104, 104);
  }
  
  .table-results tr:nth-child(even) {
    background-color: #f9f9f9; 
  }

  input[type="checkbox"]:checked {
    accent-color: #007bff; 
  }
  
  /* Responsivos */
  
  @media (max-width: 768px) {
    .container {
      width: 100%; 
 }
  
    .title-container {
      left: 0; 
      width: 100%; 
 }
  
    .title {
      font-size: 1.8rem;
 }
  
    .block-search {
      margin-top: 8rem;
      width: 65%;
 }

    .block-search .input,
    .block-search .select select {
     width: 100%;
     padding: 0.5rem;
     font-size: 0.875rem;
 }

    .block-search .columns.is-mobile {
      flex-direction: column;
 }
    
    .block-search .columns.is-mobile .column {
      width: 100%;
      margin-bottom: 0rem;
 }

    .block-search .label {
     font-size: 0.8rem; 
     margin-left: 4px; 
     margin-bottom: 0rem; 
 }
    
    .block-search .field {
      margin-bottom: 0rem;
 }
  
    .block-results {
     margin-top: 1.5rem;
     display: flex;
     justify-content: center; 
 }
    
    .table-results {
     width: 100%; 
     margin: 0;
 }
  
    .table-results th, .table-results td {
     font-size: .9rem;
     padding: 5px;
 }

 .table-results th, .table-results td {
    font-size: 0.85rem; 
    padding: 6px; 
  }
}
  
  @media (max-width: 492px) {
.container {
  width: 97%; 
   }

.title-container { 
    height: 75px;
    padding: 1.5rem 0;
  }
  
.title {
  font-size: 1.4rem;
  line-height: 40px;
}

.block-search {
 background-color: white;
 border: none;
 box-shadow: none;
 width: 100%;
 margin-top: 5rem;
}

.block-search .label {
  font-size: 0.75rem; 
  margin-left: 5px; 
}

  .block-search .input,
  .block-search .select select {
   padding: 0.2rem .7rem;
   font-size: 0.75rem;
   height: 35px;
  
}

  .table-results th, .table-results td {
   font-size: 0.6rem; 
   padding: 5px 2px; 
   border: .5px solid rgb(191, 191, 191);
   margin-bottom: 1px solid grey;
 }

 .table-results td {
    padding: 9px 4px; 
}

.table-results td:first-child {
   line-height: 45px;
   padding: 0px 5px;
}

 .no-results-message {
    font-size: .8rem;
    margin-top: 3rem; 
  }
  }