<section class="section">
    <div class="container">

      <div class="block title-container">
        <h1 class="title">Buscar Meetings</h1>
      </div>

      <div class="block-search">
        <form>
          <!-- Inputs de fecha -->
          <div class="columns is-mobile">
            <div class="column">
              <div class="field">
                <label class="label">Fecha desde</label>
                <div class="control input-date-container">
                  <input class="input" type="date" [(ngModel)]="filter.from" name="from" (ngModelChange)="onFilterChange()">
                  <span class="icon-calendar material-icons">calendar_today</span>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="field">
                <label class="label">Fecha hasta</label>
                <div class="control input-date-container">
                  <input class="input" type="date" [(ngModel)]="filter.to" name="to" (ngModelChange)="onFilterChange()">
                  <span class="icon-calendar material-icons">calendar_today</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Input de stage -->
          <div class="columns is-mobile">
            <div class="column">
              <div class="field">
               <!-- <label class="label">Stage</label>-->
                <div class="control">
                  <div class="select is-fullwidth">
                    <select [(ngModel)]="filter.stageId" name="stageId" (ngModelChange)="onFilterChange()">
                      <option value="">Stages</option>
                      <option *ngFor="let stage of stages" [value]="stage.id">{{ stage.description }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <!-- Input de hora -->
            <div class="column">
              <div class="field">
               <!-- <label class="label">Hora</label>-->
                <div class="control">
                  <div class="select is-fullwidth">
                    <select [(ngModel)]="filter.hour" name="hour" (ngModelChange)="onFilterChange()">
                      <option value="">Todas las horas</option>
                      <option *ngFor="let hour of availableHours" [value]="hour">{{ hour }}:00</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns is-mobile">
            <div class="column">
              <div class="field">
                <label class="label">Categoría</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select [(ngModel)]="filter.category" name="category" (ngModelChange)="onFilterChange()">
                      <option [ngValue]="undefined">Todas las categorías</option>
                      <option *ngFor="let category of ageGroupOptions" [value]="category">{{ category }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- Botón de Crear Meeting -->
      <div class="field has-text-centered mt-4" *ngIf="filter.from && filter.hour">
        <button class="button is-link is-mediun" type="button" (click)="onCreateMeeting()">
          + Crear meeting
        </button>
      </div>

      <!-- Resultados de la búsqueda -->
      <div class="block-results">
        <p *ngIf="filter.from && filter.to && meetings && meetings.length === 0" class="no-results-message">
          No hay meetings para el rango asignado.
        </p>
      </div>
    </div>

    <!-- Tabla -->
    <div class="table-wrapper">
      <app-table
        *ngIf="meetings && meetings.length > 0"
        [columns]="tableColumns"
        [columnLabels]="tableColumnLabels"
        [data]="formattedMeetings"
        [selectable]="false"
        [showActions]="false"
        [isCheckboxDisabled]="disableCheckboxIfNotToday"
        (actionClicked)="handleTableAction($event)"
      ></app-table>
    </div>
 </section>

  <app-create-meeting-modal
    *ngIf="showCreateModal"
    [fromDate]="filter.from"
    [hour]="filter.hour"
    [instructorId]="instructorId ?? undefined"
    (close)="showCreateModal = false"
    (meetingCreated)="handleMeetingCreated($event)"
  ></app-create-meeting-modal>

  <app-modal
    [showModal]="modal.show"
    [message]="modal.message"
    [isError]="modal.isError"
    [isSuccess]="modal.isSuccess"
    [isInfo]="modal.isInfo"
    (close)="closeModal()"
  ></app-modal>
