<section class="section">
  <div class="container">

    <div class="block title-container">
      <h1 class="title">Buscar Meetings</h1>
    </div>

    <app-meeting-filter
      [filter]="filter"
      [stages]="stages"
      [availableHours]="availableHours"
      [ageGroupOptions]="ageGroupOptions"
      (filterChange)="onFilterChange()"
    ></app-meeting-filter>

    <!-- Botón de Crear Meeting -->
    <div class="field has-text-centered my-4" *ngIf="filter.from && filter.hour">
      <button class="button is-link is-mediun" type="button" (click)="onCreateMeeting()">
        + Crear meeting
      </button>
    </div>

      <!-- Formulario de Selección de Contenido -->
    <div *ngIf="meetings.length > 0" class="content-selection-wrapper">
      <!-- Formulario de Selección -->
      <div class="content-selector-card">
        <h2 class="titles has-text-weight-bold">Contenido para la Clase</h2>
        <app-content-selector
          [stages]="filteredStages"
          (contentIdsSelected)="onContentIdsSelected($event)">
        </app-content-selector>
      </div>

      <!-- Mostrar solo si hay contenidos -->
      <ng-container *ngIf="studyContentIds.length > 0">
        <div class="content-summary-box has-text-dark">
          <button class="delete" (click)="clearSelectedContents()"></button>
          <h4>Contenidos listos:</h4>
          <ul>
            <li *ngFor="let content of studyContentOptions">{{ content.name }}</li>
          </ul>
        </div>
      </ng-container>
    </div>

    <div class="block-results">
      <p *ngIf="filter.from && filter.to && meetings && meetings.length === 0" class="no-results-message">
        No hay meetings para el rango asignado.
      </p>

      <app-meeting-table
        [meetings]="meetings"
        [isToday]="isToday.bind(this)"
        [hasMeetingPassed]="hasMeetingPassed.bind(this)"
        [formatStudyContent]="formatStudyContent.bind(this)"
        (contentViewRequested)="showContentViewer($event.content, $event.title)"
        (commentViewRequested)="showContentViewer($event.note, $event.title)"
        (studentContentHistoryRequested)="loadStudentContentHistory($event)"
        (assistanceCheckboxClicked)="onAssistanceCheckboxClick($event.event, $event.meeting)"
      ></app-meeting-table>
    </div>
  </div>
</section>

<app-student-content-history-modal
  *ngIf="isStudentContentHistoryModalVisible"
  [history]="studentContentHistory"
  [stageContents]="studentStageContents"
  [stageDescription]="selectedMeeting?.stage?.description"
  (previousStage)="goToPreviousStage()"
  (nextStage)="goToNextStage()"
  [canGoPrevious]="canGoPrevious"
  [canGoNext]="canGoNext"
  [show]="isStudentContentHistoryModalVisible"
  (close)="closeStudentContentHistoryModal()"
></app-student-content-history-modal>

<app-create-meeting-modal
  *ngIf="showCreateModal"
  [fromDate]="filter.from"
  [hour]="filter.hour"
  [instructorId]="instructorId ?? undefined"
  (close)="showCreateModal = false"
  (meetingCreated)="handleMeetingCreated($event)"
></app-create-meeting-modal>

<app-modal
  [showModal]="modal.show"
  [message]="modal.message"
  [isError]="modal.isError"
  [isSuccess]="modal.isSuccess"
  [isInfo]="modal.isInfo"
  [title]="modal.title || ''"
  [isContentViewer]="modal.isContentViewer ?? false"
  (close)="closeModal()"
></app-modal>

<app-modal
  [showModal]="confirmationModal.show"
  [message]="confirmationModal.message"
  [isInfo]="true"
  [isError]="false"
  [showButtons]="confirmationModal.showButtons ?? false"
  (confirmAction)="confirmationModal.confirm && confirmationModal.confirm()"
  (close)="confirmationModal.close()"
/>
