<p>student-info-form works!</p>
<div class="modal" [class.is-active]="isModalOpen">
  <div class="modal-background"></div>

  <div class="modal-card">
    <header class="modal-card-head">
    <div>
        <p class="modal-card-title">Completar Información</p>
        <p class="modal-subtitle">Es necesario completar estos datos para poder agendar tus clases.</p>
    </div>
    <button class="delete" aria-label="close" (click)="close()"></button>
    </header>

    <section class="modal-card-body">
      <form [formGroup]="infoForm" (ngSubmit)="onSubmit()" id="studentInfoForm">
        <!-- Email -->
        <div class="field">
          <label class="label">Correo electrónico</label>
          <div class="control">
            <input type="email" class="input" formControlName="email" />
          </div>
          <p class="error-message" *ngIf="infoForm.get('email')?.invalid && infoForm.get('email')?.touched">
            Email válido es obligatorio.
          </p>
        </div>

        <!-- Teléfono -->
        <div class="field">
          <label class="label">Número de contacto</label>
          <div class="field is-grouped">
            <!-- Código del país -->
            <div class="control" style="min-width: 120px">
              <div class="select is-fullwidth">
                <select formControlName="countryCode">
                  <option *ngFor="let code of countryCodes" [value]="code.code">
                    {{ code.name }} ({{ code.code }})
                  </option>
                </select>
              </div>
            </div>

            <!-- Número sin prefijo -->
            <div class="control is-expanded">
              <input
                type="tel"
                class="input"
                formControlName="phoneNumber"
              />
            </div>
          </div>
          <p class="error-message" *ngIf="infoForm.get('phoneNumber')?.invalid && infoForm.get('phoneNumber')?.touched">
            Número de teléfono es obligatorio.
          </p>
        </div>

       <!-- País -->
        <div class="field">
          <label class="label">País</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select
                formControlName="country"
                (change)="onCountryChange($event)"
              >
                <option *ngFor="let country of countryCodes" [value]="country.iso">
                  {{ country.name }}
                </option>
              </select>
            </div>
          </div>
          <p class="error-message" *ngIf="infoForm.get('country')?.invalid && infoForm.get('country')?.touched">
            País es requerido.
          </p>
        </div>

        <!-- Ciudad -->
        <div class="field">
          <label class="label">Ciudad</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select formControlName="city">
                <option value="" disabled selected>Seleccione una ciudad</option>
                <option *ngFor="let city of cities" [value]="city">
                  {{ city }}
                </option>
              </select>
            </div>
          </div>
          <p class="error-message" *ngIf="infoForm.get('city')?.invalid && infoForm.get('city')?.touched">
            Ciudad es requerida.
          </p>
        </div>
      </form>
    </section>

    <footer class="modal-card-foot">
      <button type="submit" class="button is-primary" form="studentInfoForm">
        Guardar
      </button>
    </footer>
  </div>
</div>