<section class="section">
  <h1 class="reports-progress-header reports-progress-title">
    Reporte de Progreso
  </h1>

  <app-report-form (filtersSubmitted)="onFiltersSubmitted($event)"></app-report-form>

  
  <div class="report-table-wrapper">
    <h2 *ngIf="showStageTitle" class="student-stage-title">
      Stage del Estudiante: {{ studentStageDescription }}
    </h2>
    <app-report-table
      [history]="studentContentHistory"
      [stageContents]="studentStageContents"
      [stageDescription]="stages.length > 0 ? stages[currentStageIndex].description : ''"
      [studentStageDescription]="studentStageDescription"
      [canGoPrevious]="canGoPrevious"
      [canGoNext]="canGoNext"
      (previousStage)="goToPreviousStage()"
      (nextStage)="goToNextStage()"
      (hasVisibleResults)="onHasVisibleResults($event)"
    ></app-report-table>
  </div>
  <p *ngIf="searchExecuted && studentContentHistory.length === 0" class="no-results-message">
    No hay contenidos encontrados.
  </p>
</section>