<section class="class-booking-header">
  <h1 class="title is-3">Recursos Académicos</h1>
</section>

<div class="page-wrapper">

    <div class="dropdown-toggle-container">
    <div class="dropdown-toggle" (click)="showConfigForm = !showConfigForm">
        <span>Configuración de Puntos</span>
        <span class="icon is-small">
        <i class="material-icons">
            {{ showConfigForm ? 'expand_less' : 'expand_more' }}
        </i>
        </span>
    </div>

    <div [ngClass]="showConfigForm ? 'dropdown-body' : 'dropdown-body-hidden'">
        <div class="search-form">
        <div class="field">
            <label class="label">Puntos Máximos</label>
            <input
            type="number"
            class="input"
            [(ngModel)]="maxPoints"
            placeholder="Ej: 100" />
        </div>

        <div class="field">
            <label class="label">Puntos Mínimos para Refuerzo</label>
            <input
            type="number"
            class="input"
            [(ngModel)]="minPoints"
            placeholder="Ej: 80" />
        </div>

        <div class="button-wrapper">
            <button class="button is-blue" (click)="updateAssessmentConfig()">
            Guardar Configuración
            </button>
        </div>
        </div>
    </div>
    </div>

  <app-assessment-type-form
    (formSubmit)="handleCreateAssessmentType($event)"
  ></app-assessment-type-form>

  <div class="block-results" *ngIf="assessmentTypes.length > 0">
    <div class="table-container">
      <table class="table-results is-fullwidth">
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Descripción</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let type of assessmentTypes">
            <td>{{ type.name }}</td>
            <td>{{ type.description || "-" }}</td>
            <td class="table-actions">
              <button class="icon-button edit-icon" title="Editar">
                <i class="fas fa-edit"></i>
              </button>
              <button class="icon-button delete-icon" title="Eliminar">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-modal
  [showModal]="modal.show"
  [message]="modal.message"
  [isError]="modal.isError"
  [isSuccess]="modal.isSuccess"
  [isInfo]="modal.isInfo"
  [showButtons]="modal.showButtons ?? false"
  (confirmAction)="modal.confirm?.()"
  (close)="modal.close()"
>
</app-modal>
