<section class="academic-resources-page">
  <div class="academic-resources-page__container">

    <!-- HEADER -->
    <div class="academic-resources-page__section">
      <app-resources-header
        (createResource)="openCreateResourceModal()"
      ></app-resources-header>
    </div>

     <!-- SUMMARY -->
    <div class="academic-resources-page__summary">
      <app-resources-summary
        [totalResources]="totalResources"
        [activeResources]="activeResources"
        [resourcesWithLink]="resourcesWithLink"
      ></app-resources-summary>
    </div>

    <!-- FILTERS -->
    <div class="academic-resources-page__section">
      <app-resources-filters
        [searchTerm]="searchTerm"
        [selectedStatus]="selectedStatus"
        (searchTermChange)="handleSearchTermChange($event)"
        (statusChange)="handleStatusChange($event)"
        (search)="handleSearch()"
        (clearFilters)="handleClearFilters()"
      ></app-resources-filters>
    </div>


    <!-- TABLE -->
    <div class="academic-resources-page__section">
      <app-resources-table
        [resources]="filteredResources"
        [isLoading]="isLoading"
        (viewResource)="openResourceDetail($event)"
        (editResource)="openEditResourceModal($event)"
        (deleteResource)="confirmDeleteResource($event)"
      ></app-resources-table>
    </div>

  </div>
</section>


<!-- CREATE / EDIT RESOURCE -->
<app-resource-form-modal
  *ngIf="showResourceFormModal"
  [show]="showResourceFormModal"
  [mode]="resourceFormMode"
  [resource]="selectedResource"
  (createResource)="handleCreateResource($event)"
  (updateResource)="handleUpdateResource($event)"
  (close)="closeResourceFormModal()"
></app-resource-form-modal>


<!-- RESOURCE DETAIL -->
<app-resource-detail-modal
  *ngIf="showResourceDetailModal"
  [show]="showResourceDetailModal"
  [resource]="selectedResource"
  (close)="closeResourceDetailModal()"
></app-resource-detail-modal>


<!-- GENERAL MODAL -->
<app-modal
  [showModal]="modal.show"
  [message]="modal.message"
  [isError]="modal.isError"
  [isSuccess]="modal.isSuccess"
  [isInfo]="modal.isInfo"
  [showButtons]="modal.showButtons ?? false"
  (confirmAction)="modal.confirm?.()"
  (close)="modal.close()"
></app-modal>