.table-container {
  max-width: 100%;
  margin: auto;
  margin-bottom: 4rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.table-title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  height: 50px;
  line-height: 50px;
  margin: 0;
  color: #3c3c3c;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 50;
}

.table-wrapper {
  max-height: 600px;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
}

.table-results {
  width: 100%;
  min-width: 800px;
  border-collapse: collapse;
}

.table-results th,
.table-results td {
  white-space: nowrap;
  padding: 0.5rem;
}

.table-results thead th {
  background-color: #e5effa;
  position: sticky;
  z-index: 5;
  text-align: center;
  vertical-align: middle;
  font-size: 0.75rem;
  color: #2c2c2c;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #d7d7d7;
}

.left-header,
.left-header-cell {
  position: sticky;
  left: 0;
  z-index: 15 !important;
  background-color: #f9f9f9;
  color: #2c2c2c;
  text-align: left;
  font-weight: 500;
  padding-left: 1rem;
  border-right: 1px solid #dfdfdf;

  width: 30%;
  max-width: 30%;
  min-width: 180px;
  white-space: normal;
  word-wrap: break-word;
}

.left-header{
  font-weight: bold;
}

.table-results td {
  font-size: 0.75rem;
  text-align: center;
  vertical-align: top;
  background-color: #ffffff;
  color: #4c4b4b;
  border-bottom: 0.5px solid #d0d0d0;
}

.type-divider {
  border-right: 1px solid #d1d1d1; 
}

.type-cell {
  width: 35%;
  max-width: 35%;
  min-width: 100px;
  text-align: center;
}

.inline-notes-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.inline-note {
  min-width: 90px;
  font-size: 0.75rem;
  background: #f9f9f9;
  border-radius: 4px;
  padding: 0rem;
  text-align: center;

   strong {
    color: #2b2b2b;
    font-weight: 600;
  }
}

.entry-date {
  color: #666;
  font-size: 0.7rem;
  margin-bottom: 2px;
}

.max-point-reached {
  color: #2e7d32 !important;
  font-weight: bold;
}

.below-threshold {
  color: #d32f2f !important;
  font-weight: bold;
}