:host {
  display: block;
  background-color: #f2f2f2 !important;
  overflow-x: hidden;
  width: 100%;
}

/* HERO WRAPPER */
.hero-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CONTENEDOR HERO */
.hero-background {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

/* IMAGEN */
.hero-image {
  width: 100%;
  max-width: 400px;
  display: block;
}

/* SALUDO */
.student-greeting {
  text-align: left;
  padding: 0 0 25px;
  width: 100%;
}

.greet-title {
  font-size: 2rem;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 4px;
}

.greet-subtitle {
  font-size: 0.95rem;
  font-weight: 500;
  color: #4b5563;
}

/* =====================
   RESPONSIVE
   ===================== */
@media (max-width: 768px) {
    .hero-wrapper {
    width: 100%;
    }

  .hero-image {
    max-width: 260px;
  }

  .greet-title {
    margin-top:1rem;
    font-size: 1.2rem;
  }

  .greet-subtitle {
    font-size: 0.9rem;
  }
}

@media (max-width: 490px) {
  .hero-background {
    margin: 4rem auto 0;
    width: 90%;
  }

  .student-greeting {
    width: 100%;
  }

  .greet-title,
  .greet-subtitle {
    text-align: left;
  }
}