/* =========================
   RECIPIENTS
========================= */

.notification-detail-content__recipients {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: .45rem;
}

.notification-detail-content__recipient {
  width: 100%;

  display: flex;
  align-items: center;

  gap: .65rem;

  padding:
    .55rem
    .65rem;

  border: 1px solid #e8eaf0;
  border-radius: .5rem;

  background: #fbfbfd;
}


/* =========================
   RECIPIENT AVATAR
========================= */

.notification-detail-content__recipient-avatar {
  width: 2rem;
  height: 2rem;

  flex: 0 0 auto;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background: #eeeaff;
  color: #6543df;

  font-size: .61rem;
  font-weight: 750;

  text-transform: uppercase;
}


/* =========================
   RECIPIENT INFO
========================= */

.notification-detail-content__recipient-info {
  min-width: 0;

  display: flex;
  flex-direction: column;

  gap: .12rem;
}

.notification-detail-content__recipient-info strong {
  overflow: hidden;

  color: #30374a;

  font-size: .63rem;
  font-weight: 650;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification-detail-content__recipient-info span {
  overflow: hidden;

  color: #858d9d;

  font-size: .54rem;

  text-overflow: ellipsis;
  white-space: nowrap;
}