<section class="assessment-types-page">

  <div class="assessment-types-page__container">

    <!-- HEADER -->
    <div class="assessment-types-page__section">

      <app-assessments-type-header
        (createAssessmentType)="openCreateAssessmentTypeModal()"
      ></app-assessments-type-header>

    </div>

    <!-- SUMMARY -->
    <div class="assessment-types-page__summary">

      <app-assessments-type-summary
        [totalAssessmentTypes]="totalAssessmentTypes"
        [activeAssessmentTypes]="activeAssessmentTypes"
        [assessmentTypesInUse]="assessmentTypesInUse"
      ></app-assessments-type-summary>

    </div>


    <!-- FILTERS -->
    <div class="assessment-types-page__section">

      <app-assessments-type-filters
        [searchTerm]="searchTerm"
        [selectedStatus]="selectedStatus"

        (searchTermChange)="handleSearchTermChange($event)"
        (statusChange)="handleStatusChange($event)"
        (search)="handleSearch()"
        (clearFilters)="handleClearFilters()"
      ></app-assessments-type-filters>

    </div>


    <!-- TABLE -->
    <div class="assessment-types-page__section">

      <app-assessments-type-table
        [assessmentTypes]="filteredAssessmentTypes"
        [isLoading]="isLoading"

        (viewAssessmentType)="openAssessmentTypeDetail($event)"
        (editAssessmentType)="openEditAssessmentTypeModal($event)"
        (deleteAssessmentType)="confirmDeleteType($event)"
      ></app-assessments-type-table>

    </div>

  </div>

</section>


<!-- CREATE / EDIT -->
<app-assessment-type-form-modal
  *ngIf="showAssessmentTypeFormModal"

  [show]="showAssessmentTypeFormModal"
  [mode]="assessmentTypeFormMode"
  [assessmentType]="selectedAssessmentType"

  (createAssessmentType)="handleCreateAssessmentType($event)"
  (updateAssessmentType)="handleUpdateAssessmentType($event)"
  (close)="closeAssessmentTypeFormModal()"
></app-assessment-type-form-modal>


<!-- DETAIL -->
<app-assessment-type-detail-modal
  *ngIf="showAssessmentTypeDetailModal"

  [show]="showAssessmentTypeDetailModal"
  [assessmentType]="selectedAssessmentType"

  (close)="closeAssessmentTypeDetailModal()"
></app-assessment-type-detail-modal>


<!-- GLOBAL MODAL -->
<app-modal
  [showModal]="modal.show"
  [message]="modal.message"
  [isError]="modal.isError"
  [isSuccess]="modal.isSuccess"
  [isInfo]="modal.isInfo"
  [showButtons]="modal.showButtons ?? false"
  (confirmAction)="modal.confirm?.()"
  (close)="modal.close()"
>
</app-modal>