<section
  class="scheduled-meetings-summary"
  aria-label="Resumen de clases"
>
  <div class="summary-grid">
    <article
      *ngFor="let item of summaryItems; let last = last"
      class="summary-item"
      [class.summary-item--last]="last"
    >
      <div
        class="summary-icon"
        [ngClass]="'summary-icon--' + item.variant"
      >
        <span
          class="material-icons"
          aria-hidden="true"
        >
          {{ item.icon }}
        </span>
      </div>

      <div class="summary-information">
        <p class="summary-label">
          {{ item.label }}
        </p>

        <p class="summary-value">
          {{ item.value }}
        </p>
      </div>
    </article>
  </div>
</section>