<section class="selected-date-time">
  <div class="booking-title-absolute">
    <h2 class="title-date">Seleccione una hora</h2>
  </div>
  
  <div class="ecuador-time-display">
    <strong>Hora actual en Ecuador:</strong>
    <span>{{ ecuadorTime }}</span>
  </div>
  
  <!-- <button class="scroll-arrow-up" aria-label="Scroll up">
    <i class="fas fa-chevron-up"></i>
  </button> -->

  <div class="time-slots" #timeSlotList #timeSlotsRef>
    <div *ngIf="timeSlots.length === 0">
      <p>Horarios no disponibles</p>
    </div>

    <div *ngFor="let time of timeSlots; let i = index"
        class="time-slot"
        [class.disabled]="time.isDisabled"
        [title]="time.isDisabled ? 'Horario no disponible' : ''"
        (mouseenter)="hoverIndex = i"
        (mouseleave)="hoverIndex = null">

        <div class="time-text-container">
          <span class="time-text">
            <ng-container *ngIf="time.isDisabled; else normalSlot">
              Horario no disponible
            </ng-container>
            <ng-template #normalSlot>
              <ng-container *ngIf="time.localhour === time.label; else twoHours">
                {{ time.localhour }}
              </ng-container>
              <ng-template #twoHours>
                {{ time.label }} / {{ time.localhour }}
              </ng-template>
            </ng-template>
          </span>
        </div>

        <div class="confirm-box" *ngIf="hoverIndex === i && !time.isDisabled" (click)="onTimeSlotClick(time)">
          Confirmar
        </div>
    </div>
  </div>

  <!-- <button class="scroll-arrow-down" aria-label="Scroll down">
    <i class="fas fa-chevron-down"></i>
  </button> -->
</section>