<nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/home">
      <img src="/assets/logo header.png" alt="Logo">
    </a>
    <a *ngIf="!(isLoggedIn$ | async)" class="navbar-item" routerLink="/home" routerLinkActive="is-active">
      Home
    </a>
  </div>

  <div class="navbar-end">
    <div class="buttons">
      
      <a *ngIf="!isLoggedIn && currentPage !== 'register'" class="button is-primary" routerLink="/register">
        <strong>Sign up</strong>
      </a>

      <a *ngIf="!isLoggedIn && currentPage !== 'login'" class="button is-light" routerLink="/login">
        Log in
      </a>

      <a *ngIf="isLoggedIn" class="button logout-button" (click)="openLogoutModal()">
        Log out
      </a>
    </div>
  </div>
</nav>


  <!-- Modal de cerrar sesión -->
  <div *ngIf="showLogoutModal" class="modal-overlay">
    <div class="modal-content">
      <p>Are you sure you want to log out?</p>
      <div class="modal-buttons">
        <button class="button is-danger" (click)="onConfirmLogout()">Yes</button>
        <button class="button is-light" (click)="closeLogoutModal()">Cancel</button>
      </div>
    </div>
  </div>
