.navbar {
    background-color: #0c38a7;
    padding: 0.5rem 1rem;
  }
  
  .navbar-item {
    font-size: 1.3rem;
    color: #b1acac; 
    font-weight: 500;
    margin-right: 1.5rem; 
    background-color: transparent;
    transition: color 0.3s ease;
  }
  
  .navbar-item:hover {
    color: #ffffff; 
    font-weight: 500;
    background-color: transparent;
  }

  .navbar-item.is-active {
    color: #ffffff; 
    background-color: transparent; 
  }
  
  .navbar-item img {
    max-height: 70px; 
    max-width: auto; 
  }
  
  .navbar-start {
    margin-left: 1rem; 
  }

  .navbar-dropdown {
    background-color: #0c38a7;
  }
  
  .navbar-link::after {
    display: none;
  }
  
  .button.is-primary {
    background-color: #3273dc; 
    border-color: #3273dc;
    color: #ffffff; 
    border-radius: 25px; 
    padding: 0.5rem 1.5rem; 
    font-weight: bold;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.3s ease; 
  }
  
  .button.is-primary:hover {
    background-color: #275bb5; 
    transform: scale(1.05); 
  }
  
  .button.is-light {
    background-color: #ffffff; 
    border-color: #dbdbdb;
    color: #3273dc;
    border-radius: 25px; 
    padding: 0.5rem 1.5rem; 
    font-weight: bold;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.3s ease; 
  }
  
  .button.is-light:hover {
    background-color: #f5f5f5; 
    transform: scale(1.05); 
  }
  
  .navbar-burger {
    display: none; 
  }

  .navbar-menu {
    background-color: #0c38a7;
  }

  .navbar-end {
    display: flex;
    justify-content: end;
  }

  .logout-button {
    background: transparent;
    color: white;
    border: 1px solid white;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: white;
      color: black;
    }
  }
  
  @media (max-width: 1024px) {
    .navbar-burger {
      display: flex; 
      color: #ffffff; 
      height: 2rem; 
      width: 2rem; 
      align-items: center;
      justify-content: center;
    }
  
    .navbar-burger span {
      background-color: #ffffff; 
      height: 3px; 
      width: 1.65rem; 
      margin: 0.14rem 0; 
      display: block; 
    }
  }

  @media (max-width: 768px) {
    .navbar-item img {
      max-height: 50px;
    }
  
    .navbar-burger {
      height: 2rem;
      width: 2rem;
    }
  }