.contact-title {
    padding: 50px;
    text-align: center; 
    font-size: 2.2rem;  
    color: #333333; 
    background-color: white;
    font-weight: bold;
    
  }

  h2{
    margin: 0;
    color: #333333;
    font-size: 1.6rem; 
    font-weight: bold;
    margin-top: 2rem;
  }

.contact-container {
    background-color: white;
    padding-top: 30px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh; 
    justify-content: center; 
    width: 100%; 
  }
  
  .contact-block {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 15px;
    width: 50%; 
    max-width: 1000px;
  }

  .contact-block .text-content {
    display: flex;
    flex-direction: column; 
  }
  
  .contact-block p, .contact-block span {
    margin: 0;
    color: #333333;
    font-size: 1.2rem;
  }
  
  .contact-block span {
    font-weight: bold;
    font-size: 1.2rem; 
    color: #333333; 
    margin-top: 10px; 
    display: block;
  }
  
  .contact-block {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 15px;
    width: 50%; 
    max-width: 1000px;
}

.contact-block i:not(.fa-linkedin):not(.fa-youtube):not(.fa-instagram):not(.fa-tiktok) {
    font-size: 2rem;
    margin-right: 25px;
    background: linear-gradient(to right, #007bff, #6a0dad); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}


  .social-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px; 
  }

  .social-item a {
    display: flex;
    align-items: center;
    text-decoration: none; 
    color: #333333; 
    transition: color 0.3s ease; 
  }
  
  .social-item p:hover {
    color: #007bff; 
  }
  
  .social-item i {
    font-size: 34px;
    margin-right: 25px; 
  }
  
  .fa-linkedin {
    color: #0e76a8 ; 
  }
  
  .fa-youtube {
    color: #ff0000; 
  }
  
  .fa-instagram {
    color: #c32aa3;
  }
  
  .fa-tiktok {
    color: #000000; 
  }
  
  
  
  
