<section class="section">
  <h1 class="reports-progress-header reports-progress-title">
    Reportes de Usuario
  </h1>

  <app-report-form (filtersSubmitted)="handleFormSubmit($event)" />

    <div class="report-table-wrapper">
      <app-report-user-table
        [users]="users"
        [currentPage]="currentPage"
        [itemsPerPage]="itemsPerPage"
        [totalUsers]="totalUsers"
        [totalPages]="totalPages"
        (pageChanged)="handlePageChange($event)"
        (stageClicked)="handleStageClick($event.studentId, $event.stageDescription)"
      />
    </div>
</section>

<app-modal
  [showModal]="modal.show"
  [message]="modal.message"
  [isError]="modal.isError"
  [isSuccess]="modal.isSuccess"
  [isInfo]="modal.isInfo"
  [isContentViewer]="modal.isContentViewer ?? false"
  [showButtons]="modal.showButtons ?? false"
  [title]="modal.title || ''"
  (confirmAction)="modal.confirm && modal.confirm()"
  (close)="modal.close()"
/>
