<h2 class="title stage">Progresos por Stage</h2>

<section class="stage-assessment-section">

  <!-- FORMULARIO-->
  <app-stage-assessment-filter
    (stageSelected)="onStageSelected($event)">
  </app-stage-assessment-filter>

  <!-- BUSCADOR(sobre TODA la lista) -->
  <div class="search-wrapper" *ngIf="stageProgressList.length > 0">
    <input
      type="text"
      class="search-input"
      placeholder="Buscar estudiante..."
      [(ngModel)]="searchTerm"
      (input)="onSearch()"
    />
  </div>

  <div class="content-wrapper">
    <app-stage-assessment-results
      *ngIf="pagedList.length > 0"
      [progressList]="pagedList">
    </app-stage-assessment-results>
  </div>

   <!-- PAGINATION -->
  <div class="pagination" *ngIf="total > 0">
    <button class="pg-btn" (click)="onPrev()" [disabled]="page === 1">‹</button>

    <span class="pg-info">
      Página {{ page }} · Mostrando {{ startIndex }} – {{ endIndex }} de {{ total }}
    </span>

    <button class="pg-btn" (click)="onNext()" [disabled]="page * limit >= total">›</button>
  </div>

</section>