<section class="section">
  <h1 class="reports-progress-header reports-progress-title">
    Notificaciones
  </h1>

  <app-notification-panel
    (sendOptionSelected)="onSendOptionSelected($event)"
  ></app-notification-panel>

  <!-- Selectores dinámicos según la opción seleccionada -->
  <div class="selectors-wrapper">
    <app-user-selector
      *ngIf="selectedAction === 'user'"
      (userSelected)="handleUserSelect($event)"
      [reset]="resetChildren"
    ></app-user-selector>

    <app-stage-selector
      *ngIf="selectedAction === 'stage'"
      [stages]="stages"
      (stageSelected)="handleStageSelect($event)"
      [reset]="resetChildren"
    ></app-stage-selector>
  </div>
</section>