.section {
  background-color: #f2f2f2;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  
  @media (max-width: 768px) {
    padding: .75rem;
  }

}

.reports-progress-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
  color: rgb(53, 53, 53);
  z-index: 10;
  text-align: center;
}

.reports-progress-title {
  font-size: 1.5rem;
  line-height: 75px;
  color: #181818;
  font-weight: bold;
}

app-assessment-form {
  width: 100%;
  margin-top: 3rem;
  
  @media (max-width: 768px) {
    margin-top: 5rem;
  }

}

.assessment-table-wrapper {
  width: 75%;
  overflow-x: auto;
  padding: 0;
  box-sizing: border-box;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.no-results {
  font-size: 0.75rem;
  color: #666;
  text-align: center;
}

.box.has-background-light {
  width: 250px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-radius: 8;
  background-color: white !important;
}

.box.has-background-light p {
  font-size: 1rem !important;
  line-height: 1.2;
  color: #1b1b1b !important;
  text-align: center;
  margin-bottom: 0.25rem;
}

.box.has-background-light p.has-text-grey-dark {
  font-size: 0.8rem !important;
}

.box.has-background-light span {
  text-align: center;
  font-size: 0.8rem !important;
  color: #6a6969 !important;
}

@media screen and (max-width: 492px) {

  .box.has-background-light {
    width: 100% !important;
  }

  .box.has-background-light p {
    font-size: 0.8rem !important;
  }

  .box.has-background-light span {
    font-size: 0.8rem !important;

  }
}