.section {
  background-color: #f2f2f2;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.reports-progress-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
  color: rgb(53, 53, 53);
  z-index: 10;
  text-align: center;
}

.reports-progress-title {
  font-size: 1.5rem;
  line-height: 75px;
  color: #333;
  font-weight: bold;
}

app-assessment-form {
  width: 100%;
  margin-top: 3rem;
}

.assessment-table-wrapper {
  width: 75%;
  overflow-x: auto;
  padding: 0;
  box-sizing: border-box;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.no-results {
  font-size: 0.75rem;
  color: #666;
  text-align: center;
}