<section class="section">
    <h1 class="reports-progress-header reports-progress-title">
        Evaluar Estudiante
    </h1>

  <app-assessment-form
    [instructorId]="instructorId"
    [blockedTypes]="blockedTypes"
    [availableResources]="transformedResources"
    (assessmentCreated)="handleAssessmentCreated($event)"
    (studentSelected)="fetchAssessments($event.studentId.toString(), $event.stageId.toString())"
  ></app-assessment-form>

  <div class="assessment-table-wrapper">
    <app-assessment-table 
      [assessments]="assessments"
      [maxPointsAssessment]="maxPointsAssessment"
     />
  </div>
  <div class="no-results" *ngIf="hasSearched && assessments.length === 0">
    No hay evaluaciones disponibles para este estudiante.
  </div>

</section>

 <app-modal
    [showModal]="modal.show"
    [message]="modal.message"
    [isError]="modal.isError"
    [isSuccess]="modal.isSuccess"
    [isInfo]="modal.isInfo"
    [showButtons]="modal.showButtons ?? false"
    (confirmAction)="modal.confirm && modal.confirm()"
    (close)="modal.close()"
  />