// General Container Styles
:host {
  display: block;
  height: 100vh;

  background-color: white;
  padding: 0rem;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
  width: 100%;
  margin-top: 1.5rem;
  padding: 0rem;
  border-radius: 8px;
  text-align: center;
  margin: auto;
}

h2.title {
  position: fixed; 
  top: 0; 
  left: 0px;
  color: rgb(53, 53, 53);
  width: 100%; 
  background: white;
  background: linear-gradient(#f6f6fb, #ece7f6);
  z-index: 10; 
  text-align: center;
  font-family: 'Poppins', sans-serif; 
}

.title.stage{
  font-size: 1.7rem;
  line-height: 75px;
  color: #333;
  font-weight: bold;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.button.is-primary {
  color: #7743a8;
  font-size: .9rem;
  background-color: transparent;
  border: .5px solid #7743a8;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: block;   
  margin: 10rem auto 0 auto; 
}

.button.is-primary:hover {
  color: #ffffff;
  background-color: #7743a8;
  border-color: #7743a8;
}

// Table Styles

.table {
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 50%;
  table-layout: fixed;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  border: .5px solid #dbdee1c5;
}

.table th, 
.table td {
  text-align: center;
  vertical-align: middle;
}

/* Estilos para los encabezados (th) */
.table th {
  background-color: #226abc;
  color: white;
  padding: .7rem .5rem;
  font-size: .9rem;
  border-bottom: 1px solid #ddd;
}

/* Estilos para las celdas (td) */
.table td {
  background-color: white;
  color: black;
  padding: 0.7rem 0.4rem;
  font-size: .9rem;
  border-bottom: 1px solid #dad8d8;
}

.table th:nth-child(1), 
.table td:nth-child(1) {
  width: 10%;
}

.table th:nth-child(2), 
.table td:nth-child(2) {
  width: 25%;
}

.table th:nth-child(3), 
.table td:nth-child(3) {
  width: 27%;
}

.table tbody tr:nth-child(even) td {
  background-color: #f0f0f0;
}

/* Estilos para los botones */
.buttons {
  display: flex;
  justify-content: center;
  gap: .8rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .6rem;
  border: .5px solid transparent;
  background-color: transparent;
  font-size: .7rem;
  cursor: pointer;
  padding: .3rem .8rem;
  transition: all 0.3s ease;
}

.button:hover {
  opacity: 0.8;
}

.edit-button {
  color: #4a90e2;
  border-color: #4a90e2;
}

.edit-button i {
  font-size: .7rem;
}

.edit-button:hover {
  background-color: #4a90e2;
  color: white;
}

.delete-button {
  color: #7743a8;
  border-color: #7743a8;
}

.delete-button i {
  font-size: .7rem;
}

.delete-button:hover {
  background-color: #7743a8;
  color: white;
}

/* ESTILOS PARA MODAL DE CREAR Y EDITAR STAGES */

.modal {
  .modal-background {
    background-color: rgba(38, 37, 37, 0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }

  .modal-content {
    max-width: 400px;
    max-height: 100vh;
    margin: auto;
    padding: 1rem .4rem;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .box {
    background-color: transparent;
    box-shadow: none;
    height: auto;
  }

  h3.title {
    color: rgb(83, 82, 82);
    font-size: 1.5rem;
  }

  .label {
    color: #373636;
    font-weight: 500;
    margin-left: 5px;
    font-size: .9rem;
    text-align: left;
  }

  .input,
  .textarea {
    background-color: #ffffff;
    resize: none;
    height: 35px;
    color: #393535;
    border: .5px solid #c7c7c7;
    padding: 0.55rem;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }

  .textarea {
    min-height: 50px;
    height: 90px;
    background-color: #ffffff;
  }

  .input:focus,
  .textarea:focus {
    background-color: #ffffff;
    outline: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Estilos para los botones dentro del modal de crear, editar y eliminar stages */

/* Contenedor de los botones */
.buttons-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 1rem; 
  margin-top: 1.5rem;
}

/* Botón de crear stage */
.create-stage-btn {
  width: 100%;
  background-color: #3273dc;
  color: white;
  font-size: .9rem;
  padding: .7rem 2.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.create-stage-btn:hover {
  background-color: #275bb5;
}

/* Botón de actualizar stage */
.update-stage-btn {
  width: 100%;
  background-color: #44bb6c;
  color: white;
  font-size: .9rem;
  padding: .7rem 2.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.update-stage-btn:hover {
  background-color:  #3aa55f;
}

/* Botón de cancelar stage */
.cancel-stage-btn {
  width: 100%;
  background-color: transparent;
  color: rgb(127, 56, 198);
  font-size: .9rem;
  padding: .7rem 2.5rem;
  border-radius: 5px;
  border: .5px solid rgb(127, 56, 198);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cancel-stage-btn:hover {
  background-color: rgb(110, 44, 176);
  color: white;
}
}

/* MODAL DE DELETE*/

.modal-content2 {
  max-width: 650px;
  margin: auto;
  padding: 1.7rem;
  background-color: rgba(234, 234, 234, 0.857);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.28);
}

.delete-modal-box {
  background-color: transparent;
  box-shadow: none;
}

.delete-modal-title {
  text-align: left;
  font-size: 1.4rem;
  color: rgb(35, 34, 34);
  margin-bottom: .5rem;
}

.delete-modal-text {
  text-align: left;
  font-size: 1.05rem;
  color: #363535;
  margin-bottom: 2rem;
}

.delete-modal-actions {
  display: flex;
  justify-content: center;
  gap: 1.1rem;
}

/* Botón de Delete */
.delete-modal-btn-delete {
  padding: .85rem 5rem;
  font-size: .9rem;
  border-radius: 5px !important;
  background-color: #3273dc;
  color: white;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #275bb5;
  }
}

/* Botón de Cancel */
.delete-modal-btn-cancel {
  padding: .8rem 5rem;
  font-size: .9rem;
  border-radius: 5px !important;
  background-color: rgb(132, 65, 199);
  color: #ffffff;
  border: 1px solid #6c727d;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: rgb(110, 44, 176);
    color: white;
  }
}

.modal.is-active .modal-content2 {
  animation: pop-up 0.3s ease-in-out forwards;
  transform-origin: center;
  opacity: 1;
}

@keyframes pop-up {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  80% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

/* Estilos del modal de notificación */
.modal-notification {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.modal-notification-background {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-notification-content {
  position: relative;
  z-index: 1001;
  max-width: 400px;
  width: 80%; 
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.title-notification-success {
  color: #44bb6c; 
}

.title-notification-error {
  color: #d9534f; 
}

.title-notification {
  font-size: 1.2rem;
}

/* RESPONSIVE PARA TABLA DE LISTA DE STAGES Y MODAL CREAR STAGES */
@media (max-width: 768px) {

  .container {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
  }

  h2.title {
   font-size: 1.6rem;
  }


  .button.is-primary {
    margin-top: 5rem;
}


  /*TABLA*/
  h2.title{
    left: 0; 
    width: 100%; 
  }

  .table {
    margin-bottom: 2rem;
    width: 90%;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #dbdee1c5;

    th:nth-child(2), td:nth-child(2) {
      width: 52%;
    }

    th:nth-child(3), td:nth-child(3) {
      width: 40%;
    }

    th, td {
      text-align: center;
      vertical-align: middle;
    }

    th {
      padding: .3rem;
      font-size: .8rem;
    }

    td {
      padding: 0.3rem;
      font-size: .8rem;
    }


    .buttons {
      gap: 0.5rem;

      .button {
        gap: .3rem;
        font-size: .5rem;
        padding: 0.3rem .75rem;
      }

      .edit-button {

        i {
          font-size: .75rem;
        }
      }

      .delete-button {
        color: #7743a8;
        border-color: #7743a8;

        i {
          font-size: .75rem;
        }
      }
    }
  }

/* RESPONSIVE PARA MODAL DE DELETE*/

.modal-content2 {
  max-width: 400px;
  padding: 1.5rem;
  background-color: rgba(234, 233, 236, 0.937);
  border: .5px solid grey;
}

.delete-modal-title {
  font-size: 1.2rem;
  margin-bottom: .4rem;
  margin-left: 2px;
}

.delete-modal-text {
  font-size: .9rem;
  margin-bottom: 2rem;
  margin-left: 3px;
}

.delete-modal-actions {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* Botón de Delete */
.delete-modal-btn-delete {
  padding: .78rem 4.2rem;
  font-size: .9rem;
  margin-bottom: .3rem;
  border-radius: 5px !important;
  background-color: #3273dc;
  color: white;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #275bb5;
  }
}

/* Botón de Cancel */
.delete-modal-btn-cancel {
  padding: .7rem 4.2rem;
  font-size: .9rem;
  margin-bottom: .3rem;
  background-color: transparent;
  color: rgb(132, 65, 199);
  border: 1px solid rgb(132, 65, 199);
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: rgb(110, 44, 176);
    color: white;
  }
}
}

 /* RESPONSIVE PARA TABLA*/
@media (max-width: 492px){
  .container {
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100%;
}

  h3.title {
    font-size: 1.6rem;
   }

   .button.is-primary {
     padding: 0.5rem .8rem;
     font-size: 0.85rem;
     border: .01rem solid;
     background-color: #ffffff;
     margin-top: 7rem;
     margin-bottom: 1.5rem;
 }

   /*TABLA*/

   .table {
     margin: 0 auto;
     width: 90%;
     border-radius: 5px;
     border: none;
     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

     th {
       padding: .3rem;
       font-size: .6rem;
     }

     td {
       padding: 0.25rem;
       font-size: .7rem;
     }


     .buttons {
       gap: .5rem;

       .button {
         gap: .3rem;
         font-size: .4rem;
         padding: 0.25rem;
       }

       .edit-button {

         i {
           font-size: .4rem;
         }
       }

       .delete-button {
         color: #7743a8;
         border-color: #7743a8;
         i {
           font-size: .4rem;
         }
       }
     }
   }

}

/* RESPONSIVE DEL MODAL DE BORRAR */

@media (max-width: 492px) {

  .modal-background2 {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content2 {
    width: 300px;
    margin: auto;
    padding: 1.2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  }

  h2.delete-modal-title {
    font-size: 1.3rem;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 0px;
  }

  .delete-modal-text{
    font-size: .85rem;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 10px;
  }

  .delete-modal-actions{
    display: flex;
    flex-direction: column;
  }

  .delete-modal-actions {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    justify-content: flex-end;
  }

  .delete-modal-btn-delete,
  .delete-modal-btn-cancel {
    width: 100%;
    padding: .5rem .75rem;
    font-size: .8rem;
  }


  /* RESPONSIVE DEL MODAL CREAR STAGES */

  .modal {
    .modal-background {
      background-color: rgba(38, 37, 37, 0.3);
  }

    .modal-content {
      max-width: 300px;
      padding: .5rem .2rem;
      background-color: rgb(249, 249, 249);
    }

    .box {
      background-color: transparent;
      box-shadow: none;
      height: auto;
    }

    h3.title {
      color: rgb(83, 82, 82);
      font-size: 1rem;
    }


    .label {
      color: #373636;
      font-weight: 500;
      margin-left: 5px;
      font-size: .65rem;
    }

    .input,
    .textarea {
      resize: none;
      height: 30px;
      padding: 0.55rem;
      font-size: .85rem;
    }

    .textarea{
      min-height: 50px;
      height: 90px;
    }

    .input:focus,
    .textarea:focus {
      background-color: #ffffff;
      border-color: #af7be0;
      outline: none;
    }

    .buttons-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: .3rem; 
      margin-top: 1rem;
    }
  
    .button {
      font-size: .9rem;
      padding: .7rem;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
  
    .create-btn {
      background-color: #3273dc;
      color: white;
    }
  
    .create-btn:hover {
      background-color: #275bb5;
    }
  
    .cancel-btn {
      background-color: transparent;
      color: rgb(127, 56, 198);
    }
  
    .cancel-btn:hover {
      background-color: rgb(110, 44, 176);
    }
  }


}

/* Estilos comunes para los toasts */
.toast {
  animation: fadeInOut 3s ease-in-out forwards;
}

/* Animación de entrada y salida */
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}