<div class="container">
  <h2 class="title is-3">Stages List</h2>

  <button (click)="openCreateModal()" class="button is-primary mb-4">Crear Nuevo Stage</button>

  <table class="table is-fullwidth is-striped">
    <thead>
    <tr>
      <th>Número</th>
      <th>Descripcion</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stage of stages">
      <td>{{ stage.number }}</td>
      <td>{{ stage.description }}</td>
      <td>
        <div class="buttons">
          <button (click)="openEditModal(stage)" class="button is-warning is-light">Edit</button>
          <button (click)="openDeleteModal(stage)" class="button is-danger is-light">Delete</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Create Stage Modal -->
  <div id="createModal" class="modal" [ngClass]="{'is-active': isCreateModalOpen}">
    <div class="modal-background" (click)="closeCreateModal()"></div>
    <div class="modal-content">
      <div class="box">
        <h2 class="title is-4">Create New Stage</h2>
        <form (ngSubmit)="createStage()" #createStageForm="ngForm">
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="number" [(ngModel)]="newStage.number" name="name" required>
            </div>
          </div>
          <div class="field">
            <label class="label">Description</label>
            <div class="control">
              <textarea class="textarea" [(ngModel)]="newStage.description" name="description" required></textarea>
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-primary">Create</button>
            </div>
            <div class="control">
              <button type="button" class="button" (click)="closeCreateModal()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="closeCreateModal()"></button>
  </div>

  <!-- Edit Stage Modal -->
<!--  <div id="editModal" class="modal" [ngClass]="{'is-active': isEditModalOpen}">-->
<!--    <div class="modal-background" (click)="closeEditModal()"></div>-->
<!--    <div class="modal-content">-->
<!--      <div class="box">-->
<!--        <h2 class="title is-4">Edit Stage</h2>-->
<!--        <form (ngSubmit)="updateStage()" #editStageForm="ngForm">-->
<!--          <div class="field">-->
<!--            <label class="label">Name</label>-->
<!--            <div class="control">-->
<!--              <input class="input" type="text" [(ngModel)]="selectedStage?.number" name="name" required>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="field">-->
<!--            <label class="label">Description</label>-->
<!--            <div class="control">-->
<!--              <textarea class="textarea" [(ngModel)]="selectedStage?.description" name="description" required></textarea>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="field is-grouped">-->
<!--            <div class="control">-->
<!--              <button type="submit" class="button is-primary">Update</button>-->
<!--            </div>-->
<!--            <div class="control">-->
<!--              <button type="button" class="button" (click)="closeEditModal()">Cancel</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--    <button class="modal-close is-large" aria-label="close" (click)="closeEditModal()"></button>-->
<!--  </div>-->

  <!-- Delete Stage Modal -->
  <div id="deleteModal" class="modal" [ngClass]="{'is-active': isDeleteModalOpen}">
    <div class="modal-background" (click)="closeDeleteModal()"></div>
    <div class="modal-content">
      <div class="box">
        <h2 class="title is-4">Confirm Delete</h2>
        <p>Are you sure you want to delete the stage "{{ selectedStage?.number }}"?</p>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-danger" (click)="deleteStage()">Delete</button>
          </div>
          <div class="control">
            <button class="button" (click)="closeDeleteModal()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="closeDeleteModal()"></button>
  </div>
</div>
