// General Container Styles
:host {
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  padding: 1rem;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin-top: 1.5rem;
  padding: 1rem  4.7rem 1rem .5rem;
  border-radius: 8px;
  text-align: center;
  margin: auto;
}

h2.title {
  position: fixed; 
  top: 0; 
  left: 70px;
  color: rgb(53, 53, 53);
  width: 100%; 
  width: calc(100% - 70px);
  background: white;
  background:linear-gradient( #e2e0ebe2, #bcb4df8a );
  backdrop-filter:blur(15px);
  z-index: 10; 
  text-align: center;
  padding: 2.2rem 0;
  font-family: 'Poppins', sans-serif; 
}

.button.is-primary {
  margin-top: 7rem;
  color: #7743a8;
  font-size: .9rem;
  background-color: transparent;
  border: 1px solid #7743a8;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: block;   
  margin: 7rem auto 0 auto; 
}

.button.is-primary:hover {
  color: #ffffff;
  background-color: #7743a8;
  border-color: #7743a8;
}

// Table Styles

.table {
  margin: 1rem auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 82%;
  table-layout: fixed;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  border: .5px solid #dbdee1c5;
}

.table th, 
.table td {
  text-align: center;
  vertical-align: middle;
}

/* Estilos para los encabezados (th) */
.table th {
  background-color: #226abc;
  color: white;
  padding: .5rem;
  font-size: .9rem;
  border-bottom: 1px solid #ddd;
}

/* Estilos para las celdas (td) */
.table td {
  background-color: white;
  color: black;
  padding: 0.45rem;
  font-size: .9rem;
  border-bottom: 1px solid #dad8d8;
}

.table th:nth-child(1), 
.table td:nth-child(1) {
  width: 8%;
}

.table th:nth-child(2), 
.table td:nth-child(2) {
  width: 62%;
}

.table th:nth-child(3), 
.table td:nth-child(3) {
  width: 35%;
}

.table tbody tr:nth-child(even) td {
  background-color: #e4e4e4;
}

/* Estilos para los botones */
.buttons {
  display: flex;
  justify-content: center;
  gap: .8rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .6rem;
  border: .5px solid transparent;
  background-color: transparent;
  font-size: .7rem;
  cursor: pointer;
  padding: .3rem .8rem;
  transition: all 0.3s ease;
}

.button:hover {
  opacity: 0.8;
}

.edit-button {
  color: #4a90e2;
  border-color: #4a90e2;
}

.edit-button i {
  font-size: .8rem;
}

.edit-button:hover {
  background-color: #4a90e2;
  color: white;
}

.delete-button {
  color: #7743a8;
  border-color: #7743a8;
}

.delete-button i {
  font-size: .8rem;
}

.delete-button:hover {
  background-color: #7743a8;
  color: white;
}


/* ESTILOS PARA MODAL DE CREAR Y EDITAR STAGES */

.modal {
  .modal-background {
    background-color: rgba(38, 37, 37, 0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

  .modal-content {
    max-width: 400px;
    max-height: 100vh;
    margin: auto;
    padding: 1.1rem .4rem;
    background-color: rgba(225, 223, 227, 1);
    border-radius: 15px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .box {
    background-color: transparent;
    box-shadow: none;
    height: auto;
  }

  h2.title {
    color: rgb(83, 82, 82);
    font-size: 1.5rem;
  }

  .label {
    color: #373636;
    font-weight: 500;
    margin-left: 5px;
    font-size: .9rem;
    text-align: left;
  }

  .input,
  .textarea {
    background-color: #e0dcdcad;
    resize: none;
    height: 35px;
    color: #393535;
    border: 1px solid #cccccc;
    padding: 0.55rem;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }

  .textarea{
    min-height: 50px;
    height: 120px;
    background-color: #e0dcdcad;
  }

  .input:focus,
  .textarea:focus {
    background-color: #d6d3d3;
    border-color: #7743a8;
    outline: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
  }

  /* estilos para quitar los selectores del input number */
  /* Para WebKit browsers (Chrome, Safari) */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Para Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .field.is-grouped {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .6rem;
    margin-top: 2rem;
    width: 100%;
    margin-left: 0px;
  }

  .button {
    width: 80%;
    font-size: .9rem;
    padding: 1rem 4.2rem;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .create-btn {
    padding: 1rem 3rem;
    margin-top: -.05rem;
    background-color: #3273dc;
    color: white;
    border: none;

    &:hover {
      background-color: #275bb5;
    }
  }

  .cancel-btn {
    padding: 1rem 2.7rem;
    background-color: rgb(127, 56, 198);
    color: white;
    border: none;

    &:hover {
      background-color: rgb(110, 44, 176);
    }
  }
}


/* MODAL DE DELETE*/
/* General styles for delete modal */

.modal-content2 {
  max-width: 650px;
  margin: auto;
  padding: 1.7rem;
  background-color: rgba(234, 234, 234, 0.857);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.28);
}

.delete-modal-box {
  background-color: transparent;
  box-shadow: none;
}

.delete-modal-title {
  font-size: 1.4rem;
  color: rgb(35, 34, 34);
  margin-bottom: .5rem;
}

.delete-modal-text {
  font-size: 1.05rem;
  color: #363535;
  margin-bottom: 2rem;
}

.delete-modal-actions {
  display: flex;
  justify-content: center;
  gap: .5rem;
}

/* Bot贸n de Delete */
.delete-modal-btn-delete {
  padding: .85rem 5rem;
  font-size: .9rem;
  border-radius: 5px !important;
  background-color: #3273dc;
  color: white;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #275bb5;
  }
}

/* Bot贸n de Cancel */
.delete-modal-btn-cancel {
  padding: .8rem 5rem;
  font-size: .9rem;
  border-radius: 5px !important;
  background-color: rgb(132, 65, 199);
  color: #ffffff;
  border: 1px solid #6c727d;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: rgb(110, 44, 176);
    color: white;
  }
}

.modal.is-active .modal-content2 {
  animation: pop-up 0.3s ease-in-out forwards;
  transform-origin: center;
  opacity: 1;
}

@keyframes pop-up {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  80% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}


/* RESPONSIVE PARA TABLA DE LISTA DE STAGES Y MODAL CREAR STAGES */
@media (max-width: 768px) {

  .container {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
  }

  h2.title {
   font-size: 1.6rem;
  }


  .button.is-primary {
    color: #7743a8;
    background-color: transparent;
    border: 1.5px solid #7743a8;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 0.4rem 1rem;
    font-size: 0.75rem;
    margin-left: 0%;
}


  /*TABLA*/
  h2.title{
    left: 0; 
    width: 100%; 
  }

  .table {
    margin-bottom: 2rem;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #dbdee1c5;

    th:nth-child(2), td:nth-child(2) {
      width: 52%;
    }

    th:nth-child(3), td:nth-child(3) {
      width: 40%;
    }

    th, td {
      text-align: center;
      vertical-align: middle;
    }

    th {
      padding: .5rem;
      font-size: .8rem;
    }

    td {
      padding: 0.45rem;
      font-size: .8rem;
    }


    .buttons {
      gap: 0.5rem;

      .button {
        gap: .4rem;
        font-size: .5rem;
        padding: 0.3rem .75rem;
      }

      .edit-button {

        i {
          font-size: .75rem;
        }
      }

      .delete-button {
        color: #7743a8;
        border-color: #7743a8;

        i {
          font-size: .75rem;
        }
      }
    }
  }

  /*MODAL CREAR STAGES*/
  .modal {
    .modal-content {
      max-width: 400px;
      max-height: 100vh;
      margin: auto;
      padding: 1.1rem .4rem;
    }

    .box {
      background-color: transparent;
      box-shadow: none;
      height: auto;
    }

    h2.title {
      color: rgb(83, 82, 82);
      font-size: 1.5rem;
    }


    .label {
      color: #373636;
      font-weight: 500;
      margin-left: 5px;
      font-size: .9rem;
    }

    .input,
    .textarea {
      background-color: #e0dcdcad;
      resize: none;
      height: 35px;
      color: #393535;
      border: 1px solid #cccccc;
      padding: 0.55rem;
      border-radius: 5px;
      font-size: 1rem;
      transition: background-color 0.3s ease, border-color 0.3s ease;
    }

    .textarea{
      min-height: 50px;
      height: 120px;
    }

    .field.is-grouped {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-top: 2rem;
      width: 100%;
      margin-left: 0px;
    }

    .button {
      width: 80%;
      font-size: .9rem;
      padding: 1rem 3.9rem;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
    }

    .create-btn {
      width: 100%;
      background-color: #3273dc;
      color: white;
      border: none;
    }

    .cancel-btn {
      width: 100% ;
      background-color: rgb(127, 56, 198);
      color: white;
      border: none;
    }
  }

/* RESPONSIVE PARA MODAL DE DELETE*/

.modal-content2 {
  max-width: 400px;
  padding: 1.5rem;
  background-color: rgba(234, 233, 236, 0.937);
  border: .5px solid grey;
}

.delete-modal-title {
  font-size: 1.2rem;
  margin-bottom: .4rem;
  margin-left: 2px;
}

.delete-modal-text {
  font-size: .9rem;
  margin-bottom: 2rem;
  margin-left: 3px;
}

.delete-modal-actions {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

/* Bot贸n de Delete */
.delete-modal-btn-delete {
  padding: .78rem 4.2rem;
  font-size: .9rem;
  margin-bottom: .3rem;
  border-radius: 5px !important;
  background-color: #3273dc;
  color: white;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #275bb5;
  }
}

/* Bot贸n de Cancel */
.delete-modal-btn-cancel {
  padding: .7rem 4.2rem;
  font-size: .9rem;
  margin-bottom: .3rem;
  background-color: transparent;
  color: rgb(132, 65, 199);
  border: 1px solid rgb(132, 65, 199);
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: rgb(110, 44, 176);
    color: white;
  }
}
}

 /* RESPONSIVE PARA TABLA*/
@media (max-width: 492px){
  .container {
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100%;
}

  h2.title {
    font-size: 1.6rem;
   }

   .button.is-primary {
     padding: 0.3rem .8rem;
     font-size: 0.55rem;
     border: .01rem solid;
     background-color: #ede7f3;
     margin-top: 7rem;
 }

   /*TABLA*/

   .table {
     margin: 0 auto;
     width: 100%;
     border-radius: 5px;
     border: none;
     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

     th {
       padding: .3rem;
       font-size: .6rem;
     }

     td {
       padding: 0.25rem;
       font-size: .7rem;
     }


     .buttons {
       gap: .5rem;

       .button {
         gap: .3rem;
         font-size: .4rem;
         padding: 0.25rem;
       }

       .edit-button {

         i {
           font-size: .5rem;
         }
       }

       .delete-button {
         color: #7743a8;
         border-color: #7743a8;

         i {
           font-size: .5em;
         }
       }
     }
   }

}


/* RESPONSIVE DEL MODAL DE BORRAR */

@media (max-width: 492px) {

  .modal-background2 {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-content2 {
    max-width: 400px;
    width: 350px;
    margin: auto;
    padding: 1.2rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  }

  h2.delete-modal-title {
    font-size: 1.5rem;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 0px;
  }

  .delete-modal-text{
    font-size: .9rem;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 20px;
  }

  .delete-modal-actions{
    display: flex;
    flex-direction: column;
  }

  .delete-modal-actions {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    justify-content: flex-end;
  }

  .delete-modal-btn-delete,
  .delete-modal-btn-cancel {
    width: 100%;
    padding: .75rem;
    font-size: .85rem;
  }


  /* RESPONSIVE DEL MODAL CREAR STAGES */

  .modal {
    .modal-background {
      background-color: rgba(38, 37, 37, 0.4);
  }

    .modal-content {
      max-width: 350px;
      padding: 1.1rem .4rem;
      background-color: rgba(225, 223, 227);
    }

    .box {
      background-color: transparent;
      box-shadow: none;
      height: auto;
    }

    h2.title {
      color: rgb(83, 82, 82);
      font-size: 1.5rem;
    }


    .label {
      color: #373636;
      font-weight: 500;
      margin-left: 5px;
      font-size: .9rem;
    }

    .input,
    .textarea {
      background-color: #e0dcdcad;
      resize: none;
      height: 35px;
      color: #393535;
      border: 1px solid #cccccc;
      padding: 0.55rem;
      border-radius: 5px;
      font-size: 1rem;
      transition: background-color 0.3s ease, border-color 0.3s ease;
    }

    .textarea{
      min-height: 50px;
      height: 120px;
      background-color: #e0dcdcad;
    }

    .input:focus,
    .textarea:focus {
      background-color: #d6d3d3;
      border-color: #7743a8;
      outline: none;
    }

    .field.is-grouped {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: .5rem;
      margin-top: 1rem;
      width: 100%;
      margin-left: 2px;
    }

    .button {
      width: 100%;
      font-size: 1rem;
      padding: .8rem 4.2rem;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
    }

    .create-btn {
      width: 100%;
      margin-left: -2px;
      padding: 1rem 8.5rem;
      background-color: #3273dc;
      color: white;
      border: none;

      &:hover {
        background-color: #275bb5;
      }
    }

    .cancel-btn {
      width: 100% ;
      padding: 1rem 8.45rem;
      margin-left: -2.5px;
      background-color: transparent;
      color: rgb(127, 56, 198);
      border: 1px solid rgb(127, 56, 198);;

      &:hover {
        background-color: rgb(110, 44, 176);
      }
    }
  }


}


