
<section class="section whatsapp-section">
  <div class="content">
    <h1 class="reports-progress-header reports-progress-title">Envíos por WhatsApp</h1>

    <app-broadcast-filters class="card card--padded"></app-broadcast-filters>

    <div class="wb-grid">
      <div class="wb-left">
        <app-group-selector class="card card--padded"></app-group-selector>
      </div>

      <div class="wb-right">
        <app-message-composer class="card card--padded"></app-message-composer>
      </div>
    </div>

    <app-schedule-bar class="card card--padded mt-32"></app-schedule-bar>

    <app-summary-footer class="footer card card--padded"></app-summary-footer>
  </div>
</section>