.section {
    background-color: #f2f2f2;
    min-height: 100vh; 
    padding: 0rem; 
  }

  .container {
    width: 100%; 
    margin: 0 auto; 
    background-color: transparent; 
    padding: 1rem; 
    border-radius: 8px;  
  }

  .title-container {
    position: fixed; 
    top: 0; 
    left: 0;
    color: rgb(53, 53, 53);
    width: 100%; 
    background-color: #f2f2f2;
    z-index: 10; 
    text-align: center;
    font-family: 'Poppins', sans-serif; 
    padding: 1.35rem 0;
  }

  .title {
    font-size: 1.8rem;
    line-height: 1.5; 
    color: #282828; 
    font-weight: bold;
  }

  .block-search {
    background-color:#ffffff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgb(203, 202, 202); 
    transition: all 0.3s ease;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem ;
    margin-bottom: 1.5rem;
  }
  
  .label {
    color: #6a6767; 
    font-weight: bold; 
    font-size: .9rem;
    margin-left: 8px;
  }
  
  .field {
    margin-bottom: 0rem; 
  }

  .input {
    padding: 0.5rem 0.75rem; 
    font-size: 0.875rem;
    background-color: #ffffff; 
    color: #333333; 
    height: 40px;
    border: 1px solid rgb(213, 213, 213);  
    border-radius: 5px;
  }

  .input[type="date"] {
    position: relative;
    padding-right: 2rem; 
    background-color: #ffffff; 
  }
  
  .input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 15px;
    opacity: 0; 
  }

  .date-from .control::after {
    content: 'event'; 
    font-family: 'Material Icons';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5; 
    pointer-events: none;
    font-size: 1.3rem;
    color: #565657;
  }

  .select select {
    background: white;
    color: #403f3f; 
    padding: 0.25rem 0.75rem; 
    border: 1px solid rgb(213, 213, 213); 
    border-radius: 5px;
    font-size: 0.875rem;
    height: 40px;
  }

  .select.is-fullwidth {
    background-color: transparent; 
  }

  .columns.is-mobile .column .field .checkbox.is-centered {
    width: auto;
    display: inline-flex;
    justify-content:left; 
    align-items: center; 
    text-align: left; 
    margin-top: 1rem;
  }
  
  .columns.is-mobile .column .field .checkbox input[type="checkbox"] {
    transform: scale(1); 
    margin-right: 0.6rem; 
    accent-color: #007bff;
  }
  
  .checkbox {
    color: rgb(70, 70, 70);
    font-size: .8rem; 
  }
/* MENSAJE CUANDO NO HAY RESULTADO DE MEETING */
  .no-results-message {
    color: #fd3c3c;
    text-align: center;
    font-size: .95rem;
    margin-top: 3rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; 
  }

  .no-results-message .icon-container i {
    color: #cccccc; 
    font-size: 1.7rem; 
  }

/* Estilo para el bloque del botón link */
  .block {
    margin-top: .5rem;
    padding: 0rem;
  }
  
  button.is-primary {
    width: auto;
    margin: auto;
    font-size: .9rem;
    padding: .6rem 2.5rem;
    background:  #bd75e4; 
    color: white; 
    border-radius: 12px; 
    border: 1px solid #bd75e4; 
    transition: all 0.3s ease; 
  }
  
  button.is-primary:disabled {
    background: white; 
    color: #000000; 
    border: 1px solid #a949dc; 
    cursor: not-allowed;
  }

  button.is-primary:hover {
    background:  #a949dc; 
  }

/* Estilo para el bloque de resultados */
.block-results{
  width: 90%;
  margin: auto;
}

.info-count {
  padding: 0 1rem;
  font-size: 13px;
  color: #1f1f1f;
  width: fit-content;
}

.info-count p,
.info-count strong {
  color: #1f1f1f;
}

.count-number {
  font-size: 1.2rem; 
  margin-left: 0.5rem;
  color: #1f1f1f7d;
}

.table-container {
  max-width: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 4rem;
  position: relative;
  border-radius: 8px; 
  max-height: 475px; 
  overflow: hidden;
  overflow-y: auto;  
  overflow-x: auto; 
  margin-left: 20px; 
}

/* Estilo de la tabla */
.table-results {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 1200px;
  word-wrap: break-word;
}

.table-results th:first-child,
.table-results td:first-child {
  width: 40px; 
}

.table-results th {
  text-align: center;
  padding: 10px;
  font-size: .87rem;
  font-weight: bold;
  color: black;
  border-bottom: 1px solid #ececec; 
  background-color: #bcf496; 
  position: sticky; 
  top: 0; 
  z-index: 1;
}

.table-results td {
  text-align: center;
  overflow: hidden; 
  padding: 10px 5px;
  font-size: .87rem;
  vertical-align: middle;
  color: rgb(104, 104, 104);
  border-bottom: 1px solid rgb(221, 221, 221);
}


.table-results tr:nth-child(odd) {
  background-color: white !important; 
}

.table-results td:first-child {
  border-left: .5px solid #d3d3d3;  
}

.table-results td:last-child {
  border-right: .5px solid #d3d3d3;
}

.table-results input[type="checkbox"] {
  transform: scale(1);
  margin-right: 0rem;
  width: 1rem;
  height: 1rem;
  accent-color: #007bff;
}

/* estilos del modal para asignar el link a la meeting */
.modal.is-active {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2000;
}

.modal-background {
  z-index: 1999;
  background-color: rgba(135, 135, 135, 0.059);
  backdrop-filter: blur(5px);
}

  .modal-card {
    position: relative;
    width: 450px;
    background-color: #ffffff; 
    border-radius: 8px;
    padding: .5rem 0rem;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3); 
    z-index: 2001;
  }

  .modal-card-title {
    color: #333; 
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: .5rem;
  }

  
  .modal-card-head {
    background-color: transparent; 
    padding-top: 1.5rem;
    padding-bottom: 0rem;
  }
  
  .selected-count-modal {
    font-size: 0.9rem;
    color: #363636; 
    font-weight: 500;
    margin-left: 8px;
  }

  .modal-card-body {
    background-color: transparent; 
    padding: .8rem 1.45rem;
  }

  .field {
    margin-bottom: 0rem; 
  }

  .modal-card-body .input {
    width: 100%; 
    margin: 0 auto;
    font-size: 1.05rem;
    padding: 5px .7rem;
  }

  .modal-card-foot {
    display: flex;
    justify-content: flex-end; 
    padding: 1rem 1.5rem;
    gap: 1rem;
    background-color: transparent;
  }
  
  .modal-card-foot .button {
    padding: 0.45rem 1.3rem;
    font-size: .9rem;
  }
  
  .modal-card-foot .button.is-danger {
    background-color: #a175e4; 
    color: white; 
  }

  .modal-card-foot .button.is-primary2 {
    background-color: #4490e2; 
    color: white; 
    border: none;
  }
  
  .modal-card-foot .button.is-primary2:hover {
    background-color: #3171b7; 
  }

  /* Estilos para el Toast */
  .toast {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff; 
    border-radius: 8px;
    padding: 2rem 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    opacity: 1;
    z-index: 100;
  }

/* Estilos del ícono y texto del toast positivo */
.success-toast i {
  color: #28a745; 
  font-size: 1.4rem;
}

.success-toast p {
  color: #2b2b2b; 
  font-size: 1rem;
}

/* Estilos del ícono y texto del toast negativo */
.error-toast i {
  color: #dc3545; 
  font-size: 1.5rem;
}

.error-toast p {
  color: #2b2b2b; 
  font-size: 1rem;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
  10%, 90% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.toast {
  animation: fadeInOut 3s forwards; 
}

  /* estilos responsive */
  @media (max-width: 992px){
    .table-container {
      margin-left: 0px;
    }
  }

  @media (max-width: 768px) {

    .title-container{
      background: linear-gradient(45deg, #4a90e2,  #7743a8);
    }
    
    .title {
      font-size: 1.6rem;
      color: white;
    }

    .block-search{
      margin-top: 8rem;
      width: 95%;
    }

    .block-results{
      width: 100%;
    }

/* MENSAJE CUANDO NO HAY RESULTADO DE MEETING */
.no-results-message {
  font-size: .9rem;
  margin-top: 1rem;
}

/* Estilos para modal asignar link meeting */
    .modal-card {
        width: 75%;
      }
    
      .modal-card-body .input {
        font-size: .85rem;
        border: .5px solid rgb(184, 183, 183);
      }
    
      .modal-card-foot {
        padding-top: 0rem;
        background-color: #ffffff;
      }
      
      .modal-card-foot .button {
        padding: 0.65rem 1.4rem;
        font-size: .8rem;
      }
  }

  @media (max-width: 492px) {
    .section { 
      min-height: 100vh; 
      padding: 0; 
    }

    .container {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
    }

    .title-container {
      padding: 1.6rem 0;
    }
  
    .title {
      font-size: 1.5rem;
    }

    .block-search{
      border: none;
      margin-top: 7rem;
      padding: 2.2rem 1.5rem;
    }

    .label {
      font-weight: 500; 
      margin-left: 5px;
      margin-bottom: 0.2rem;
    }
  
    .input {
      font-size: 0.9rem;
      height: 40px;
    }

    .columns.is-mobile {
      flex-direction: column; 
    }
  
    .columns.is-mobile .column {
      width: 100%; 
      margin-bottom: -.5rem; 
    }
  
    .columns.is-mobile .column .field .select {
      margin-bottom: -0.2rem; 
  }

  .columns.is-mobile .column .field .select select {
    height: 40px; 
    border: 1px solid rgb(181, 181, 181);
}

.columns.is-mobile .column .field .checkbox input[type="checkbox"] {
  transform: scale(1.2); 
  margin-right: 0.5rem; 
}

.checkbox.is-centered {
  margin-top: 1rem;
}

.block {
  width: 100%; 
  padding: 0.5rem; 
  margin: 0;  
  box-sizing: border-box;
}

.table-container::-webkit-scrollbar {
  display: none; 
}

.table-results th {
  padding: 7px;
  font-size: .8rem; 
}

.table-results td {
  padding: 5px 10px;
  font-size: .8rem;
}

/* estilos del modal para asignar el link a la meeting */
.modal-card {
  width: 85%;
}

.modal-card-title {
  font-size: 1.1rem;
}

.modal-card-body .input {
  font-size: .8rem;
}

.modal-card-foot {
  padding-top: 0rem;
  gap: 1rem;
  background-color: #ffffff;
}

.modal-card-foot .button {
  padding: 0.65rem 1.4rem;
}

  /* Estilos para el Toast */
  .toast {
    width: 55%;
  }

  /* Estilos del ícono y texto del toast positivo */
  .success-toast i {
    font-size: 1.4rem;
  }

  .success-toast p {
    font-size: 1rem;
  }

  /* Estilos del ícono y texto del toast negativo */
  .error-toast i {
    font-size: 1.4rem;
  }

  .error-toast p { 
    font-size: 1rem;
  }
      
}