<div class="suspension-history-page">
  <main class="suspension-history-page__container">

    <app-suspension-history-header />

    <app-suspension-history-summary
      [history]="suspensionHistory"
      [loading]="loading"
    />

    <section class="suspension-history-page__layout">

      <div class="suspension-history-page__main">

        <app-suspension-history-filters
          [filteredStudents]="filteredStudents"
          [showStudentDropdown]="showStudentDropdown"
          [isStudentFieldInvalid]="isStudentFieldInvalid"
          [selectedStudentId]="selectedStudentId"

          (studentInputChange)="onStudentSearchChange($event)"
          (studentSelected)="onStudentSelected($event)"
          (studentDropdownHidden)="hideStudentDropdown()"

          (filtersChange)="onFiltersChange($event)"
        />

        <section class="suspension-history-page__table-card">

          <div class="suspension-history-page__table-header">
            <div class="suspension-history-page__table-title">
              <h2>Historial de licencias</h2>

              <span class="suspension-history-page__table-count">
                {{ suspensionHistory.length }} registros encontrados
              </span>
            </div>
          </div>

          <app-suspension-history-table
            [history]="pagedSuspensionHistory"
            [loading]="loading"
            (viewRequested)="onViewSuspension($event)"
            (downloadRequested)="onDownloadSuspension($event)"
          />

          <app-suspension-history-pagination
            [page]="page"
            [totalPages]="totalPages"
            [total]="total"
            [startIndex]="startIndex"
            [endIndex]="endIndex"
            [limit]="limit"
            [limitOptions]="limitOptions"
            [canPrev]="canPrev"
            [canNext]="canNext"
            [paginationLabel]="paginationLabel"
            (pageChange)="onPageChange($event)"
            (previousRequested)="onPrev()"
            (nextRequested)="onNext()"
            (limitChange)="onLimitChange($event)"
          />

        </section>

      </div>

      <aside class="suspension-history-page__sidebar">

        <app-suspension-history-status-chart
          [history]="suspensionHistory"
          [loading]="loading"
        />

        <app-suspension-history-important-info />

        <app-suspension-history-quick-actions />

      </aside>

    </section>

    <!-- =========================
      DETAIL MODAL
  ========================== -->

  <app-suspension-history-detail-modal
    *ngIf="
      showSuspensionDetailModal &&
      selectedSuspension
    "
    [show]="showSuspensionDetailModal"
    [item]="selectedSuspension"
    (close)="closeSuspensionDetailModal()"
  />

  </main>
</div>