/* ------------------------------ */
/* TITULO SUPERIOR */
/* ------------------------------ */

.title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
  color: rgb(53, 53, 53);
  z-index: 10;
  text-align: center;
}

.title.stage {
  font-size: 1.5rem;
  line-height: 75px;
  color: #282828;
  font-weight: bold;
}

/* ------------------------------ */
/* CONTENEDOR PRINCIPAL */
/* ------------------------------ */

.suspension-history-section {
  background-color: #f2f2f2;
  min-height: 100vh;
  width: 100%;
  padding: 1.5rem;
  padding-top: 100px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

/* ------------------------------ */
/* CONTENEDOR DEL CONTENIDO */
/* ------------------------------ */

.content-wrapper {
  margin-top: 1rem;
  width: 80%;
  overflow-x: auto;

  /* 🔥 CENTRADO REAL */
  margin-left: auto;
  margin-right: auto;
}

/* ------------------------------ */
/* RESPONSIVE */
/* ------------------------------ */

@media (max-width: 768px) {
  .title.stage {
    font-size: 1.2rem;
  }

  .content-wrapper {
    width: 100%;
  }
}