.section {
    background-color: #f2f2f2;
    min-height: 100vh;
    padding: 0rem;
  }
  
  .container {
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    padding: 0rem;
    border-radius: 8px;
  }
  
  .form-block {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgb(203, 202, 202);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .label {
    color: #6a6767;
    font-weight: bold;
    font-size: 0.9rem;
    margin-left: 8px;
  }
  
  .input {
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    background-color: #ffffff;
    color: #333333;
    height: 40px;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 5px;
  }
  
  .select select {
    background: white;
    color: #403f3f;
    padding: 0.25rem 0.75rem;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 5px;
    font-size: 0.875rem;
    height: 40px;
  }
  
  .dropdown {
    position: absolute;
    top: calc(100% + 5px); 
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 4px;
    max-height: 180px;
    overflow-y: auto;
    z-index: 1000;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .dropdown li {
    padding: 10px;
    font-size: 0.9rem;
    color: #555555;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .dropdown li:hover {
    background-color: rgba(153, 151, 154, 0.15);
  }
  
  .no-results1 {
    padding: 8px;
    font-size: 0.9rem;
    color: #f84848;
    text-align: center;
    background-color: transparent;
    border-radius: 4px;
    margin: 4px;
    font-style: italic;
  }

  .error-message {
    color: #e45858; 
    font-size: 0.85rem;
    margin-top: 5px;
    padding-left: 5px;
  }

  .button-block {
    display: flex;
    justify-content: space-between; 
    gap: 1rem; 
    margin-top: 2rem; 
  }
  
  .button.is-primary {
    background-color: #59a9f0; 
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    width: 100%; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button.is-primary:hover {
    background-color: #3584d7; 
  }
  
  .button.is-secondary {
    background-color: #a460e4;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.7rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    width: 100%; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button.is-secondary:hover {
    background-color: #5a32a3; 
  }

  .icon-svg-download{
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-right: .5rem;
  }

  .button-block-reports {
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin-top: 2rem;
  }
  
  .custom-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #a460e4;
    background-color: transparent;
    border: 1px solid #a460e4;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease, color 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: #7743a843;
    border: 1px solid #7743a843;
    color: white;
  }

  .custom-button.active {
    background-color: #a460e4; 
    color: white; 
    border-color: #a460e4; 
    transition: all 0.3s ease;
  }

  .button.is-primary:disabled,
  .button.is-secondary:disabled,
  .custom-button:disabled {
    background-color: #d3d3d3; 
    color: #a0a0a0;
    border: 1px solid #ccc; 
    cursor: not-allowed; 
    opacity: 0.6; 
    box-shadow: none; 
  }

  .download-button {
    background-color: #59a9f0;
    color: white;
    border: none;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border-radius: 12px;
    cursor: pointer;
  }

  .table-container {
    max-width: 90%;
    margin: auto;
    display: flex;
    margin-top: 2rem;
    overflow-x: auto;
  }

  .table {
    width: auto;
    min-width: 1200px;
    border-collapse: collapse;
    background-color: white;
    border-spacing: 0;
  }

  .table thead {
    position: sticky;
    top: 0;
    background-color: #bcf496;
    z-index: 2;
  }

  .table th {
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #bcf496;
    color: black;
    border-bottom: none;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .table tbody {
    display: block;
    max-height: 450px; 
    overflow-y: auto; 
  }

  .table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .table tbody tr:hover {
    background-color: rgb(239, 239, 239); 
    transition: background-color 0.3s ease-in-out; 
}

  .table td {
    width: auto;
    text-align: center;
    padding: 8px;
    font-size: 0.9rem;
    color: #333;
    border-bottom: 1px solid #ddd;
    max-height: 400px; 
    overflow-y: auto; 
    display: table-cell;
    vertical-align: middle;
  }
  
  .no-results {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1rem;
    color: #e45858;
    background-color: transparent;
    border-radius: 4px;
    text-align: center;
    font-style: italic;
  }

  @media (max-width: 768px) {
    .table-container {
      max-width: 100%;
    }

    .button-block,
    .button-block-reports {
      flex-direction: column;
      align-items: center;
    }

    .custom-button,
    .download-button {
      width: 80%;
      text-align: center;
    }
  }

  @media (max-width: 492px) {
    .columns.is-mobile {
      flex-direction: column; 
    }
  
    .columns.is-mobile .column {
      width: 100%; 
    }

    .custom-button,
    .download-button {
    padding: 0.6rem 1rem; 
    font-size: 0.9rem; 
  }
  }


  