<section class="section">
  <div class="container">
    <div class="title-container">
        <h1 class="title">Reportes del Estudiante</h1>
    </div>
   
    <app-reports-student-filter 
      [isReportGenerated]="isReportGenerated"
      (filtersSubmitted)="onFiltersSubmitted($event)"
      (downloadRequested)="openDownloadModal()">
    </app-reports-student-filter>

    <div class="button-block-reports">
      <button class="custom-button"
              [class.active]="activeReport === 'detailed'"
              [disabled]="!isReportGenerated"
              (click)="fetchDetailedReport()">Detallado</button>

      <button class="custom-button"
              [class.active]="activeReport === 'statistical'"
              [disabled]="!isReportGenerated"
              (click)="fetchStatisticalReport()">Estadístico</button>

      <button class="custom-button"
              [class.active]="activeReport === 'meetings'"
              [disabled]="!isReportGenerated"
              (click)="fetchMeetingsReport()">Clases</button>

    </div>

    <app-reports-results
      [activeReport]="activeReport"
      [reportData]="reportData"
      [statisticalData]="statisticalData"
      [meetingsData]="meetingsData"
      [isReportGenerated]="isReportGenerated">
    </app-reports-results>

  </div>

</section>

<app-modal
  [showModal]="modalData.show"
  [message]="modalData.message"
  [isError]="modalData.isError"
  [isSuccess]="modalData.isSuccess"
  [showButtons]="true"
  (close)="closeModal()"
  (confirmAction)="confirmDownload()">
</app-modal>
