
.centered-table-container {
  border-radius: 8px;
  padding: 0;
  background-color: white;
}

// .table-container.no-border-container {
//   border-radius: 8px;
//   overflow: hidden;
//   overflow-x: auto;
//   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
// }

.table.is-custom-small {
  font-size: 0.8rem; 
  min-width: 900px;

  thead tr,
  tbody tr {
    border-bottom: 1px solid #e0e0e0;
  }

  th, td {
    color: #0d0d0db0 !important;
    border-bottom: 1px solid #ffffff;  
  }
}

.table.is-custom-small thead {
  background-color: #e5effa; 
}

.table.is-custom-small tbody tr:hover td {
  color: #000000 !important; 
  cursor: pointer;
}

.table.is-custom-small th,
.table.is-custom-small td {
  text-align: center;
  vertical-align: middle;
  max-width: 170px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: #000;
  background-color: #f2f2f2;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.75rem;

  .pagination-info {
    display: flex;
    gap: 1.5rem;
  }

  .pagination-buttons {
    display: flex;
    gap: 0.5rem; 

    button {
      background-color: #d5d7d7;
      border: none;
      padding: 0.25rem 0.5rem;
      font-size: 0.85rem;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover:not(:disabled) {
        background-color: #b4b4b4;
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }
}


