
.centered-table-container {
  border-radius: 8px;
  margin: auto;
  padding: 0;
  background-color: white;
}

.table.is-custom-small {
  font-size: 0.8rem; 
  min-width: 900px;

  thead tr,
  tbody tr {
    border-bottom: 1px solid #e0e0e0;
  }

  th, td {
    border-bottom: 1px solid #ffffff;  
  }
}

.table.is-custom-small th,
.table.is-custom-small td {
  text-align: center;
  vertical-align: middle;
  max-width: 170px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}



