.table-container {
  max-width: 100%;
  width: 100%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
  border-radius: 8px;
  max-height: 550px; 
  overflow-y: auto; 
  overflow-x: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.table-results {
  width: 100%;
  border-collapse: collapse;
  // table-layout: fixed;
  min-width: 1000px;
  word-wrap: break-word;

  th,
  td {
    // width: 175px;
     white-space: nowrap;
     padding: 0.5rem;
  }
}

.table-results thead {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #e5effa;
}

.left-border {
  border-left: 1px solid #dfdfdf !important;
}

.right-border {
  border-right: 1px solid #dfdfdf !important;
}

.stage-header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.arrow-icon {
  font-size: 1rem;
  color: #ff9800;
  animation: bounce 1.2s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(4px); }
}

.table-results th {
  text-align: center;
  vertical-align: middle;
  padding: 0.55rem;
  font-size: 0.75rem;
  background-color: #e5effa;
  color: black;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  white-space: nowrap;
  position: sticky;
  top: 0;
  z-index: 3;
}

.highlight-column {
  background-color: #fef7e0 !important;
  font-weight: bold;
}

.table-results td {
  width: 200px;
  padding: 0.75rem;
  font-size: 0.75rem;
  text-align: center;
  vertical-align: top; 
  background-color: #ffffff;
  color: rgb(76, 75, 75);
  border-bottom: 0.5px solid rgb(208, 208, 208);
  overflow: visible;
  text-overflow: clip;
  cursor: pointer;
}

.assessment-entry {
  padding: 1rem 0;
}

.bordered-entry {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.max-point-reached {
  color: #2e7d32 !important;
  font-weight: bold;
}

.below-threshold {
  color: #d32f2f !important;
  font-weight: bold;
}

.assessment-entry {
  position: relative;
  padding: 1rem 0;

  &:hover .delete-button {
    opacity: 1;
  }

  .delete-button {
    position: absolute;
    top: -8px;
    right: -6px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #bbb9b9;
    font-size: 1.8rem;
    opacity: 0;
    transition: opacity 0.2s ease, color 0.2s ease;

    .material-icons {
      font-size: 1.2rem;
    }

    &:hover {
      color: #888887; 

    }
  }

}