.table-container {
  max-width: 100%;
  width: 100%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
  border-radius: 8px;
  max-height: 550px; 
  overflow-y: auto; 
  overflow-x: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.table-results {
  width: 100%;
  border-collapse: collapse;
  // table-layout: fixed;
  min-width: 1000px;
  word-wrap: break-word;

  th,
  td {
    // width: 175px;
     white-space: nowrap;
     padding: 0.5rem;
  }
}

.table-results thead {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #e5effa;
}

.left-border {
  border-left: 1px solid #dfdfdf !important;
}

.right-border {
  border-right: 1px solid #dfdfdf !important;
}

.table-results th {
  text-align: center;
  vertical-align: middle;
  padding: 0.55rem;
  font-size: 0.75rem;
  background-color: #e5effa;
  color: black;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  white-space: nowrap;
  position: sticky;
  top: 0;
  z-index: 3;
}

.table-results td {
  text-align: center;
  vertical-align: top; 
  font-size: 0.75rem;
  padding: 0.75rem;
  border-bottom: 0.5px solid rgb(208, 208, 208);
  background-color: #ffffff;
  color: rgb(76, 75, 75);
  overflow: visible;
  text-overflow: clip;
  width: 200px;
}

.assessment-entry {
  padding: 0.25rem 0;
}

.bordered-entry {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.max-point-reached {
  color: #2e7d32 !important;
  font-weight: bold;
}

.below-threshold {
  color: #d32f2f !important;
  font-weight: bold;
}