.section {
    background-color: #f2f2f2;
    min-height: 100vh;
    padding: 0rem;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 1rem 0rem;
    border-radius: 8px;
  }

  .title-container {
    position: fixed;
    top: 0;
    left: 0px;
    color: rgb(53, 53, 53);
    width: 100%;
    background-color: #f2f2f2;
    z-index: 10;
    text-align: center;
  }

  .title {
    font-size: 1.5rem;
    line-height: 75px;
    color: #333;
    font-weight: bold;
    text-align: center;
  }

  .content-selection-wrapper {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0rem;
  }

  .content-selector-card {
    flex: 1 1 500px;
    max-width: 500px;
    background-color: white;
    border-radius: 8px;
    padding: 1.5rem;
  }

  .content-summary-box {
    position: relative;
    flex: 1 1 500px;
    max-width: 500px;
    background-color: white;
    border-radius: 8px;
    padding: 1.3rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.0);

      .delete {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }
  }
  .content-selector-card {
    padding: 0rem 1rem 1rem; 

    h2 {
      font-size: .9rem;
      text-align: center;
      padding: 1rem;
      color: black;
    }
  }
  .content-summary-box h4 {
    font-size: 0.8rem;
  }

  .content-summary-box ul {
    font-size: 0.8rem;
    list-style-type: disc;
    padding-left: 1.5rem;

    li {
      font-size: 0.8rem;
    }
  }

  .block-results{
    width: 90%;
    max-width: 1200px;
    margin: auto;
  }

  .no-results-message {
    text-align: center;
    font-size: .8rem;
    margin-top: 5rem;
  }

  /* Responsivos */
  @media (max-width: 992px){
    .container {
      width: 95%;
    }
  }

  @media (max-width: 768px) {

  .title-container {
    left: 0;
    width: 100%;
    // background: linear-gradient(45deg, #4a90e2,  #7743a8);
  }

  // .title {
  //   color: white;
  // }

  .block-search .columns.is-mobile {
    flex-direction: column;
  }

  .block-results{
    width: 100%;
  }
}

  @media (max-width: 492px) {

  .title-container {
    height: 75px;
    padding: 1.5rem 0;
  }

  .title {
    font-size: 1.3rem;
    line-height: 40px;
  }

  .block-search {
    box-shadow: none;
    width: 95%;
    margin-top: 2rem;
  }

  .block-search .label {
    font-size: 0.8rem;
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .block-search .input,
  .block-search .select select {
    padding: 0.2rem .7rem;
    font-size: 0.8rem;
    height: 30px;
  }
}


