<!-- BLOQUE: Fecha actual en Ecuador (fuera del calendario) -->
<div class="ecuador-time-wrapper">
  <div class="ecuador-time-display">
    <strong>Fecha de Ecuador:</strong>
    <span>{{ ecuadorDate }}</span>
  </div>
</div>

<section class="date-time-selection shared-box-style">

  <div class="month-selector">
    <span class="month-label">{{ selectedMonth }} {{ selectedYear }}</span>

    <div class="month-buttons">
      <button 
        class="nav-btn" 
        [class.disabled]="!canGoBack"
        (click)="canGoBack ? prevMonth() : null"
      >
        <i class="fas fa-chevron-left"></i>
      </button>

      <button 
        class="nav-btn" 
        [class.disabled]="!canGoForward"
        (click)="canGoForward ? nextMonth() : null"
      >
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </div>

  <div class="calendar">
    <div class="calendar-header">
      <div class="calendar-day-header">D</div>
      <div class="calendar-day-header">L</div>
      <div class="calendar-day-header">M</div>
      <div class="calendar-day-header">M</div>
      <div class="calendar-day-header">J</div>
      <div class="calendar-day-header">V</div>
      <div class="calendar-day-header">S</div>
    </div>

    <div class="calendar-grid" [ngClass]="calendarAnimationClass">
     <div
        *ngFor="let day of currentMonthDays"
        class="calendar-day"
        (click)="isDaySelectable(day) ? onDayClick(day) : null"
        [class.selected]="selectedDay === day.day"
        [class.selectable]="isDaySelectable(day)"
        [class.unselectable]="!isDaySelectable(day)"
        [class.disabled]="day.isDisabled || day.modeRestricted"
        [class.partial-disabled]="!day.isDisabled && day.hasDisabledHours"
        [class.empty]="!day.day"
        [class.danger]="day.dayOfWeek === 'DOMINGO'"
        >
        {{ day.day }}
        </div>
    </div>
  </div>
</section>

<div class="calendar-legend-container">
  <div class="calendar-legend">
    <div class="legend-item">
      <span class="legend-color legend-available"></span>
      Disponible
    </div>
    <div class="legend-item">
      <span class="legend-color legend-partial"></span>
      Horas no disponibles
    </div>
    <div class="legend-item">
      <span class="legend-color legend-disabled"></span>
      Día no disponible
    </div>
  </div>
</div>