
$color-primary: rgb(7, 45, 182);
$color-secondary: rgb(115, 15, 177);
$color-accent: rgb(255, 255, 9);
$color-background: rgb(250, 250, 253);


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: $color-background;
}

.register-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background: white;
  background-size: cover;
}

.box {
  background: rgba(225, 225, 225, 0.797);
  border-radius: 10px;
  padding: 3rem 2rem;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 0 12px 8px rgba(217, 211, 211, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: .5px solid rgba(255, 255, 255, 0.172);
  transition: box-shadow 0.3s ease-in-out;

  &:focus-within {
    box-shadow: 0 0 15px rgba(211, 211, 211, 0.3);
    transition: box-shadow 0.5s ease-in-out;
  }
}

.title {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2rem;
  color: rgb(71, 69, 69);
}

.icon {
  font-size: 1.8rem; 
  margin-right: 0.5rem; 
  color: #9e7ae6; 
}

  .label {
    color: rgb(97, 98, 100);
    font-size: .9rem;
    margin-bottom: .25rem;
    margin-left: 10px;
    font-weight: 500;
  }

  .field {
    margin-bottom: 1rem;
    position: relative;
  }

  .input {
    border-radius: 5px;
    padding: 0.75rem;
    padding-left: 10px;
    height: 35px;
    border: .5px solid rgb(196, 196, 196);
    font-size: .9rem;
    background-color: rgb(236, 236, 236);
    color: rgb(63, 62, 62);
    transition: background-color 0.4s ease;

    &:focus {
      background-color: rgb(236, 236, 236);
      outline: none;
    }
  }

  .field select {
    border-radius: 5px;
    height: 35px;
    padding: 0.35rem 0.45rem;
    padding-left: 10px;
    font-size: .85rem;
    background-color: rgb(237, 237, 237);
    border: .5px solid rgb(196, 196, 196);
    color: rgb(95, 94, 94);
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgb(227, 227, 227);
    }

    &:focus {
      background-color: rgb(236, 236, 236);
      outline: none;
    }

    option {
      color: rgb(213, 213, 213);
    }

  }

  .input::placeholder {
    font-size: .95rem;
    color: rgba(146, 145, 145, 0.606);
  }

  input[type="date"] {
    appearance: none;
    -webkit-appearance: none; 
    padding-right: 40px; 
    position: relative;
    cursor: pointer; 
  }

  input[type="date"]::before {
    content: '\f073'; 
    font-family: "FontAwesome";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #4c7add;
    pointer-events: none;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0; 
  }

  .error {
    color: rgb(211, 52, 27);
    font-size: .8rem;
    margin-top: 0.5rem;
    position: absolute;
    bottom: -1.5rem;
    left: 10px;
    width: 100%;
    height: 1.5rem;
    pointer-events: none;
  }

  .field-button {
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .button.is-primary {
    background-color:  rgb(60, 91, 231);
    color: $color-background;
    border: none;
    padding: 0.75rem;
    border-radius: 5px;
    width: 35%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.7s;
    font-size: 1.05rem;


    &:hover {
      background-color: rgb(33, 63, 196);
    }
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
  }

  .modal-content {
    background-color: white;
    padding: 2rem 1rem;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
    position: relative;
    animation: pop-up 0.2s ease-in-out;
  }

  @keyframes pop-up {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    80% {
      transform: scale(1.05);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

  .modal-content p {
    font-size: 1rem;
    color: #dfd9d9;
  }

  .success-modal {
    background-color: #efefef;
    color: #28a745;
  }

  .success-modal p{
    color: #28a745;
  }

  .success-icon {
    font-size: 1.5rem;
    color: #28a745;
    margin-bottom: 1rem;
  }

  .error-modal {
    background-color: #f0f0f0;
    animation: shake 0.6s ease-in-out;
  }

  @keyframes shake {
    0% { transform: translateX(0); }
    10% { transform: translateX(-5px); }
    20% { transform: translateX(10px); }
    30% { transform: translateX(-5px); }
    40% { transform: translateX(10px); }
    50% { transform: translateX(-5px); }
    60% { transform: translateX(10px); }
    70% { transform: translateX(-5px); }
    80% { transform: translateX(10px); }
    90% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

  .error-modal p {
    color: rgb(208, 58, 58);
  }

  .error-icon {
    font-size: 1.5rem;
    color: #dc3545;
    margin-bottom: 1rem;
  }


@media (max-width: 768px) {
.register-container{
  padding-top: 2rem ;
  background: white;
}

.box {
  padding: 3rem 2rem;
  width: 100%;
  max-width: 500px;
}

  .title {
    font-size: 1.65rem;
  }

  .field {
    margin-bottom: 0rem;
  }

  .label {
    font-size: .85rem;
    margin-bottom: .2rem;
    margin-left: 5px;
  }

  .input {
    font-size: .9rem;
    height: 35px;
  }

  .input::placeholder {
    font-size: .9rem;
    color: rgba(110, 107, 107, 0.606);
  }

  .error {
    color: rgb(211, 52, 27);
    font-size: .70rem;
  }

  .button.is-primary {
    font-size: 1rem;
    padding: .9rem;
    width: 60%;
  }

  .modal-content {
    padding: 2rem 1rem;
    max-width: 60%;
  }

  .modal-content p{
    font-size: 1rem;
  }

  .error-icon,
  .success-icon{
    font-size: 1.3rem;
  }

}

@media (max-width: 492px) {
  .register-container {
    padding-top: 0rem;
    padding-bottom: 1rem;
  }

  .box {
    background: transparent;
    box-shadow: none;
    padding: 2rem 1.1rem;
    margin: 0 0.5rem;
    border-radius: 15px;
    width: 100%;
    max-width: 385px;
  }

  .title {
    font-size: 1.3rem;
    margin-bottom: 40px;
  }

  .field {
    margin-bottom: 0;
  }

  .label {
    font-size: 0.8rem;
  }

  .input {
    border-radius: 5px;
    font-size: .85rem;
    padding: 0.35rem 12px;
  }

  .input,
  .field select{
    height: 32px;
  }

  .field select {
    border-radius: 5px;
    padding: 0.35rem 0.45rem;
    font-size: .85rem;
  }

  .input::placeholder {
    font-size: .85rem;
  }

  .error {
    font-size: .7rem;
    margin-top: 0.4rem;
  }

  .field-button {
    margin-bottom: .9rem;
  }

  .button.is-primary {
    width: 100%;
    font-size: 1rem;
    padding: 0.7rem;
  }

  .modal-content {
    padding: 1.5rem 1rem;
    max-width: 75%;
  }

  .modal-content p {
    font-size: .9rem;
  }


}
