<div class="register-container">
  <div class="box">
    <h1 class="title">Create Account</h1>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!-- Bloque First Name y Last Name -->
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">First Name</label>
            <div class="control">
              <input class="input" type="text" formControlName="firstName" placeholder="Enter your first name">
            </div>
            <div *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched" class="error">
              First name is required
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field">
            <label class="label">Last Name</label>
            <div class="control">
              <input class="input" type="text" formControlName="lastName" placeholder="Enter your last name">
            </div>
            <div *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched" class="error">
              Last name is required
            </div>
          </div>
        </div>
      </div>

      <!-- Bloque ID Number y Birthday -->
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">ID Number</label>
            <div class="control">
              <input class="input" type="text" formControlName="idNumber" placeholder="Enter your ID number">
            </div>
            <div *ngIf="registerForm.get('idNumber')?.invalid && (registerForm.get('idNumber')?.touched || registerForm.get('idNumber')?.dirty)" class="error">
              <div *ngIf="registerForm.get('idNumber')?.errors?.['required']">ID number is required</div>
              <div *ngIf="registerForm.get('idNumber')?.errors?.['pattern']">ID number must be 10 digits long</div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field">
            <label class="label">Birthday</label>
            <div class="control">
              <input class="input" type="date" formControlName="birthday" placeholder="Select your birthday">
            </div>
            <div *ngIf="registerForm.get('birthday')?.invalid && registerForm.get('birthday')?.touched" class="error">
              Please select a valid date
            </div>
          </div>
        </div>
      </div>

      <!-- Bloque Email y Role -->
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label">Stage</label>
            <div class="control">
              <select class="input" formControlName="stageId">
                <option value="" disabled selected>Select your stage</option>
                <option *ngFor="let stage of stages" [value]="stage.id">{{ stage.description }}</option>
              </select>
            </div>
            <div *ngIf="registerForm.get('stageId')?.invalid && registerForm.get('stageId')?.touched" class="error">
              Stage is required
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field">
            <label class="label">Role</label>
            <div class="control">
              <select class="input" formControlName="role">
                <option value="" disabled selected>Select your role</option>
                <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
              </select>
            </div>
            <div *ngIf="registerForm.get('role')?.invalid && registerForm.get('role')?.touched" class="error">
              Role is required
            </div>
          </div>
        </div>

        <div class="column">
          <div class="field">
            <label class="label">Mode</label>
            <div class="control">
              <select class="input" formControlName="mode">
                <option value="" disabled selected>Select your role</option>
                <option *ngFor="let mode of modes" [value]="mode">{{ mode }}</option>
              </select>
            </div>
            <div *ngIf="registerForm.get('mode')?.invalid && registerForm.get('mode')?.touched" class="error">
              Mode is required
            </div>
          </div>
        </div>
      </div>

      <!-- Botón Register -->
      <div class="field-button">
        <div class="control">
          <button class="button is-primary" type="submit">Register</button>
        </div>
      </div>
    </form>

  </div>
</div>

<!-- Modal de Error -->
<div *ngIf="showModal" class="modal-overlay">
  <div class="modal-content error-modal">
    <i class="fas fa-exclamation-circle error-icon"></i>
    <p>The form must be completed.</p>
  </div>
</div>

<!-- Modal de Error de Registro -->
<div *ngIf="showRegistrationErrorModal" class="modal-overlay">
  <div class="modal-content error-modal">
    <i class="fas fa-exclamation-circle error-icon"></i>
    <p>Registration was not successful. Please try again.</p>
  </div>
</div>

<!-- Modal Exitoso -->
<div *ngIf="showSuccessModal" class="modal-overlay">
  <div class="modal-content success-modal">
    <i class="fas fa-check-circle success-icon"></i>
    <p>The user has been created successfully.</p>
  </div>
</div>
