<section class="section whatsapp-groups">
  <div class="content">
    <!-- Título principal al inicio -->
    <h1 class="reports-progress-header reports-progress-title">Gestión de Grupos</h1>

    <header class="header">
      <button class="btn btn-primary" (click)="onCreateGroup()">Crear grupo</button>
    </header>

    <!-- Contenedor en fila -->
    <div class="groups-row">
      <!-- Formulario -->
      <app-group-form
        *ngIf="showForm"
        [contacts]="contacts"
        [group]="selectedGroup"
        class="card card--padded"
        (close)="onCloseForm()">
      </app-group-form>

      <!-- Listado -->
      <app-group-list
        class="card card--padded"
        [groups]="groups"
        (editGroup)="onEditGroup($event)">
      </app-group-list>
    </div>
  </div>
</section>