<section class="section">
  <div class="content">
    <h1 class="reports-progress-header reports-progress-title">
      Envío de Notificaciones
    </h1>

    <app-notification-panel
      [userRole]="userRole"
      (sendOptionSelected)="onSendOptionSelected($event)"
    ></app-notification-panel>

    <!-- Formulario visible solo cuando hay tipo seleccionado -->
    <app-notification-form-wrapper
      *ngIf="selectedAction"
      [selectedType]="selectedAction"
      [stages]="stages" 
      [userRole]="userRole"
      (submitNotification)="handleNotificationSubmit($event)"
      class="form-wrapper-host"
    ></app-notification-form-wrapper>
  </div>
</section>

<app-modal
  [showModal]="modal.show"
  [message]="modal.message"
  [isError]="modal.isError"
  [isSuccess]="modal.isSuccess"
  [title]="modal.title || ''"
  (close)="modal.close()"
/>