<div class="table-container">
  <table class="table-results is-fullwidth" *ngIf="users && users.length > 0">
    <thead>
      <tr>
        <th>Apellidos</th>
        <th>Nombres</th>
        <th>Usuario</th>
        <th>Estado</th>
        <th>Alerta</th>
        <th>Stage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td data-label="Apellidos">
          <span class="ellipsis-cell" [title]="user.lastName || 'No disponible'">
            {{ user.lastName || 'No disponible' }}
          </span>
        </td>
        <td data-label="Nombres">
          <span class="ellipsis-cell" [title]="user.firstName || 'No disponible'">
            {{ user.firstName || 'No disponible' }}
          </span>
        </td>
        <td data-label="Usuario">
          <span class="ellipsis-cell" [title]="user.email || 'No disponible'">
            {{ user.email || 'No disponible' }}
          </span>
        </td>
        <td data-label="Estado">{{ getUserStatusLabel(user.status) }}</td>
        <td data-label="Alerta">{{ getAlertLabel(user) }}</td>
        <td data-label="Stage">
          <span class="clickable is-clickable" (click)="handleStageClick(user)">
            {{ getStageLabel(user) }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>

</div>
<div class="custom-pagination-container" *ngIf="totalUsers > itemsPerPage">
  <button class="pagination-button" [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">
    Atrás
  </button>

  <span class="pagination-text">
    Página {{ currentPage }} of {{ totalPages() }}
  </span>

  <button class="pagination-button" [disabled]="currentPage >= totalPages()" (click)="changePage(currentPage + 1)">
   Siguiente
  </button>
</div>