
:host {
  display: block;
  background-color: #f0f0f0; 
  min-height: 100vh; 
 }
  body {
    overflow-y: scroll;
  }

  .page-title {
    text-align: center;
    padding-top: 2.2rem;
    padding-bottom: 1.9rem;
    margin-bottom: 0rem;
    background:linear-gradient( #f2f1f7, #dbd6f3 );
    backdrop-filter:blur(15px);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
  }
  
  .page-title h1 {
    color: #333;
    font-size: 2.1rem;
    margin-left: -50px;
    font-weight: bold;
    margin-bottom: 0rem;
    font-family: 'Poppins', sans-serif;
  }

/* Contenedor principal del formulario */
  .main-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: transparent;
    padding: 0px;
    margin-top: 0rem;
    min-width: 100%;
    overflow: hidden;
    will-change: transform;
  }
  
  /* Estilos del switch */
  .form-switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: '';
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #9861eb;
  }

  input + .slider {
    background-color: #4473e2;  
  }
  
  input:checked + .slider:before {
    transform: translateX(18px);
  }
  
  .switch-label {
    font-size: 1rem;
    font-weight: 400;
    color: #8c8b8b;
  }

  .bold-text {
    font-weight: 400;
    color: #2c2b2b;
  }
  
  /* Contenedor de la tarjeta */
  .form-card-container {
    perspective: 900px; 
    width: 100%;
    max-width: 400px; 
  }
  
  .form-card {
    position: relative;
    width: 100%;
    min-height: 300px;
    transition: transform 2.8s;
    transform-style: preserve-3d;
  }
  
  .form-card.flipped {
    transform: rotateY(180deg); 
  }
  
  .student-form, .user-form {
    background: linear-gradient(to right, #d3cfea, #c7c2e7);
    position: absolute;
    width: 100%;
    margin: auto;
    min-height: 400px;
    padding: 2rem; 
    border-radius: 10px;
    box-sizing: border-box; 
    backface-visibility: hidden;
  }
  
  .student-form {
    transition: transform 2.8s ease;
    transform-style: preserve-3d;
  }

  .flipped {
    transform: rotateY(180deg);
  }
  
  .user-form {
    background-color: #ffffff;
    transform: rotateY(180deg); 
  }

  .error-message {
    color: red;
    font-size: 0.85rem;
    margin-top: 0.25rem;
    margin-left: 5px;
  }
  
  /* Estilos para los campos del formulario */
  .form-field {
    margin-bottom: 1rem;
  }
  
  .form-field label {
    color: #333;
    font-weight: 500;
    display: block;
    margin-bottom: 0.5rem;
    margin-left: 5px;
  }
  
  .form-field input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
    color: #333;
    box-sizing: border-box; 
  }

  .user-form .form-field {
    margin-top: 1.5rem; 
  }

  input::placeholder {
    color: #a1a1a1; 
    opacity: 1; 
  }

  input, select {
    background-color: #f5f5f5; 
    color: #333333; 
    border: 1px solid #ccc; 
    padding: 5px 10px;
    height: 40px;
    border-radius: 4px;
  }
  
  input::placeholder {
    color: #8f8c8c; 
  }
  
  
  /* Botón de búsqueda */
  .search-button {
    width: 100%;
    padding: 0.85rem;
    background-color: #4490e2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 1.5rem;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #367bbd;
  }

  .user-form .form-action {
    margin-top: 2rem;
  }

  .user-form .search-button {
    background-color: #9861eb;
    transition: background-color 0.3s ease; 
  }

  .user-form .search-button:hover {
    background-color: #8456ca;
  }

  /* BLOQUE RESULTADOS */

  /* Estilos para la tabla */
.table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  margin-top: 0px;
  margin-bottom: 0;
  border: .5px solid grey;
  border-radius: 10px;
  overflow: hidden;
 
}

.table th, .table td {
  padding: 12px;
  text-align: center;
}

.table th {
  background-color: #f5f5f5;
  border-bottom: 1px solid rgb(174, 174, 174);
  color: #333; 
}

.table td {
  background-color: #fff; 
  color: #333; 
  border-bottom: .5px solid rgb(209, 207, 207);
}

.table tr:hover {
  background-color: #f1f1f1; 
}

.pagination {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  max-width: 100%;
  box-sizing: border-box;
  background-color: #f0f0f0; 
  padding:20px 15px;
}

.pagination button {
  padding: 8px 16px;
  font-size: .8rem;
  background-color: #4490e2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #367bbd;
}

.pagination button[disabled] {
  background-color: #ccc;
  color: grey;
  cursor: not-allowed;
}

.pagination span {
  font-size: .9rem;
  color: #333;
}

.no-results-message {
  text-align: center;
  font-size: 1.1rem; 
  color: #686767; 
  margin-top: -1rem;
  padding-bottom: 2rem; 
}

.no-results-message i {
  color: grey;
  font-size: 24px; 
  margin-top: 10px; 
}

  /* RESPONSIVE */

  @media (max-width: 768px){

    .page-title {
      padding-top: 1.9rem;
      padding-bottom: 1.7rem;
      margin-bottom: 0rem;
    }
    
    .page-title h1 {
      color: #333333;
      margin-left: 0px;
      font-size: 1.8rem;
    }

    .form-switch-container {
      gap: 1.5rem;
      margin-top: -10rem;
    }

    .main-form-container {
      margin-top: 4rem;
      margin-bottom: -5rem;
      overflow-y: auto;
    }

    .form-card-container {
      perspective: 900px; 
      width: 75%;
      max-width: 400px; 
    }
    
    .form-card {
      position: relative;
      width: 100%;
      height: 350px; 
      transition: transform 2.8s;
      transform-style: preserve-3d;
    }

    .table {
      width: 95%;
      margin: 20px auto;
      border-collapse: collapse;
      margin-top: 0px;
      margin-bottom: 0;
      border: .5px solid grey;
      border-radius: 10px;
      overflow: hidden;
      z-index: 1000;
    }
    
    .table th, .table td {
      padding: 4px;
      text-align: center;
      font-size: .8rem;
    }

    .pagination span {
      font-size: .7rem;
      color: #333;
    }

    .pagination {
      margin-top: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px; 
      padding:10px 15px;
    }
    
    .pagination button {
      padding: 5px 14px;
      font-size: .7rem;
      background-color: #4490e2;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

  }

  @media (max-width: 492px){

    .page-title {
      padding-top: 1.7rem;
      padding-bottom: 1.3rem;
      margin-bottom: 0rem;
    }
    
    .page-title h1 {
      color: #333333;
      margin-left: 0px;
      font-size: 1.8rem;
    }

    .form-switch-container {
      gap: 1.5rem;
      margin-top: -10rem;
    }

    .form-card-container {
      perspective: 900px; 
      width: 75%;
      max-width: 400px; 
    }

    .student-form, .user-form {
      min-height: 350px;
      padding: 1.5rem; 
      border-radius: 6px;
    }

    .main-form-container {
      margin-top: 4rem;
      margin-bottom: -9rem;
    }

    .form-field label {
      font-weight: 400;
      font-size: .8rem;
      margin-bottom: 0.5rem;
      margin-left: 5px;
    }

    input, select {
      height: 35px;
      font-size: .8rem;
    }

    .search-button {
      padding: 1rem;
      font-size: 1.1rem;
    }

  }