.inbox-email__header {
  width: 100%;

  min-height: 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding:
    .9rem
    1rem;

  box-sizing: border-box;

  border: 1px solid #e4e7ed;
  border-radius: .75rem;

  background: #ffffff;

  box-shadow:
    0 3px 12px
    rgba(24, 32, 54, .025);
}

.inbox-email__header-main {
  display: flex;
  align-items: center;

  gap: .7rem;
}

.inbox-email__header-icon {
  width: 2.3rem;
  height: 2.3rem;

  flex: 0 0 auto;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: .6rem;

  background: #edf3ff;
  color: #4371e5;
}

.inbox-email__header-icon svg {
  width: 1.2rem;
  height: 1.2rem;
}

.inbox-email__title {
  margin: 0;

  color: #171e32;

  font-size: 1.08rem;
  font-weight: 780;
  line-height: 1.2;
}

.inbox-email__description {
  margin:
    .22rem
    0
    0;

  color: #7c8598;

  font-size: .63rem;
  font-weight: 400;
  line-height: 1.4;
}