.inbox-email__bottom {
  min-height: 4.2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 1rem;

  padding:
    .7rem
    .85rem;

  box-sizing: border-box;

  border-top: 1px solid #edf0f4;
}

.inbox-email__bottom-pagination {
  display: flex;
  align-items: center;

  gap: .4rem;
}

.inbox-email__bottom-pagination button {
  width: 1.8rem;
  height: 1.8rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 0;

  background: transparent;
  color: #677185;

  font-size: .9rem;

  cursor: pointer;
}

.inbox-email__bottom-pagination button:disabled {
  opacity: .35;

  cursor: not-allowed;
}

.inbox-email__current-page {
  min-width: 2rem;
  height: 2rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #dce1ea;
  border-radius: .42rem;

  background: #f7f8fb;
  color: #465066;

  font-size: .55rem;
  font-weight: 650;
}

.inbox-email__page-label {
  margin-left: .5rem;

  color: #717a8d;

  font-size: .53rem;
}