<section class="processed-events-page">

  <div class="processed-events-page__container">

    <!-- =========================
         HEADER
    ========================== -->
    <app-events-header>
    </app-events-header>


    <!-- =========================
         FILTERS
    ========================== -->
    <app-events-filters
      [filter]="filter"
      [searchTerm]="searchTerm"
      [eventTypes]="eventTypes"
      [filteredUsers]="filteredUsers"
      [showUserDropdown]="showUserDropdown"
      [showFromError]="showFromError"
      [showToError]="showToError"
      (userInputChange)="onUserInputChange($event)"
      (userSelected)="selectUser($event)"
      (eventTypeChange)="onEventTypeChange($event)"
      (fromChange)="onFromChange($event)"
      (toChange)="onToChange($event)"
      (sortChange)="onSortChange($event)"
      (descriptionChange)="onDescriptionSearchChange($event)"
      (searchRequested)="onSearchRequested()"
      (clearRequested)="clearFilters()"
      (dropdownBlurred)="hideDropdown()"
    >
    </app-events-filters>


    <!-- =========================
         SUMMARY
    ========================== -->
    @if (searchAttempted && !loading) {
      <app-events-summary
        [totalEvents]="totalEvents"
        [loginEvents]="loginEventsCount"
        [userEvents]="userEventsCount"
        [contentEvents]="contentEventsCount"
        [meetingEvents]="meetingEventsCount"
        [otherEvents]="otherEventsCount"
      >
      </app-events-summary>
    }


    <!-- =========================
         RESULTS
    ========================== -->
    <div class="processed-events-page__results">

      <app-events-table
        [events]="paginatedEvents"
        [loading]="loading"
        [searchAttempted]="searchAttempted"
        (metadataRequested)="showMetadata($event)"
      >
      </app-events-table>


      @if (
        !loading &&
        searchAttempted &&
        events.length > 0
      ) {
        <app-events-pagination
          [currentPage]="currentPage"
          [totalPages]="totalPages"
          [itemsPerPage]="itemsPerPage"
          [itemsPerPageOptions]="itemsPerPageOptions"
          [rangeLabel]="paginationLabel"
          [canPreviousPage]="canPreviousPage"
          [canNextPage]="canNextPage"
          (pageChange)="changePage($event)"
          (itemsPerPageChange)="changeItemsPerPage($event)"
          (previousRequested)="previousPage()"
          (nextRequested)="nextPage()"
        >
        </app-events-pagination>
      }

    </div>

  </div>


  <!-- =========================
       METADATA MODAL
  ========================== -->
  <app-modal
    [showModal]="modal.show"
    [title]="modal.title ?? ''"
    [isMetadataViewer]="modal.isMetadataViewer ?? false"
    [metadata]="modal.metadata"
    (close)="modal.close()"
  />

</section>