<div class="section">
    <div class="container">
      <div class="block title-container">
        <h1 class="title">Buscar Eventos</h1>
      </div>

      <div class="block-search">
        <form #form="ngForm" (ngSubmit)="searchEvents(form)" novalidate>

          <!-- Usuario -->
          <div class="field">
            <label class="label">Nombre de Usuario o Estudiante</label>
            <div class="control">
              <input
                class="input"
                type="text"
                name="searchTerm"
                placeholder="Buscar por nombre de usuario o estudiante"
                [(ngModel)]="searchTerm"
                #searchTermInput="ngModel"
                (input)="searchInput$.next(searchTerm)"
                (blur)="hideDropdown()"
                autocomplete="off"
              />

              <div *ngIf="showUserDropdown" class="dropdown">
                <div *ngIf="filteredUsers.length === 0" class="no-results">
                  No se encontraron coincidencias
                </div>
                <ul *ngIf="filteredUsers.length > 0">
                  <li *ngFor="let user of filteredUsers" (mousedown)="selectUser(user)">
                    {{ user.firstName }} {{ user.lastName }}
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- search -->
          <div class="field">
            <label class="label">Buscar en detalles del evento</label>
            <div class="control">
              <input
                class="input"
                type="text"
                name="search"
                placeholder="Buscar texto en metadatos"
                [(ngModel)]="filter.search"
              />
            </div>
          </div>

          <!-- Fechas -->
          <div class="columns is-mobile">
            <div class="column">
              <div class="field">
                <label class="label">Fecha desde</label>
                <div class="control input-date-container">
                  <input
                    class="input has-calendar-icon"
                    type="date"
                    [(ngModel)]="filter.from"
                    name="from"
                    #from="ngModel"
                  />
                  <span class="calendar-icon material-icons">calendar_today</span>
                </div>
                <p class="error-message" *ngIf="showFromError">
                  Fecha es obligatoria si hay una fecha final
                </p>
              </div>
            </div>

            <div class="column">
              <div class="field">
                <label class="label">Fecha hasta</label>
                <div class="control input-date-container">
                  <input
                    class="input has-calendar-icon"
                    type="date"
                    [(ngModel)]="filter.to"
                    name="to"
                    #to="ngModel"
                  />
                  <span class="calendar-icon material-icons">calendar_today</span>
                </div>
                <p class="error-message" *ngIf="showToError">
                  Fecha final es obligatoria si hay una fecha inicial
                </p>
              </div>
            </div>
          </div>

          <!-- Tipo de evento -->
          <div class="field">
            <label class="label">Tipo de Evento</label>
            <div class="control">
              <div class="select is-fullwidth">
                <select
                  [(ngModel)]="filter.eventType"
                  name="eventType"
                  #eventType="ngModel"
                >
                <option [ngValue]="undefined">Seleccionar evento</option>
                  <option *ngFor="let event of eventTypes" [value]="event.key">
                    {{ event.label }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="field mt-4">
            <div class="control">
              <button type="submit" class="button is-primary is-fullwidth">Buscar</button>
            </div>
          </div>

        </form>
      </div>
    </div>
    <div class="block-results">
      <p *ngIf="formSubmitted && events && events.length === 0" class="no-results-message">
        No hay eventos para los filtros aplicados.
      </p>

      <div class="table-container">
        <table class="table-results is-fullwidth" *ngIf="events && events.length > 0">
          <thead>
            <tr>
              <th>Usuario</th>
              <th>Tipo de Evento</th>
              <th>Descripción</th>
              <th>Metadata</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of events">
              <td data-label="Usuario">{{ getUserFullName(event.processedBy) }}</td>
              <td data-label="Tipo de Evento">{{ event.eventType | enumLabel: EventTypeE }}</td>
              <td data-label="Descripción">{{ event.description }}</td>
              <td>
                <button class="button is-small is-grey" (click)="showMetadata(event.metadata)">Ver</button>
              </td>
              <td data-label="Fecha">{{ formatDate(event.createdAt || '') }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <app-modal
    [showModal]="modal.show"
    [title]="modal.title ?? ''"
    [isMetadataViewer]="modal.isMetadataViewer ?? false"
    [metadata]="modal.metadata"
    (close)="modal.close()"
  />

