<main class="content-page">

  <div class="content-page__container">

    <!-- =========================
         HEADER
    ========================== -->

    <app-content-header
      (createRequested)="openModal()"
    >
    </app-content-header>


    <!-- =========================
         FILTERS
    ========================== -->

    <app-content-filters
      [form]="filterForm"
      [stages]="stages"
      (searchRequested)="searchContent()"
      (clearRequested)="clearFilters()"
    >
    </app-content-filters>


    <!-- =========================
         TABLE CARD
    ========================== -->

    <section class="content-page__table-card">

      <app-content-table
        [contents]="pagedContents"
        [startIndex]="startIndex"
        (detailsRequested)="viewContent($event)"
        (editRequested)="editContent($event)"
        (deleteRequested)="deleteContent($event.id)"
      >
      </app-content-table>


      <!-- =========================
           PAGINATION
      ========================== -->

      @if (total > 0) {

        <app-content-pagination
          [page]="page"
          [totalPages]="totalPages"
          [total]="total"
          [limit]="limit"
          [canPrev]="canPrev"
          [canNext]="canNext"
          [paginationLabel]="paginationLabel"
          (pageChange)="onPageChange($event)"
          (previousRequested)="onPrev()"
          (nextRequested)="onNext()"
          (limitChange)="onLimitChange($event)"
        >
        </app-content-pagination>

      }

    </section>

  </div>


  <!-- =========================
       CREATE MODAL
  ========================== -->

  @if (showModal) {

    <app-content-form-modal
      mode="create"
      [stages]="stages"
      (saveRequested)="handleFormSubmit($event)"
      (closeRequested)="closeModal()"
    >
    </app-content-form-modal>

  }


  <!-- =========================
       EDIT MODAL
  ========================== -->

  @if (contentToEdit) {

    <app-content-form-modal
      mode="edit"
      [stages]="stages"
      [content]="contentToEdit"
      (updateRequested)="handleUpdateContent($event)"
      (closeRequested)="closeEditModal()"
    >
    </app-content-form-modal>

  }


  <!-- =========================
       DETAILS MODAL
  ========================== -->

  @if (contentToView) {

    <app-content-details-modal
      [content]="contentToView"
      (closeRequested)="closeDetailsModal()"
    >
    </app-content-details-modal>

  }


  <!-- =========================
       GLOBAL MODAL
  ========================== -->

  <app-modal
    [showModal]="modal.show"
    [message]="modal.message"
    [isError]="modal.isError"
    [isSuccess]="modal.isSuccess"
    [isInfo]="modal.isInfo"
    [showButtons]="modal.showButtons ?? false"
    (confirmAction)="modal.confirm?.()"
    (close)="modal.close()"
  >
  </app-modal>

</main>