<div class="table-wrapper" *ngIf="assessments.length > 0">

  <div class="table-scroll">

    <!-- HEADER FIJO -->
    <table class="assessment-table table-header-only">
      <thead>
        <tr>
          <th>Recurso</th>
          <th>Stage</th>
          <th>Creador</th>
          <th>Asignados</th>
          <th>Finalizados</th>
          <th>Fecha Límite</th>
          <th>Acciones</th>
        </tr>
      </thead>
    </table>

    <!-- BODY SCROLLEABLE -->
    <div class="table-body-scroll">
      <table class="assessment-table">
        <tbody>
          <tr *ngFor="let a of assessments">

            <td class="col-resource">
              {{ a.stageAssessmentResource?.description || 'Sin descripción' }}
            </td>

            <td>{{ a.stage?.description || '—' }}</td>

            <td>
              {{ a.creator?.firstName }} {{ a.creator?.lastName }}
            </td>

            <!-- ASIGNADOS (clickeable) -->
            <td 
              class="clickable-cell"
              (click)="onAssignedClick(a)"
            >
              <span class="badge badge-blue">
                {{ a.studentIds.length }}
              </span>
            </td>

            <!-- FINALIZADOS (clickeable) -->
            <td 
              class="clickable-cell"
              (click)="onFinishedClick(a)"
            >
              <span 
                class="badge"
                [class.badge-green]="a.finished.length"
                [class.badge-red]="!a.finished.length"
              >
                {{ a.finished.length || 0 }}
              </span>
            </td>

            <td>
              {{ a.dueDate | date:'medium' }}
            </td>

            <td>
              <button class="delete-btn" (click)="onDelete(a)">
                  <i class="fa-solid fa-trash"></i>
              </button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>

<p class="empty-text" *ngIf="!loading && assessments.length === 0">
  No existen resultados para los filtros aplicados.
</p>

<div class="loading" *ngIf="loading">
  <div class="spinner"></div>
</div>