<!-- 🔵 BANNER SOLO CUANDO ESTÁ EXPANDIDO -->
<div
  *ngIf="isExpanded"
  class="student-banner"
  [class.warning-banner]="type === 'warning'"
  [class.info-banner]="type === 'info'"
  (click)="closeBanner()"
>
  <!-- <span
    class="material-icons"
    [ngClass]="{
      'warning-icon': type === 'warning',
      'info-icon': type === 'info'
    }"
  >
    {{ icon }}
  </span> -->

  <div class="banner-body">
    <div class="banner-title">
      <ng-container *ngIf="isExpanded; else minimizedTitle">
        {{ title }}
      </ng-container>
      <ng-template #minimizedTitle>{{ title }} &#33;</ng-template>
    </div>

    <div class="banner-text" *ngIf="isExpanded">
      <p *ngIf="text">{{ text }}</p>

      <ul *ngIf="(resources?.length ?? 0) > 0" class="resource-list">
        <li *ngFor="let item of resources">
          <div class="resource-title">
            <strong>Recurso:</strong> {{ item.title }}
          </div>

          <div class="resource-note" *ngIf="item.note">
            <strong>Nota:</strong>
            <span [innerHTML]="item.note | safeNoteHtml"></span>
          </div>

          <div class="resource-recommendation" *ngIf="item.link">
            <strong>Recomendación:</strong>
            <a [href]="item.link" target="_blank" rel="noopener noreferrer">
              {{ item.link }}
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- Botón que CIERRA el banner y deja solo la burbuja -->
  <button
    class="toggle-banner-btn"
    (click)="toggle(); $event.stopPropagation()"
  >
    <span class="material-icons">expand_more</span>
  </button>
</div>

<!-- BOTÓN FLOTANTE: aparece solo cuando el banner está cerrado -->
<button
  class="floating-restore-btn"
  *ngIf="!isExpanded"
  (click)="toggle(); $event.stopPropagation()"
  [ngClass]="{
    'warning-restore': type === 'warning',
    'info-restore': type === 'info'
  }"
>
  <span class="material-icons">{{ icon }}</span>
</button>