
$color-primary: rgb(7, 45, 182);
$color-secondary: rgb(115, 15, 177);
$color-accent: rgb(255, 255, 9);
$color-background: rgb(250, 250, 253);


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
}

.login-container {
  background-color: rgb(216, 216, 216);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

  .logo-container {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
    margin-bottom: 0rem;  
  }

  .logo-container img {
    max-width: 140px;  
    width: 100%;      
  }

  .box {
    background: rgb(219, 219, 219);
    border-radius: 10px;
    padding: 2rem 1.5rem;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 0 22px 10px rgba(151, 47, 210, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: .5px solid rgba(255, 255, 255, 0.172);
    transition: box-shadow 0.3s ease-in-out;

    &:focus-within {
        box-shadow: 0 0 15px rgba(146, 146, 146, 0.3);
        transition: box-shadow 0.5s ease-in-out;
    }
}

  .title {
    text-align: center;
    margin-bottom: 2.2rem;
    font-size: 1.9rem;
    color: rgb(82, 82, 82);
    background: transparent
  }

  .field {
    margin-bottom: 2.2rem;
    position: relative;
    color: white;
  }

  .input-container {
    display: inline-block;
    padding: 1px;
    border-radius: 15px;
    background: linear-gradient(135deg, #acbadd, #d8bfd8);
  }

  .control.has-icons-right {
    position: relative;
  }

/* Floating label */
.floating-label {
  position: relative;
  width: 100%;
}

.floating-label input {
  width: 100%;
  padding: 0.55rem 12px;
  padding-right: 36px;
  font-size: 1rem;
  height: 42px;
  border: 1px solid rgb(141, 140, 140);
  border-radius: 5px;
  background-color: rgba(138, 138, 139, 0.001);
  color: rgb(76, 76, 76);
  transition: all 0.2s ease;
}

.floating-label input:focus {
  border: none; 
  outline: none;
}

.floating-label label {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: .95rem;
  color: rgba(111, 110, 113, 0.791);
  transform: translateY(-50%);
  transition: 0.3s ease all;
  pointer-events: none;
}

/* Al hacer focus o cuando el input tiene texto, la etiqueta flota */
.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label {
  top: -0.15rem;
  left: 5px;
  font-size: 0.95rem;
  color: rgb(94, 93, 93);
  background: rgb(219, 219, 219);
  padding: 0 5px;
  z-index: 1;
}

.floating-label .icon.is-right {
  position: absolute;
  right: 14.5px;
  top: 50%;
  transform: translateY(-50%);
  color: #875fd6;
}

.input.is-invalid {
  border-color: #dc3545 !important;
  transition: border-color 0.3s ease;
}

  .error {
    color: rgb(218, 88, 68);
    font-size: .7rem;
    margin-top: 0.5rem;
    position: absolute;
    bottom: -1.5rem;
    left: 4%;
    width: 100%;
    height: 1.5rem;
  }

  .field-button {
    margin-top: 3.7rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .button.is-primary {
    background: linear-gradient(90deg, rgb(60, 91, 231) 0%, rgb(150, 60, 231) 100%);
    color: $color-background;
    border: none;
    padding: 0.75rem;
    font-size: 1.1rem;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.7s;

    &:hover {
      background-color: rgb(33, 63, 196);
    }
  }

  .toggle-container {
    text-align: center;
    margin-top: 1rem;

    p {
      font-size: .85rem;
      color: #875fd6;
      font-weight: 500;

      a {
        color: rgb(148, 117, 222);
        font-weight: 400;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: rgb(152, 105, 205);
          text-decoration: underline;
        }
      }
    }
  }

  .input-field {
    position: relative;
  }

  .toggle-password {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
  }

  .toggle-password i {
    font-size: .85rem;
    color: #9672de;
  }

  .forgot-password-container {
    position: absolute;
    right: 0;
    margin-top: -0px;
  }

  .field {
    position: relative;
  }

  .forgot-password-link {
    color: #875fd6;
    text-decoration: none;
    font-size: .77rem;
  }

  .forgot-password-link:hover {
    text-decoration: underline;
  }

  .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}

.modal-content {
  background-color: white;
  padding: 1.7rem;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  width: 350px;
  max-width: 90%;
  position: relative;
  animation: shake 0.5s ease;
}

  @keyframes shake {
    0% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

.modal-content p {
  font-size: 1rem;
  color: #dfd9d9;
}

.success-modal {
  background-color: #eaecec;
}

.success-modal p{
  color: #28a745;
}

.error-modal {
  background-color: #dedfdf;
}

.error-modal p {
  color: rgb(208, 58, 58);
}

.success-icon {
  font-size: 1.4rem;
  color: #28a745;
  margin-bottom: 1rem;
}

.error-icon {
  font-size: 1.4rem;
  color: #dc3545;
  margin-bottom: 1rem;
}


  @media (max-width: 768px) {
    .box {
      padding: 1.5rem 1.2rem;
      margin: 0 1rem;
      width: 100%;
      max-width: 300px;
    }

    .title {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    .field {
      margin-bottom: 2rem;
    }

    .input {
      font-size: .9rem;
      height: 39px;
      padding: 0.5rem 12px;
}

    .icon.is-right {
      right: 15.5px !important;    
    }

    .icon.is-right i {
      font-size: .9rem;
    }

    .error {
      font-size: .6rem;
      margin-top: 0.4rem;
      bottom: -1.4rem;
    }

    .forgot-password-link {
      text-decoration: none;
      font-size: .65rem;
    }

    .field-button {
      margin-top: 3rem;
      text-align: center;
    }

    .button.is-primary {
      font-size: .9rem;
      padding: .7rem 0;
    }

    .toggle-container {
      text-align: center;
      margin-top: -.2rem;

      p {
        font-size: .8rem;

        a {
          color: rgb(148, 117, 222);
        }
      }
    }

    .toggle-password i {
      font-size: .8rem;
      color: #875fd6;
    }

    .modal-content {
      background-color: white;
      padding: 1.5rem 1rem;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
      width: 400px;
      max-width: 80%;
      position: relative;
    }

    .modal-content p {
      font-size: .9rem;
      color: #dfd9d9;
    }

    .success-modal {
      background-color: #eaecec;
      color: #28a745;
    }

    .success-modal p{
      color: #28a745;
    }

    .error-modal {
      background-color: #dfe2e3;
    }

    .error-modal p {
      color: rgb(208, 58, 58);
    }

    .success-icon {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .error-icon {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }

  @media (max-width: 492px) {

    .login-container{
      background: rgb(219, 219, 219);
    }

    .logo-container {
      display: flex;
      margin-top: -6rem;  
    }
  
    .logo-container img {
      width: 90px;       
    }

    .box {
      background: transparent;
      padding: .5rem 1rem;
      width: 90%;
      max-width: 380px;
      box-shadow: none;
      border: none;
      transition: box-shadow 0.3s ease-in-out;

      &:focus-within {
        box-shadow: none;
        transition: none;
    }
  }

    .title {
      font-size: 1.3rem;
      margin-bottom: 2.5rem;
    }

    .field {
      margin-bottom: 2rem;
    }

    .floating-label input {
      width: 100%;
      padding: 0.55rem 12px;
      padding-right: 36px;
      border-radius: 5px;
      box-shadow: none;
      border-color: rgb(171, 170, 170);
      font-size: 1rem;
      height: 43px;
      transition: all 0.4s ease;
    }
  
    .floating-label input:focus {
      border-color: rgb(171, 170, 170);
      border: .5px solid rgb(137, 136, 136);
      border-radius: 5px;
      outline: none;
    }

    .error {
      left: 5px;
      font-size: .7rem;
      margin-top: 0rem;
      bottom: -1.5rem;
    }

    .forgot-password-container {
      position: absolute;
      right: 0;
      margin-top: 0px;
    }

    .forgot-password-link {
      color: #7836d5;
      text-decoration: none;
      font-size: .75rem;
    }

    .field-button {
      margin-top: 4rem;
      text-align: center;
    }

    .button.is-primary {
      font-size: 1.05rem;
      padding: .8rem 0;
    }

    .toggle-container {
      text-align: center;
      margin-top: 2rem;

      p {
        font-size: .8rem;

        a {
          font-size: .85rem;
          color: #7836d5;
        }
      }
    }

    .toggle-password i {
      font-size: .9rem;
    }

    .modal-content {
      padding: 1.5rem 1rem;
      max-width: 80%;
      border-radius: 5px;
    }

    .modal-content p{
      font-size: .85rem;
    }

    .modal-content i{
      font-size: 1.1rem;
    }
  }
