
$color-primary: rgb(7, 45, 182);
$color-secondary: rgb(115, 15, 177);
$color-accent: rgb(255, 255, 9);
$color-background: rgb(250, 250, 253);


body {
  background-color: $color-background;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.login-container {
    background: url('/assets/fondo login & register.png') no-repeat center center fixed;
    background-size: cover;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: rgba(143, 134, 148, 0.328);  
    border-radius: 10px;
    padding: 4rem 2.5rem;
    width: 100%;
    max-width: 550px;
    box-shadow: 0 0 12px rgba(217, 211, 211, 0.1);
    backdrop-filter: blur(10px);  
    -webkit-backdrop-filter: blur(10px);  
    border: .5px solid rgba(255, 255, 255, 0.1);  
    transition: box-shadow 0.3s ease-in-out;
   
    &:focus-within {
        box-shadow: 0 0 15px rgba(211, 211, 211, 0.3);  
        transition: box-shadow 0.5s ease-in-out; 
    }
}

  .title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
    background: linear-gradient(135deg, rgb(255, 255, 9), rgb(250, 250, 253)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .label {
    color: white;  
    font-size: 1.2rem;
    margin-bottom: .15rem;
    margin-left: 14px;
    font-weight: 400;
  }

  .field {
    margin-bottom: 2.3rem;  
    position: relative;
  }

  .input-container {
    display: inline-block;
    padding: 2px; /* Espacio para el borde degradado */
    border-radius: 25px; /* Asegúrate de que coincida con el borde del input */
    background: linear-gradient(135deg, #96a7d2, #d8bfd8); /* Degradado azul a morado */
  }
  
  .input {
    border-radius: 10px;
    padding: 0.75rem;
    padding-left: 15px;
    border: 1px solid lighten($color-primary, 10%);
    font-size: 1.35rem;
    background-color: rgba(157, 156, 156, 0.3);  
    color: white;  
    transition: background-color 0.4s ease; 
       
    &:hover {
      background-color: rgba(157, 156, 156, 0.5);  
    }
  
    &:focus {
      background-color: rgba(157, 156, 156, 0.6);  
      outline: none; 
    }
  }
  
  
  .input::placeholder {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.3);  
  }

  .error {
    color: rgb(255, 221, 0);
    font-size: 1rem;
    margin-top: 0.5rem;
    position: absolute;  
    bottom: -1.5rem;  
    left: 4%;
    width: 100%;
    height: 1.5rem; 
  }
  
  .field-button {
    margin-top: 4.5rem;  
    margin-bottom: 2rem;  
    text-align: center;  
  }
  
  .button.is-primary {
    background-color: $color-secondary;
    color: $color-background;
    border: none;
    padding: 0.75rem;
    font-size: 1.3rem;
    border-radius: 25px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.7s;
  
    &:hover {
      background-color: darken($color-secondary, 10%);
    }
  }

  .toggle-container {
    text-align: center;  
    margin-top: 2rem;  
  
    p {
      font-size: 1rem;
      color: white;  
  
      a {
        color: white;
        font-weight: 500;
        text-decoration: none;
        transition: color 0.3s ease;  
  
        &:hover {
          color: $color-accent;  
          text-decoration: underline; 
        }
      }
    }
  }

  .input-field {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
  }
  
  .toggle-password i {
    font-size: 1.2rem;
    color: #c3c3c3;
  }

  .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}

.modal-content {
  background-color: white;
  padding: 4rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  width: 500px;
  max-width: 90%;
  position: relative;
}

.modal-content p {
  font-size: 1.5rem; 
  color: #dfd9d9;  
}

.success-modal {
  background-color: #b6b9bb; 
}

.success-modal p{
  color: black;
}

.error-modal {
  background-color: #b6b9bb; 
}

.error-modal p {
  color: rgb(208, 58, 58);
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #ff5a5f;
  color: white;
  border: none;
  padding: 1rem 1rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;
  line-height: 1;
}

.modal-close:hover {
  background-color: #e04848;
}


  /* Estilos responsivos */
  @media (max-width: 768px) {
    .box {
      padding: 3rem 2rem;
      margin: 0 1rem;  
    }
  
    .title {
      font-size: 2.6rem;
    }

    .field {
      margin-bottom: 1.8rem; 
    }

    .label {
      font-weight: 400;
      font-size: 1.15rem;
      margin-bottom: 0rem;
      margin-left: 9px;
    }
  
    .input {
      font-size: 1.3rem;
      padding: 0.5rem 15px;
    }
  
    .button.is-primary {
      font-size: 1.2rem;
    }

    .modal-content {
      padding: 2rem 1rem;
      max-width: 80%; 
    }

    .modal-content p{
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 480px) {
    .box {
      padding: 2rem 1.5rem;
      margin: 0 1.5rem;  
    }
  
    .title {
      font-size: 2.1rem;
    }
  
    .input {
      font-size: 1.3rem;
      padding: 0.4rem 10px;
    }
  
    .button.is-primary {
      font-size: 1.2rem;
    }
  }