<div class="login-container">
  <div class="box">
    <h1 class="title">Sign In</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input 
            class="input" 
            type="email" 
            formControlName="email" 
            placeholder="Enter your email">
        </div>
        <div 
          *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" 
          class="error">
          Please enter a valid email
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-right">
          <input 
            [type]="passwordVisible ? 'text' : 'password'" 
            class="input" 
            formControlName="password" 
            placeholder="Enter your password">
          <div class="toggle-password" (click)="togglePasswordVisibility()">
            <i [ngClass]="passwordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
          </div>
        </div>
        <div 
          *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" 
          class="error">
          Password is required
        
        </div>
        <div class="forgot-password-container">
          <a [routerLink]="['/forgot-password']" class="forgot-password-link">
            Forgot your password?
          </a>
        </div>
      </div>

      <div class="field-button">
        <div class="control">
          <button 
            class="button is-primary">Sign In</button>
        </div>
      </div>
    </form>

    <div class="toggle-container">
      <p class="nu">
        New user? 
        <a [routerLink]="['/register']">Sign up</a>
      </p>
    </div>
  </div>
</div>


<!-- Modal -->
<div *ngIf="showModal" class="modal-overlay">
  <div class="modal-content error-modal">
    <i class="fas fa-exclamation-circle error-icon"></i>
    <p>The form must be completed.</p>
  </div>
</div>

<!-- Modal exitoso -->
<div *ngIf="showSuccessModal" class="modal-overlay">
  <div class="modal-content success-modal">
    <i class="fas fa-check-circle success-icon"></i>
    <p>Login successful!</p>
  </div>
</div>