<main class="scheduled-meetings-page">
  <div class="scheduled-meetings-content">
    <app-scheduled-meetings-header
      [userData]="userData"
    ></app-scheduled-meetings-header>

    <app-scheduled-meetings-summary
    [meetings]="meetings"
    ></app-scheduled-meetings-summary>

    <app-scheduled-meetings-filters
    [searchTerm]="searchTerm"
    [selectedDateFilter]="selectedDateFilter"
    [selectedStatusFilter]="selectedStatusFilter"
    [selectedView]="selectedView"

    (searchTermChange)="onSearchTermChange($event)"
    (selectedDateFilterChange)="onDateFilterChange($event)"
    (selectedStatusFilterChange)="onStatusFilterChange($event)"
    (selectedViewChange)="onViewChange($event)"
    ></app-scheduled-meetings-filters>

    <app-scheduled-meetings-list
    [meetings]="paginatedMeetings"
    [view]="selectedView"
    [isLoading]="isLoadingMeetings"
    (viewDetails)="onViewMeetingDetails($event)"
    (openOptions)="onOpenMeetingOptions($event)"
    (deleteMeeting)="openDeleteModal($event)"
    ></app-scheduled-meetings-list>

   <app-scheduled-meetings-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    [totalItems]="filteredMeetings.length"
    [itemsPerPage]="itemsPerPage"
    (pageChange)="onPageChange($event)"
    ></app-scheduled-meetings-pagination>
  </div>

  <app-meeting-detail-modal
    [selectedMeeting]="selectedMeeting"
    [isActive]="isMeetingDetailModalActive"
    (modalClose)="onCloseMeetingDetailModal()"
  ></app-meeting-detail-modal>
</main>

<app-modal
  [showModal]="modalConfig.show"
  [message]="modalConfig.message"
  [isError]="modalConfig.isError"
  [isSuccess]="modalConfig.isSuccess"
  [isInfo]="modalConfig.isInfo"
  [showButtons]="modalConfig.confirm !== undefined"
  (confirmAction)="
    modalConfig.confirm &&
    modalConfig.confirm()
  "
  (close)="modalConfig.close()"
>
</app-modal>