<div class="app-container">
  <app-header *ngIf="isLoggedIn && (!isRegistered && userData?.role === UserRole.STUDENT)"></app-header>
  <div class="content-wrapper">
    <!-- Sidebar, visible solo cuando el usuario está logueado -->
    <app-sidebar *ngIf="isLoggedIn && (isRegistered || userData?.role !== UserRole.STUDENT)"
                 [isSidebarClosed]="isSidebarClosed"
                 (toggleSidebarEvent)="toggleSidebar()"
                 (logoutEvent)="onConfirmLogout()">
    </app-sidebar>

    <!-- Main content -->
    <main class="main-content" [ngClass]="{'shrink': isLoggedIn && !isSidebarClosed, 'full-width': !isLoggedIn}">
      <router-outlet></router-outlet>
      <app-spinner></app-spinner>
    </main>
  </div>
</div>

<app-modal
  [showModal]="modal.show"
  [message]="modal.message"
  [isError]="modal.isError"
  [isSuccess]="modal.isSuccess"
  (close)="modal.close()">
</app-modal>