<div class="app-container">
  <app-header *ngIf="isLoggedIn && (!isRegistered && userData?.role === UserRole.STUDENT)"></app-header>
  <div class="content-wrapper">
    <app-sidebar *ngIf="isLoggedIn && (isRegistered || userData?.role !== UserRole.STUDENT)"
                 [isSidebarClosed]="isSidebarClosed"
                 (toggleSidebarEvent)="toggleSidebar()"
                 (logoutEvent)="onConfirmLogout()">
    </app-sidebar>
    <main class="main-content" [ngClass]="{'shrink': !isSidebarClosed}">
      <router-outlet></router-outlet>
      <app-spinner></app-spinner>
    </main>
  </div>
</div>
