.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-wrapper {
  display: flex;
  flex: 1 1 auto;
}

.main-content {
  flex-grow: 1;
  overflow-y: auto;
  transition: margin-left 0.3s ease, width 0.3s ease; /* Smooth transition */
  width: 100%; /* Full width by default */
}

.sidebar.closed + .main-content {
  margin-left: 70px;
}

.main-content.shrink {
  width: calc(100% - 250px); /* Adjust the width based on your sidebar width */
}

@media (min-width: 768px) {
  .main-content {
    margin-left: 70px; /* Space for the closed sidebar */
  }

  .main-content.shrink {
    margin-left: 250px; /* Space for the open sidebar */
  }
}
