.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-wrapper {
  display: flex;
  flex: 1;
}

.main-content {
  flex-grow: 1;
  overflow-y: auto;
  transition: margin-left 0.3s ease, width 0.3s ease;
  width: 100%; 
}
app-sidebar {
  z-index: 1005; 
}

/* Cuando el sidebar está cerrado, el main-content tiene 70px de margen */
.main-content.shrink {
  margin-left: 250px; 
}

.main-content.full-width {
  margin-left: 0; 
  width: 100%; 
}

@media (min-width: 768px) {
  .main-content {
    margin-left: 70px; 
  }

  .main-content.shrink {
    margin-left: 250px; 
  }

  .main-content.full-width {
    margin-left: 0; 
    width: 100%; 
  }
}