<div class="class-booking-header">
  <h1 class="title is-4">Book your classes</h1>
</div>

<div class="booking-container container">
  <div class="columns is-mobile">

    <!-- primer bloque: información del estudiante -->
    <div class="column student-info">
<!--      <div class="student-photo">-->
<!--        <img src="/assets/foto usuario default.png" alt="Foto del estudiante">-->
<!--      </div>-->
      <div class="student-name">
        <h2>{{ userName() }}</h2>
      </div>
      <div class="student-details">
        <p>{{ userData?.email }}</p>
      </div>
      <div class="student-details">
        <p>{{ userData?.stage?.description }}</p>
      </div>
    </div>

    <!-- Segundo bloque: calendario y time slots-->
    <div class="date-time-wrapper">

      <!-- sub-bloque 1: Calendario -->
      <div class="date-time-selection">
        <div class="calendar-title">
          <h3 class="title is-4">Select a date</h3>
        </div>
        <div class="month-selector">
          <button class="button is-small" (click)="prevMonth()">
            <i class="fas fa-chevron-left"></i>
          </button>
          <span>{{ selectedMonth }} {{ selectedYear }}</span>
          <button class="button is-small" (click)="nextMonth()">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
        <div class="calendar">
          <div class="calendar-header">
            <div class="calendar-day-header">Sun</div>
            <div class="calendar-day-header">Mon</div>
            <div class="calendar-day-header">Tue</div>
            <div class="calendar-day-header">Wed</div>
            <div class="calendar-day-header">Thu</div>
            <div class="calendar-day-header">Fri</div>
            <div class="calendar-day-header">Sat</div>
          </div>
          <div class="calendar-grid">
            <div
              *ngFor="let day of currentMonthDays"
              class="calendar-day"
              (click)="isDaySelectable(day) ? selectDay(day) : null"
              [class.selected]="selectedDay === day.day"
              [class.selectable]="isDaySelectable(day)"
              [class.unselectable]="!isDaySelectable(day)">
              {{ day.day }}
            </div>
          </div>
          </div>
        </div>
      </div>

      <!-- Sub-bloque 2: Time Slots -->
      <div class="selected-date-time">
        <h3 class="title is-5">Select a time</h3>
        <div class="time-slots">
          <div *ngFor="let time of timeSlots"
               class="time-slot"
               (mouseenter)="showConfirm = time"
               (mouseleave)="showConfirm = null">
            <div class="time-text-container">
              <span class="time-text">{{ time }}</span>
            </div>
            <div class="confirm-box" *ngIf="showConfirm === time" (click)="selectTimeSlot(time)">
              Confirm
            </div>
          </div>
        </div>
      </div>

    </div>




<!-- Modal de error -->
<div *ngIf="showModal" class="modal-overlay">
  <div class="modal-content error-modal">
    <i class="fas fa-exclamation-circle error-icon"></i>
    <p class="help is-danger bold-text">You must select a date</p>
    <p class="help is-danger small-text">before choosing a time slot.</p>
  </div>
</div>

<!-- Modal exitoso con botones para confirmar o cancelar -->
<div *ngIf="showSuccessModal" class="modal-overlay">
  <div class="modal-content success-modal">
    <i class="fas fa-question-circle question-icon"></i>
    <p>You have selected <br> {{ selectedDayFormatted }} at {{ selectedTimeSlot }}.</p>

    <!-- Confirmation and cancellation buttons -->
    <div class="modal-buttons">
      <button class="button is-success" (click)="confirmSelection()">Accept</button>
      <button class="button is-danger" (click)="cancelSelection()">Cancel</button>
    </div>
  </div>
</div>

<div *ngIf="showInfoModal" class="modal-overlay">
  <div class="modal-content info-modal">
    <i class="fas fa-check-circle info-icon"></i>
    <p>Your selection was successful!</p>
  </div>
</div>
