<div class="class-booking-header">
  <h1 class="title is-3">Agenda tus clases</h1>
</div>

<main class="booking-container container">
  <div class="columns is-mobile">
    <section class="column student-info">
      <div class="student-name">
        <h3 *ngIf="userData?.firstName && userData?.lastName">
          {{ userName() }}
        </h3>
<!--        <h3 *ngIf="!userData?.firstName || !userData?.lastName">-->
<!--          <a [routerLink]="['/register-complete']" class="complete-link">-->
<!--            Completar Datos-->
<!--          </a>-->
<!--        </h3>-->
      </div>
      <div class="student-details">
        <p>{{ userData?.email }}</p>
      </div>
      <div class="student-details">
        <p>{{ userData?.stage?.description }}</p>
      </div>
<!--      <div class="student-details">-->
<!--        <p>{{ userData?.student?.studentClassification }}</p>-->
<!--      </div>-->

      <!-- Selected Meetings Section -->
      <div class="student-schedule" *ngIf="meetings.length > 0">
        <h4 class="schedule-title">Agendadas</h4>
        <div class="scroll-buttons">
          <button class="scroll-button left" (click)="scrollLeft()" [class.hidden]="!canScrollLeft" aria-label="Scroll left">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button class="scroll-button right" (click)="scrollRight()" [class.hidden]="!canScrollRight" aria-label="Scroll right">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
        <div class="schedule-list" #scheduleList>
          <div *ngFor="let meeting of meetings; let i = index" class="schedule-item" (click)="openMeetingDetailModal(meeting, i)">
            <div class="meeting-title">
              <strong>
                {{ isToday(meeting.date)
                ? 'Hoy' : isTomorrow(meeting.date)
                  ? 'Mañana' : isCurrentWeek(meeting.date)
                    ? capitalizeFirstLetter(meeting.date | date: 'EEEE':'UTC')
                      : (meeting.date | date: 'mediumDate':'UTC') }}
              </strong>
            </div>
            <div class="meeting-info-container">
              <div class="schedule-info">
                <strong>Fecha: </strong> <span>{{ meeting.date | date: 'mediumDate':'UTC' }}</span><br>
                <strong>Hora: </strong> <span>{{ meeting.hour | number: '2.0' }}:00</span>
              </div>
              <div class="schedule-delete">
                <button class="delete-button" (click)="openDeleteModal(meeting); $event.stopPropagation()">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                    <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- No Meetings Message -->
      <div class="no-meeting" *ngIf="meetings.length === 0">
        <p>No tienes fechas de clases programadas</p>
        <i class="far fa-calendar-times no-meeting-icon"></i>
      </div>
    </section>
  </div>

  <hr class="divider">

  <!-- Date and Time Selection Section -->
  <div class="date-time-wrapper">
    <!-- Calendar Selection -->
    <section class="date-time-selection">
      <div class="calendar-title" (click)="scrollToCalendar()">
        <h3 class="title is-4">Seleccione día</h3>
      </div>
      <div class="month-selector">
        <button *ngIf="canGoBack" class="button is-small prev-button" (click)="prevMonth()" aria-label="Previous month">
          <i class="fas fa-chevron-left"></i>
        </button>
        <span class="month-label">{{ selectedMonth }} {{ selectedYear }}</span>
        <button *ngIf="canGoForward" class="button is-small next-button" (click)="nextMonth()" aria-label="Next month">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
      <div class="calendar" #calendarRef>
        <div class="calendar-header">
          <div class="calendar-day-header">Dom</div>
          <div class="calendar-day-header">Lun</div>
          <div class="calendar-day-header">Mar</div>
          <div class="calendar-day-header">Mie</div>
          <div class="calendar-day-header">Jue</div>
          <div class="calendar-day-header">Vie</div>
          <div class="calendar-day-header">Sab</div>
        </div>
        <div class="calendar-grid">
          <div
            *ngFor="let day of currentMonthDays"
            class="calendar-day"
            (click)="isDaySelectable(day) ? selectDay(day) : null"
            [class.selected]="selectedDay === day.day"
            [class.selectable]="isDaySelectable(day)"
            [class.unselectable]="!isDaySelectable(day)"
            [class.disabled]="day.isDisabled"
            [class.empty]="!day.day"
            [class.danger]="day.dayOfWeek === 'DOMINGO'">
            {{ day.day }}
          </div>
        </div>
      </div>
    </section>

    <!-- Time Slots Selection -->
    <section class="selected-date-time">
      <h2 class="titulo-slots" (click)="scrollToTimeSlots()">Seleccione una hora</h2>
      <h3 class="title is-3"></h3>
      <button class="scroll-arrow-up" (click)="scrollUp()" [class.disabled]="!canScrollUp" aria-label="Scroll up">
        <i class="fas fa-chevron-up"></i>
      </button>
      <div class="time-slots" #timeSlotList  #timeSlotsRef>
        <div *ngIf="timeSlots.length === 0">
          <p>Horarios no disponibles</p>
        </div>
        <div *ngFor="let time of timeSlots; let i = index"
             class="time-slot"
             [class.disabled]="time.isDisabled"
             (mouseenter)="hoverIndex = i"
             (mouseleave)="hoverIndex = null">
          <div class="time-text-container">
            <span class="time-text">{{ time.label }}</span>
          </div>
          <div class="confirm-box" *ngIf="hoverIndex === i && !time.isDisabled" (click)="selectTimeSlot(time)">
            Confirmar
          </div>
        </div>
      </div>
      <button class="scroll-arrow-down" (click)="scrollDown()" [class.disabled]="!canScrollDown" aria-label="Scroll down">
        <i class="fas fa-chevron-down"></i>
      </button>
    </section>
  </div>
</main>


<!-- Modal de detalles de la reunión -->
<div class="modal" [ngClass]="{ 'is-active': isMeetingDetailModalActive }">
  <div class="modal-background" (click)="closeMeetingDetailModal()"></div>
  <div class="modal-card meeting-detail-modal">
    <header class="modal-card-head">
      <p class="modal-card-title">Detalles Reunion Agendada</p>
    </header>
    <section class="modal-card-body">
      <p><strong>Fecha:</strong> <span>{{ selectedMeeting?.date | date: 'EEEE, d MMMM YYYY':'UTC' }}</span></p>
      <p><strong>Hora:</strong> <span>{{ selectedMeeting?.hour }}:00</span></p>
      <p><strong>Modo:</strong> <span>{{ selectedMeeting?.mode === mode.ONLINE ? 'Online' : 'Presencial' }}</span></p>
      <p>
        <strong>Instructor:</strong>
        <span>
          {{ (selectedMeeting?.instructor?.user?.firstName || 'No asignado') | titlecase }}
          {{ selectedMeeting?.instructor?.user?.lastName | titlecase }}
        </span>
      </p>
      <p *ngIf="selectedMeeting?.password && linkStatus === 'clickable'">
        <strong>Contraseña:</strong>
        <span>{{ selectedMeeting?.password }}</span>
      </p>
      <ng-container *ngIf="selectedMeeting?.mode === mode.ONLINE">
        <p class="meeting-link"
           [ngClass]="{
       'no-link': !selectedMeeting?.link,
       'clickable': linkStatus === 'clickable',
       'not-clickable': linkStatus === 'not-clickable',
       'not-available': linkStatus === 'not-available'}">
          <a *ngIf="selectedMeeting?.link && linkStatus === 'clickable'"
             readonly="true"
             [href]="getFormattedLink(selectedMeeting?.link || 'Enlace aun no asignado')"
             target="_blank"
             rel="noopener noreferrer"
             style="user-select: none;"
          >
            Ir a la clase
          </a>
          <span *ngIf="linkStatus === 'not-clickable'">{{ selectedMeeting?.link ? 'Enlace asignado' : 'Enlace aun no asignado' }}</span>
          <span *ngIf="linkStatus === 'not-available'">Enlace no disponible</span>
        </p>
        <p class="link-note" *ngIf="selectedMeeting?.link">
          <small>* El enlace estará disponible 5 minutos antes y hasta 6 minutos después de la hora agendada.</small>
        </p>
      </ng-container>
    </section>
  </div>
</div>


<!-- Modal exitoso con botones para confirmar o cancelar -->
<div *ngIf="showSuccessModal" class="modal-overlay">
  <div class="modal-content success-modal">
    <i class="fas fa-question-circle question-icon"></i>
    <p>Usted ha seleccionado <br> {{ selectedDayFormatted }} a las {{ selectedTimeSlot.label }}</p>

     <!-- bloque radio buttons -->
    <p class="radio-question">Elige modo de la clase:</p>

    <div class="radio-options">
      <label class="custom-radio">
        <input type="radio" name="meetingType" [(ngModel)]="meetingType" [value]="mode.ONLINE" checked>
        <span class="radio-label">Online</span>
      </label>
      <label class="custom-radio">
        <input type="radio" name="meetingType" [(ngModel)]="meetingType" [value]="mode.PRESENCIAL">
        <span class="radio-label">Presencial</span>
      </label>
    </div>

    <!-- Confirmation and cancellation buttons -->
    <div class="modal-buttons">
      <button class="button is-success" (click)="bookMeeting()">Aceptar</button>
      <button class="button is-danger" (click)="cancelSelection()">Cancelar</button>
    </div>
  </div>
</div>

<app-modal 
  [showModal]="modalConfig.show"
  [message]="modalConfig.message"
  [isError]="modalConfig.isError"
  [isSuccess]="modalConfig.isSuccess"
  [isInfo]="modalConfig.isInfo"
  [showButtons]="modalConfig.confirm !== undefined"
  (confirmAction)="modalConfig.confirm && modalConfig.confirm()"
  (close)="modalConfig.close()">
</app-modal>
