
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.fade-out { animation: fadeOut 0.4s forwards; }
.fade-in { animation: fadeIn 0.4s forwards; }

/* SEGUNDO BLOQUE: Contenedor general de calendario y time slots */
.date-time-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  gap: 20px;
  margin: 0 auto;
  padding: 5rem 0;
}

/* SUB-BLOQUE: Calendario */
.date-time-selection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333b9;
  border: 1px solid rgba(210, 210, 210, 0.709);
  background-color: rgba(249, 249, 249, 0.661);
  border-radius: 5px;
  padding: 1.7rem;
  width: 445px;
  gap: 1.5rem;
  border-radius: 25px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.14);
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
}

.calendar-title{
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%); 
}

.title.is-4, .titulo-slots{
  color: rgb(62, 62, 62);
  padding: 1rem 2rem;
  background-color: rgba(255, 213, 114, 0.777);
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
}

.month-selector {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: transparent;
}

.month-label {
  font-weight: bold;
  font-size: 1.2rem;
}

.month-selector button {
  width: 40px;
  height: 2.5rem;
  border: 1px solid rgba(128, 128, 128, 0.107);
  border-radius: 50%;
  background-color: rgba(129, 128, 128, 0.054);
  color: rgb(104, 104, 104);
  cursor: pointer;
  position: absolute;
  font-size: 1rem;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}

.month-selector button:hover {
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15); 
  transform: translateY(-50%) scale(1.1);  
}

.prev-button { left: 18.5%; top:53%; }
.next-button { left: 70%; top: 48%;  }

.month-selector button.hidden {
  visibility: hidden;
}

.calendar-header, .calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  grid-auto-rows: 30px;
  gap: 11px;
  width: 100%;
}

.calendar-day-header {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  background-color: transparent;
}

.calendar-day {
  display: flex;
  width: 15px;
  height: 15px;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 18px;
  font-size: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.calendar-day.selectable {
  border: 1px solid #6eb3fcbc;
}

.calendar-day.selectable:hover, .calendar-day.selected {
  background-color: #6eb3fcbc;
}

.calendar-day.unselectable {
  background-color: #e9e9e96d;
  color: #9f9f9f;
  cursor: not-allowed;
}

.calendar-day.empty {
  background-color: transparent; 
  border: none;
  cursor: default;
  pointer-events: none;
}

.calendar-day.danger, 
.calendar-day.disabled {
  background-color: #ffd3d2; 
}

/* SUB-BLOQUE: time slots */
.selected-date-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0rem;
  width: 45%;
}

.time-slots {
  display: flex;
  margin-top: .7rem;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  height: 320px;
  overflow-y: auto;
  width: 440px;
  padding: 7px 0px;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.time-slots::-webkit-scrollbar {
  display: none; 
}

/* Estilos para las flechas de scroll */
.scroll-arrow-up,
.scroll-arrow-down {
  position: relative;
  background-color: transparent;
  color: rgb(146, 100, 238);
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.scroll-arrow-up {
  margin-bottom: -15px; 
}

.scroll-arrow-down {
  margin-top: 3px; 
}

.scroll-arrow-up.disabled,
.scroll-arrow-down.disabled {
  color: rgb(164, 161, 161);
  cursor: pointer;
}

.time-slot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  color: white;
  min-width: 45%;
  min-height: 45px;
  background: linear-gradient(to right, rgba(68, 144, 226, 0.74) 0%, rgba(194, 68, 226, 0.711) 100%  ); 
  gap: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15);
}

.time-text-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45px;
  border-radius: 5px;
  width: 100%;
  padding: 0 10px;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15);
}

.confirm-box {
  flex: 1;
  width: 100%;
  background: linear-gradient(to right, rgba(194, 68, 226, 0.673) 0%, rgb(194, 68, 226)100%);
  padding: 11px 10px 10px;
  min-height: 45px;
  border-radius: 5px;

  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.7s ease;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15);
}

.time-slot:hover {
  box-shadow: none;
  background: linear-gradient(to right, rgba(68, 144, 226, 0.1) 0%, rgba(194, 68, 226, 0.1) 100%);
}

.time-slot:hover .confirm-box,
.time-slot:hover .time-text-container {
  opacity: 1;
  visibility: visible;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
}

.time-slot:hover .confirm-box {
  width: 100%;
}

.time-slot:hover .time-text-container {
  background: linear-gradient(to right, rgb(68, 144, 226) 0%, rgba(68, 144, 226, 0.8) 100%);
}

