/* Estilos generales */
@import './meeting-booking-calendar.scss';
@import './meeting-booking-modal.scss';

:host {
  display: block;
  background-color: #f2f2f2;
  width: 100%;
  min-height: 100vh;
  padding: 0rem;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* bloque titulo del componente */
.class-booking-header {
  position: fixed; 
  top: 0; 
  left: 0px;
  color: rgb(53, 53, 53);
  width: 100%; 
  background: white;
  background-color: #f2f2f2;
  z-index: 10; 
  text-align: center;
}

.title.is-3 {
  font-size: 1.5rem;
  line-height: 75px;
  color: #333;
  font-weight: bold;
  text-align: center;
}

.booking-container.container {
  margin-top: 1rem;
  padding: 5rem 0rem;
  box-sizing: border-box; 
  width: 100vw; 
  overflow-x: hidden;
  margin: 0 auto;
  padding-right: 0; 
  padding-left: 0;
}

/* información del estudiante */

.student-info {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  padding: 2rem 0;
  margin: auto;
  gap: .5rem;
  margin-top: 1.5rem;
}

.student-name {
  color: #494949;
  font-size: 1rem;
}

.student-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.student-email,
.student-stage {
  font-size: .9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.student-email {
  color: #303030;
}

.student-stage {
  color: #898787;
  text-align: right;
}

.student-shared-style {
  width: fit-content;
  max-width: 100%;
  padding: 18px;
  border-radius: 12px; 
  border: 1px solid rgba(210, 210, 210, 0.509); 
  background-color: rgba(249, 249, 249, 0.3); 
}

.student-schedule {
  position: relative;
  display: none !important;
}

.schedule-title {
  display: flex;
  font-size: 1.2rem;
  color: #515357;
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: center;
}

.schedule-list {
  display: flex;
  flex-wrap: nowrap; 
  gap: 15px; 
  padding: .7rem 1rem;
  border-radius: 10px;
  border: .5px solid rgba(229, 228, 228, 0.555);
  background: linear-gradient(to right, #4490e2, #bd75e4);
  width: fit-content;
  width: auto; 
  max-width: 100%; 
  margin: auto;
  height: auto; 
  overflow-x: auto;
  scroll-behavior: smooth; 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  box-shadow: inset 0px 0 5px 0px rgba(0, 0, 0, 0.1), 
            inset -0px 0 5px 0px rgba(0, 0, 0, 0.1);
}

.schedule-item {
  min-width: 165px; 
  max-width: 100%;  
  border: .5px solid rgba(230, 229, 229, 0.236);
  background-color: rgba(215, 215, 215, 0.346); 
  padding: .5rem;
  border-radius: 15px;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out, transform 0.2s ease-in-out;
  cursor:  pointer;
}

.schedule-item:hover {
  box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-1.5px);
}

.scroll-button {
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  backdrop-filter: blur(1px);
  color: rgb(118, 118, 118);
  border: none;
  cursor: pointer;
  padding: 0.5rem .85rem;
  font-size: 1.2rem;
  border-radius: 50%;
  z-index: 8;
  transition: all .6s ease;
  animation: pulseBackground 2s infinite linear;
}

.scroll-button.left {
  left: 25px;
}

.scroll-button.right {
  right: 25px;
}

.scroll-button.hidden {
  display: none; 
}

.scroll-button:hover {
  background-color: rgba(236, 234, 234, 0.879);
  animation-play-state: paused;
}

@keyframes pulseBackground {
  0% {
    background-color: rgba(235, 235, 235, 0.219);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.58);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.211);
  }
}

.meeting-title {
  font-size: .9rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin-bottom: .3rem;
}

.meeting-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.schedule-info {
  color: #ffffff;
  font-size: 0.85rem;
}

.schedule-delete {
  display: flex;
  justify-content: flex-end;
}

.delete-button {
  margin-top: 1rem;
  background: none;
  border: none;
  color: #e1d9db;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0;
  transition: all .6ms ease;
}

.delete-button svg {
  width: 24px; 
  height: 24px;
  fill: #e1d9db; 
  transition: transform 0.3s ease, fill 0.3s ease;
}

.delete-button:hover svg {
  transform: scale(1.05); 
  fill: #cdcaca;
}

.no-meeting {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  color: #888;
  margin-top: 2.5rem;
  text-align: center;
  font-size: .9rem;
}

.no-meeting-icon {
  font-size: 2rem;
  margin-top: .5rem;
  margin-bottom: 0.5rem;
  color: #d3d3d3;
}

/* subtitulo */

.class-booking-subtitle {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 0rem;
  margin-bottom: .8rem;
  text-align: center; 
}

.class-booking-subtitle h3 {
  font-size: 1.4rem; 
  font-weight: bold;
  color: #333; 
}

@media (max-width: 992px) {
  /* SEGUNDO BLOQUE: Contenedor general de calendario y time slots */
// .date-time-wrapper {
//   min-width: 955px;
// }

// .calendar-grid {
//   grid-auto-rows: 32px;
// }

/* SUB-BLOQUE: time slots */
.selected-date-time {
  width: 45%;
}

.scroll-arrow-up {
  margin-bottom: -40px; 
}

}

@media (max-width: 768px) {
  .class-booking-header {
    background: linear-gradient(45deg, #4a90e2,  #7743a8);
  }

  .title.is-3 {
    color: white;
  }

  .student-schedule {
    display: block !important;
    padding: .7rem 0.5rem;
  }

  .schedule-title {
    justify-content: center;
  }


    /* bloque de meetings tarjetas seleccionados */
  .scroll-button.left {
    left: 8%; 
  }

  .scroll-button.right {
    right: 8%; 
  }

  /* SEGUNDO BLOQUE: Contenedor general de calendario y time slots */
.date-time-wrapper {
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 70px;
  min-width: unset !important;
}

/* SUB-BLOQUE: Calendario */
.date-time-selection,
.selected-date-time {
  margin: 4rem 0;
}

.prev-button {
  top: 53%;
  left: 13.5%; 
}

.next-button {
  top: 48%;
  left: 74%; 
}

// .calendar-grid {
//   grid-auto-rows: 38px;
// }

// .calendar-day {
//   padding: 18px;
// }

/* SUB-BLOQUE: time slots */
.time-slots {
  width: 100%; 
}

.selected-date-time .titulo-slots{
  margin-top: 3rem;
}

.time-slots {
  width: 400px;
}

.scroll-arrow-up {
  margin-bottom: -25px; 
}

.scroll-arrow-down {
  margin-top: 5px;
  margin-bottom: 1rem; 

}

.scheduled-meetings {
  display: none !important;
}

.date-time-scroll-container {
  overflow-x: hidden !important;
}

}

@media (max-width: 492px) {
  .student-info {
    max-width: 90%;
  }
  /* bloque de fechas del usuario modal advertencia de enlace */
  .link-note small {
    font-size: 0.8rem;
  }

   /* SEGUNDO BLOQUE: Contenedor general de calendario y time slots */
  .date-time-wrapper {
    width: 100%;
    gap: 30px;
  }

/* SUB-BLOQUE: Calendario */
.date-time-selection, .selected-date-time {
  padding:  25px 0 0;
  width: 96%;
  border-radius: 25px;
}

.calendar {
  padding: 15px;
  border-radius: 25px;
  width: 100%;
}

.prev-button {
  top: 50%;
  left: 13.5%; 
}

.next-button {
  top: 47%;
  left: 74%; 
}

.ecuador-time-display {
  padding: 10px;
  text-align: center;
  font-size: 1.1rem;
  white-space: normal; 
}

.ecuador-time-display span {
  display: block; 
  margin-top: 4px;
}

.ecuador-time-display strong {
  display: block; 
}

.time-slot, .time-text-container, .confirm-box{
  min-height: 55px;
  font-size: 1.1rem;
}

.confirm-box{
  padding: 10px;
}

}
