.content-wrapper {
  display: flex;
  flex: 1;
  min-height: 100vh;
  background-color: #fff !important; 
}

.main-content {
  flex-grow: 1;
  width: 100%;
  background-color: #fff !important; 
  min-height: 100vh;
  overflow-y: auto;
  transition: width 0.5s ease;
}

app-sidebar {
  z-index: 999;
}

.student-banners-container {
  position: fixed;
  bottom: 1rem;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  pointer-events: none; 

  app-student-banner {
    pointer-events: auto; 
    width: 90%;
    max-width: 900px;
  }
}