<header class="attendance-student-header">

  <div class="attendance-student-header__content">

    <div class="attendance-student-header__text">
      <h1 class="attendance-student-header__title">
        Reportes de asistencias del estudiante
      </h1>

      <p class="attendance-student-header__description">
        Consulta y revisa las asistencias de reuniones de los estudiantes
      </p>
    </div>


    <!-- <button
      type="button"
      class="attendance-student-header__help"
    >
      <svg
        width="17"
        height="17"
        viewBox="0 0 24 24"
        fill="none"
        aria-hidden="true"
      >
        <circle
          cx="12"
          cy="12"
          r="9"
          stroke="currentColor"
          stroke-width="1.8"
        />

        <path
          d="M9.8 9.2a2.4 2.4 0 0 1 4.5 1.15c0 1.65-2.3 1.95-2.3 3.5"
          stroke="currentColor"
          stroke-width="1.8"
          stroke-linecap="round"
        />

        <circle
          cx="12"
          cy="17.2"
          r=".9"
          fill="currentColor"
        />
      </svg>

      <span>Ayuda</span>
    </button> -->

  </div>

</header>