<div class="class-booking-header">
    <h1 class="title is-3">Contenido</h1>
  </div>

  <div class="page-wrapper">
    <form [formGroup]="filterForm" (ngSubmit)="searchContent()" class="search-form">
      <div class="field-group">
        <div class="field">
          <label class="label">Stage</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select formControlName="stageId">
                <option [ngValue]="null" disabled selected>Seleccione un Stage</option>
                <option *ngFor="let stage of stages" [value]="stage.id">
                  {{ stage.description }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
            <label class="label">Unidad</label>
            <div class="control">
                <input type="number" class="input" formControlName="unit" placeholder="Número de Unidad" />
            </div>
        </div>

        <div class="field">
          <div class="button-wrapper">
            <button class="button is-blue" type="submit">
              Buscar Contenido
            </button>
          </div>
        </div>
      </div>
    </form>

    <div class="content-actions">
      <button class="button is-light" (click)="openModal()">
        + Nuevo Contenido
      </button>
    </div>

    <app-content-form
      *ngIf="showModal"
      [stages]="stages"
      [isModalOpen]="showModal"
      (formSubmit)="handleFormSubmit($event)"
      (closeModal)="closeModal()">
    </app-content-form>

    <app-edit-content-modal
      *ngIf="contentToEdit"
      [content]="contentToEdit"
      (update)="handleUpdateContent($event)"
      (close)="closeEditModal()"
    ></app-edit-content-modal>

    <div class="block-results" *ngIf="filteredContents.length > 0">
      <div class="table-container">
        <table class="table-results is-fullwidth">
          <thead>
            <tr>
<!--              <th>ID</th>-->
              <th>Stage</th>
              <th>Unidad</th>
              <th>Título</th>
              <th>Descripción</th>
              <th>Contenido</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let content of filteredContents">
<!--              <td>{{ content.id }}</td>-->
              <td>{{ content.stage.number }}</td>
              <td>{{ content.unit }}</td>
              <td>{{ content.title }}</td>
              <td>{{ content.description }}</td>
<!--              <td>-->
<!--                <span [ngClass]="content.enabled ? 'has-text-success' : 'has-text-danger'">-->
<!--                  {{ content.enabled ? 'Activo' : 'Inactivo' }}-->
<!--                </span>-->
<!--              </td>-->
              <td>{{ parseContent(content.content) }}</td>
              <td class="table-actions">
                <button (click)="editContent(content)" class="icon-button edit-icon" title="Editar">
                  <i class="fas fa-edit"></i>
                </button>
                <button (click)="deleteContent(content.id)" class="icon-button delete-icon" title="Eliminar">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <app-modal
    [showModal]="modal.show"
    [message]="modal.message"
    [isError]="modal.isError"
    [isSuccess]="modal.isSuccess"
    [isInfo]="modal.isInfo"
    [showButtons]="modal.showButtons ?? false"
    (confirmAction)="modal.confirm?.()"
    (close)="modal.close()">
</app-modal>
