

    <!-- Modal para mostrar notificaciones -->
    <app-modal
    [showModal]="modalConfig.show"
    [message]="modalConfig.message"
    [isError]="modalConfig.isError"
    [isSuccess]="modalConfig.isSuccess"
    [isInfo]="modalConfig.isInfo"
    [showButtons]="modalConfig.showButtons ?? false"
    (close)="modalConfig.close()"
    (confirmAction)="modalConfig.confirm?.()">
  </app-modal>

    <div class="page-title">
      <h1>Buscar</h1>
    </div>

  <div class="main-form-container">

      <!-- Switch para cambiar entre estudiante y usuario -->
      <div class="form-switch-container">
          <span class="switch-label" [ngClass]="{ 'bold-text': isStudentForm }">Estudiante</span>
          <label class="switch">
            <input type="checkbox" (change)="toggleForm()">
            <span class="slider"></span>
          </label>
          <span class="switch-label" [ngClass]="{ 'bold-text': !isStudentForm }">Usuario</span>
      </div>

      <div class="form-card-container">
        <div class="form-card">
          <!-- Formulario de Estudiante -->
          <div *ngIf="isStudentForm" class="form-wrapper">
            <form [formGroup]="studentForm" (ngSubmit)="searchUsers()">
              <div class="form-field">
                <select id="stageId" formControlName="stageId">
                  <option value="">Seleccionar Stage</option>
                  <option *ngFor="let stage of stages" [value]="stage.id">{{ stage.description }}</option>
                </select>
              </div>
              <div class="form-field">
                <input type="text" id="firstName" formControlName="firstName" placeholder="Ingrese el First Name" />
              </div>
              <div class="form-field">
                <input type="text" id="lastName" formControlName="lastName" placeholder="Ingrese el Last Name" />
              </div>
              <div class="form-action">
                <button class="search-button" type="submit">Buscar Estudiante</button>
              </div>
            </form>
          </div>
      
          <!-- Formulario de Usuario -->
          <div *ngIf="!isStudentForm" class="form-wrapper">
            <form [formGroup]="userForm" (ngSubmit)="searchUsers()">
              <div class="form-field">
                <input type="email" id="emailInput" formControlName="email" placeholder="Ingrese el Email" />
              </div>
              <div class="form-field">
                <select id="role" formControlName="role">
                  <option value="">Seleccionar Role</option>
                  <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                </select>
              </div>
              <div class="form-action">
                <button class="search-button" type="submit">Buscar Usuario</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>


  <!-- Pagination Controls -->

  <!-- Tabla para mostrar los resultados -->
  <div class="results-container" *ngIf="users.length > 0">
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>Identificación</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Rol de Usuario</th>
            <th>Stage</th>
            <th>Activo</th>
            <!-- <th>Usuario</th> -->
            <th>Contacto</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.idNumber }}</td>
            <td>{{ user.firstName | titlecase }}</td>
            <td>{{ user.lastName | titlecase }}</td>
            <td>{{ user.role | titlecase }}</td>
            <td>{{ user.student?.stage?.description || 'No Aplica' }}</td>
            <td>{{ user.status === UserStatus.ACTIVE ? '✓' : '❌' }}</td>
            <!-- <td>{{ user.email }}</td> -->
            <td>
              <button class="details-btn" (click)="openContactModal(user)">
                Ver
              </button>
            </td>
            <td>
              <i class="fas fa-edit edit-icon" (click)="openEditUserModal(user)"></i>
              <i class="fas fa-key password-icon" (click)="openEditPasswordModal(user)"></i>
              <i class="fas fa-trash delete-icon" (click)="openDeleteModal(user)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Pagination Controls -->
    <div class="pagination">
      <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
      <span>Page {{ currentPage }} of {{ Math.ceil(totalUsers / itemsPerPage) | number: '1.0-0' }}</span>
      <button (click)="changePage(currentPage + 1)" [disabled]="currentPage * itemsPerPage >= totalUsers">Next</button>
    </div>
  </div>

  <!-- Mensaje para cuando no hay resultados -->
  <div *ngIf="noResults" class="no-results-message">
    <p>No se encontraron resultados.</p>
    <i class="fas fa-user-slash"></i>
  </div>


  <!-- Modal de edición (migrado al hijo) -->
  <app-edit-user-modal
    [showModal]="isEditModalOpen"
    [user]="selectedUser"
    [stages]="stages"
    [links]="links"
    [roles]="roles"
    [ageGroupOptions]="ageGroupOptions"
    (close)="closeEditModal()"
    (save)="updateUserFromChild($event)">
  </app-edit-user-modal>

  <div id="editPasswordModal" class="modal" [ngClass]="{ 'is-active': isEditPasswordModalOpen }">
    <div class="edit-user-modal-background"></div>
    <div class="modal-content">

        <h3 class="title is-4">
          {{ selectedUser?.password ? 'Editar Password' : 'Agregar Password' }}
        </h3>
        <form (ngSubmit)="updatePassword()">
          <div class="field">
            <label class="label">Nueva contraseña</label>
            <div *ngIf="selectedUser" class="control">
              <input class="input" type="text" [(ngModel)]="selectedUser.password" name="password" placeholder="Nuevo Password" required />
            </div>
          </div>

          <div class="buttons-container">
            <button type="submit" class="button update-link-btn">Actualizar</button>
            <button type="button" class="button cancel-link-btn" (click)="closeEditPasswordModal()">Cancelar</button>
          </div>
        </form>
      </div>
  </div>

  <!-- Modal de contacto -->
  <app-contact-details-modal
    [showModal]="showContactModal"
    [user]="selectedUserForContact"
    (close)="closeContactModal()">
  </app-contact-details-modal>




