:host {
  display: block;
  background-color: #f2f2f2;
  min-height: 100vh;
  padding-bottom: 6rem;
}
  body {
    overflow-y: scroll;
  }

  .page-title {
    position: fixed;
    top: 0;
    left: 0;
    color: rgb(53, 53, 53);
    width: 100%;
    background-color: #f2f2f2;
    z-index: 12;
    text-align: center;
    padding: 1rem 0;
  }

  .page-title h1 {
    font-size: 1.5rem;
    line-height: 1.3;
    color: #2b2a2a;
    font-weight: bold;
  }

/* Contenedor principal del formulario */
  .main-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0px;
    padding-top: 130px;
    min-width: 100%;
    will-change: transform;
  }

  /* Estilos del switch */
  .form-switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    margin-bottom: 2rem;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: -2.5px;
    bottom: 0;
    background-color: #ccc;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.2s;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    left: 3px;
    bottom: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    transition: 0.2s;
  }

  input:checked + .slider:before {
    transform: translateX(15px);
  }

  .switch-label {
    font-size: .9rem;
    font-weight: 400;
    color: #8c8b8b;
  }

  .bold-text {
    font-weight: 400;
    color: #2c2b2b;
  }

  .form-card-container {
    width: 100%;
    max-width: 400px;
  }

  .form-card {
    position: relative;
    width: 80%;
    margin: auto;
    min-height: 285px;
    transition: transform 2s;
  }

  .form-wrapper {
    width: 100%;
    background: #ffffff;
    padding: 1.75rem 1.3rem;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.03);
  }

  /* Estilos para los campos del formulario */
  .form-field {
    margin-bottom: 1.5rem;
  }

  .form-field input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    font-size: .8rem;
    background-color: #f6f6f6;
    color: #333;
    box-sizing: border-box;
  }

  .user-form .form-field {
    margin-top: 1.5rem;
  }

  .form-field select {
    width: 100%;
    height: 40px;
    padding: 0.5rem;
    font-size: 0.8rem;
    color: #4a4a4a;
    border: 1px solid #d2d2d2;
    background-color: #f6f6f6;
    border-radius: 5px;
  }

  input::placeholder {
    color: #9c9c9c;
    opacity: 1;
  }

  /* Botón de búsqueda */
  .search-button {
    width: 100%;
    padding: 0.85rem;
    background-color: #4490e2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: .9rem;
    margin-top: 1rem;
    cursor: pointer;
  }

  .search-button:hover {
    background-color: #367bbd;
  }

  /* BLOQUE RESULTADOS */
.results-container {
  margin-top: 1.5rem;
  width: 85%;
  margin: 20px auto;
}

.table-container {
  position: relative;
  width: 100%;
  margin: auto;
  overflow-x: auto;
  margin-bottom: 1rem;
  z-index: 10;
}

  /* Estilos para la tabla */
.table {
  position: relative;
  min-width: 1100px; 
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 5px;
  overflow: hidden;
  z-index: 10;
}

.table th, .table td {
  padding: 10px 8px;
  text-align: center;
  font-size: .8rem;
}

.table th {
  border-bottom: none;
  padding: 0.55rem;
  color: #333;
  background-color: #e5effa;
}

.table td {
  background-color: #ffffff;
  color: #333;
  border-bottom: .5px solid rgb(216, 216, 216);
}

.icon-actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 20;
}

.edit-icon {
  position: relative;
  color: #479df9;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0px;
  transition: color 0.3s ease;

  &:hover {
    color: #0056b3;
  }

}
.delete-icon {
  position: relative;
  font-size: 1rem;
  color: #b5b0af;
  cursor: pointer;
  margin-left: .3rem;
  transition: color 0.3s ease;
}

.delete-icon:hover {
  color: #7b7978;
}

.password-icon {
  position: relative;
  font-size: 1rem;
  color: #9f58be;
  cursor: pointer;
  margin-left: .3rem;
  transition: color 0.3s ease;

  &:hover {
    color: #8329aa;
  }
}

/* Personalización del scrollbar */
.table-container::-webkit-scrollbar {
  width: 8px;
}

.table-container::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
  border-radius: 20px;
  border: 2px solid #f0f0f0;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #a2a3a6;
}

/* Pagination estilos*/
.pagination {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  max-width: 100%;
  box-sizing: border-box;
  background-color: #f2f2f2;
  padding:20px 15px;
}

.pagination button {
  padding: 8px 16px;
  font-size: .8rem;
  background-color:rgb(167, 127, 242);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: rgb(134, 86, 224);
}

.pagination button[disabled] {
  background-color: rgb(238, 229, 255);
  border: .5px solid rgb(215, 194, 255) ;
  color: grey;
  cursor: not-allowed;
}

.pagination span {
  font-size: .9rem;
  color: #333;
}

.no-results-message {
  text-align: center;
  font-size: 1rem;
  color: #686767;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.no-results-message i {
  color: grey;
  font-size: 20px;
  margin-top: 20px;
}

/* Estilos específicos para el modal de editar usuario */
.modal {
  z-index: 1100;
}

/* Fondo del modal */
.edit-user-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
}

/* Contenedor principal del modal */
.edit-user-modal-card {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 420px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

/* Cabecera del modal */
.edit-user-modal-head {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #e0e0e0;
}

.edit-user-modal-title {
  flex-grow: 1;
  font-size: 1.2rem;
  text-align: center;
  color: #333;
  margin: 0;
}

.edit-user-close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #7b7979;
}

.edit-user-close:hover {
  color: #373737;
}

/* Cuerpo del modal con scroll */
.edit-user-modal-body {
  overflow-y: auto;
  height: 60vh;
  padding: 1rem 1.5rem;
}

/* Campos del formulario */
.form-field-edit {
  margin-bottom: 1rem;
}

.form-field-edit label {
  display: block;
  margin-bottom: 0.2rem;
  font-size: 0.85rem;
  font-weight: 400;
  margin-left: 5px;
  color: #333;
}

.form-field-edit input,
.form-field-edit select {
  width: 100%;
  padding: 0.3rem 0.7rem;
  font-size: 0.8rem;
  height: 32px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

/* Pie del modal */
.edit-user-modal-foot {
  display: flex;
  justify-content: center;
  padding: 1.5rem 1rem;
  border-top: 1px solid #e0e0e0;
}

.edit-user-modal-foot .button {
  padding: 0.5rem 1.5rem;
  font-size: .9rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0.5rem;
  color: white;
  transition: background-color 0.3s ease;
}

/* Botón azul (Actualizar) */
.edit-user-modal-foot .button.is-success {
  background-color: #007bff;
}

.edit-user-modal-foot .button.is-success:hover {
  background-color: #0056b3;
}

/* Botón morado (Cancelar) */
.edit-user-modal-foot .delete-cancel-button {
  background-color: #7c3aed;
}

.edit-user-modal-foot .delete-cancel-button:hover {
  background-color: #5b21b6;
}

/* modal de password */
.modal-content {
  background-color: #f9f9f9; 
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  max-width: 450px; 
  width: 90%; 
  margin: auto; 
  z-index: 1100;
}

.title.is-4 {
  font-size: 1.4rem;
  color: #333; 
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

.field .label {
  font-size: 0.9rem;
  color: #555; 
  margin-bottom: 0.5rem;
}

.input {
  background-color: #ffffff;
  border: 1px solid #ddd; 
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 0.9rem;
  color: #333;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

/* Botón morado (Cancelar) */
.cancel-link-btn {
  background-color: #7c3aed;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: .9rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-link-btn:hover {
  background-color: #5b21b6;
}

/* Botón azul (Actualizar) */
.update-link-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: .9rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.update-link-btn:hover {
  background-color: #0056b3;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 768px){
  .page-title{
    background: linear-gradient(45deg, #4a90e2,  #7743a8);
  }

  .page-title h1{
    color: white;
  }
  }
