<div class="filters">
  <h3 class="filters-title">Seleccionar tipo de destino</h3>
  <div class="row">
    <div class="field">
      <label>Seleccionar destino</label>
      <select [ngModel]="selectedType" (ngModelChange)="onTypeChange($event)">
        <option [ngValue]="null">-- Selecciona --</option>
        <option value="group">Grupo</option>
        <option value="diffusion">Grupo de difusión</option>
        <option value="contact">Contactos</option>
      </select>
    </div>
  </div>
</div>