<div class="form-container">
  <div class="field relative-container">
    <label class="label">Estudiante</label>
    <div class="control has-icons-left">
      <input
        class="input"
        [class.is-danger]="showStudentRequiredError"
        type="text"
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearchChange($event)"
        (focus)="showUserDropdown = true"
        (blur)="hideDropdown()"
        placeholder="Escribe el nombre del estudiante"
      />
      <span class="icon is-left">
        <i class="fas fa-search"></i>
      </span>
    </div>

    <div
      class="dropdown-list-fixed"
      *ngIf="showUserDropdown && filteredUsers.length > 0"
    >
      <div
        class="dropdown-item"
        *ngFor="let user of filteredUsers"
        (click)="selectUser(user)"
      >
        {{ user.firstName }} {{ user.lastName }}
      </div>
    </div>
    <p *ngIf="showStudentRequiredError" class="help is-danger">
      Debes seleccionar un estudiante.
    </p>
  </div>

<div class="field mt-4">
  <label class="label">Tipo de Evaluación</label>
  <div class="control">
    <select
      name="assessmentType"
      class="input"
      [(ngModel)]="assessmentTypeId"
      required
      [disabled]="!selectedStudent"
      [class.is-danger]="typeControl?.invalid && typeControl?.touched"
      #typeControl="ngModel"
    >
      <option [ngValue]="null" disabled>Seleccionar tipo</option>
        <option
        *ngFor="let t of assessmentTypesFromApi"
        [ngValue]="t.id"
        [disabled]="isTypeBlocked(t.name)"
      >
        {{ t.name }}
      </option>
    </select>

    <p *ngIf="typeControl?.invalid && typeControl?.touched" class="help is-danger">
      Debes seleccionar un tipo de evaluación.
    </p>
  </div>
</div>

  <div class="field mt-4 is-flex is-justify-content-space-between">
    <div class="control" style="width: 48%">
      <label class="label">Nota</label>
      <input
        class="input"
        type="number"
        min="0"
        max="100"
        [(ngModel)]="points"
        (ngModelChange)="handlePointsChange($event)"
        placeholder="0-100"
        [disabled]="!assessmentTypeId"
      />
      <p *ngIf="showPointsError" class="help is-danger">
        Ingresar calificación entre 0 - 100.
      </p>
    </div>

    <div class="control" style="width: 48%">
      <span class="label" style="visibility: hidden">Comentario</span>
      <button
        class="button is-warning is-fullwidth"
        type="button"
        [disabled]="points === null || (minPointsAssessment !== null && points >= minPointsAssessment)"
        (click)="showCommentBox = !showCommentBox"
      >
        Comentario
      </button>
    </div>
  </div>

  <!-- Textarea debajo -->
  <div *ngIf="showCommentBox" class="field mt-3">
    <textarea
      class="textarea full-comment-textarea"
      placeholder="Escribe un comentario"
      [(ngModel)]="note"
      (ngModelChange)="handleTextareaChange($event)"
      rows="4"
    ></textarea>
  </div>


  <div *ngIf="showCommentBox" class="field mt-2">
    <label class="label">Selecciona Refuerzo</label>
    <div class="control">
      <select
        #resourceSelect
        class="input"
        [(ngModel)]="selectedResourceId"
        (change)="addResourceBySelect()"
      >
        <option value="" disabled selected>Selecciona un recurso</option>
        <option *ngFor="let resource of availableResources" [value]="resource.id">
          {{ resource.name }}
        </option>
      </select>
    </div>
  </div>


  <div class="field mt-2" *ngIf="addedResources.length > 0">
    <label class="label">Recursos Agregados</label>
    <div class="tags" style="display: flex; flex-wrap: wrap;">
      <span class="resource-badge" *ngFor="let resource of addedResources">
        {{ resource.name }}
        <button (click)="removeResource(resource.id)">✖</button>
      </span>
    </div>
  </div>

  <div class="field mt-4">
    <button class="button is-primary is-fullwidth" [disabled]="shouldDisableSubmit" (click)="submitAssessment(typeControl)">
      Generar Evaluación
    </button>
  </div>
</div>
