<main class="links-page">

  <div class="links-page__container">

    <!-- =========================
         HEADER
    ========================== -->

    <app-links-header
      (createRequested)="openCreateModal()"
    >
    </app-links-header>


    <!-- =========================
         SUMMARY
    ========================== -->

    <app-links-summary
      [totalLinks]="totalLinks"
      [linksWithPassword]="linksWithPassword"
      [linksWithoutPassword]="linksWithoutPassword"
      [passwordCoveragePercentage]="passwordCoveragePercentage"
      [latestLinkDescription]="latestLinkDescription"
    >
    </app-links-summary>


    <!-- =========================
         CONTENT
    ========================== -->

    <section class="links-page__content">

      <!-- FILTERS / SEARCH -->

      <app-links-filters
        [searchTerm]="searchTerm"
        [total]="total"
        (searchTermChange)="onSearchChange($event)"
        (clearRequested)="clearSearch()"
      >
      </app-links-filters>


      <!-- =========================
           TABLE CARD
      ========================== -->

      <div class="links-page__table-card">

        @if (loading) {

          <!-- =========================
               TABLE SKELETON
          ========================== -->

          <div class="links-table-skeleton">

            <div class="links-table-skeleton__wrapper">

              <!-- HEADER -->
              <div class="links-table-skeleton__header">

                <span
                  class="
                    links-table-skeleton__block
                    links-table-skeleton__block--header
                  "
                ></span>

                <span
                  class="
                    links-table-skeleton__block
                    links-table-skeleton__block--header
                    links-table-skeleton__block--header-link
                  "
                ></span>

                <span
                  class="
                    links-table-skeleton__block
                    links-table-skeleton__block--header
                    links-table-skeleton__block--header-password
                  "
                ></span>

                <span
                  class="
                    links-table-skeleton__block
                    links-table-skeleton__block--header
                    links-table-skeleton__block--header-action
                  "
                ></span>

              </div>


              <!-- ROWS -->

              @for (
                row of [1, 2, 3, 4, 5];
                track row
              ) {

                <div class="links-table-skeleton__row">

                  <!-- DESCRIPTION -->
                  <div class="links-table-skeleton__description">

                    <span
                      class="
                        links-table-skeleton__block
                        links-table-skeleton__block--name
                      "
                    ></span>

                    <span
                      class="
                        links-table-skeleton__block
                        links-table-skeleton__block--secondary
                      "
                    ></span>

                  </div>


                  <!-- LINK -->
                  <div class="links-table-skeleton__link">

                    <span
                      class="
                        links-table-skeleton__block
                        links-table-skeleton__block--url
                      "
                    ></span>

                    <span
                      class="
                        links-table-skeleton__block
                        links-table-skeleton__block--link-icon
                      "
                    ></span>

                  </div>


                  <!-- PASSWORD -->
                  <span
                    class="
                      links-table-skeleton__block
                      links-table-skeleton__block--password
                    "
                  ></span>


                  <!-- ACTION -->
                  <div class="links-table-skeleton__action">

                    <span
                      class="
                        links-table-skeleton__block
                        links-table-skeleton__block--menu
                      "
                    ></span>

                  </div>

                </div>

              }

            </div>


            <!-- PAGINATION SKELETON -->

            <div class="links-table-skeleton__pagination">

              <span
                class="
                  links-table-skeleton__block
                  links-table-skeleton__block--pagination-label
                "
              ></span>

              <div class="links-table-skeleton__pagination-pages">

                <span
                  class="
                    links-table-skeleton__block
                    links-table-skeleton__block--page
                  "
                ></span>

                <span
                  class="
                    links-table-skeleton__block
                    links-table-skeleton__block--page
                  "
                ></span>

                <span
                  class="
                    links-table-skeleton__block
                    links-table-skeleton__block--page
                  "
                ></span>

              </div>

              <span
                class="
                  links-table-skeleton__block
                  links-table-skeleton__block--limit
                "
              ></span>

            </div>

          </div>

        } @else {

          <!-- =========================
               TABLE
          ========================== -->

          <app-links-table
            [links]="pagedLinks"
            (editRequested)="openEditModal($event)"
            (editPasswordRequested)="openEditPasswordModal($event)"
            (deleteRequested)="openDeleteModal($event)"
          >
          </app-links-table>


          <!-- =========================
               PAGINATION
          ========================== -->

          <app-links-pagination
            [page]="page"
            [totalPages]="totalPages"
            [total]="total"
            [limit]="limit"
            [limitOptions]="limitOptions"
            [canPrev]="canPrev"
            [canNext]="canNext"
            [paginationLabel]="paginationLabel"
            (pageChange)="onPageChange($event)"
            (previousRequested)="onPrev()"
            (nextRequested)="onNext()"
            (limitChange)="onLimitChange($event)"
          >
          </app-links-pagination>

        }

      </div>

    </section>


    <!-- =========================
         ADVICE
    ========================== -->

    <section class="links-page__advice">

      <div
        class="links-page__advice-icon"
        aria-hidden="true"
      >
        <svg
          viewBox="0 0 24 24"
          fill="none"
        >
          <circle
            cx="12"
            cy="12"
            r="9"
            stroke="currentColor"
            stroke-width="1.7"
          />

          <path
            d="M12 10.5V16"
            stroke="currentColor"
            stroke-width="1.7"
            stroke-linecap="round"
          />

          <circle
            cx="12"
            cy="7.5"
            r="1"
            fill="currentColor"
          />
        </svg>
      </div>


      <div class="links-page__advice-content">

        <strong>
          Consejo
        </strong>

        <p>
          Mantén actualizados los enlaces de reuniones y utiliza
          contraseña cuando necesites restringir el acceso.
        </p>

      </div>

    </section>

  </div>


  <!-- =========================
       CREATE MODAL
  ========================== -->

  @if (isCreateModalOpen) {

    <app-links-form-modal
      mode="create"
      [link]="newLink"
      (saveRequested)="createLink()"
      (closeRequested)="closeCreateModal()"
    >
    </app-links-form-modal>

  }


  <!-- =========================
       EDIT MODAL
  ========================== -->

  @if (
    isEditModalOpen &&
    selectedLink
  ) {

    <app-links-form-modal
      mode="edit"
      [link]="selectedLink"
      (saveRequested)="updateLink()"
      (closeRequested)="closeEditModal()"
    >
    </app-links-form-modal>

  }


  <!-- =========================
       EDIT PASSWORD MODAL
  ========================== -->

  @if (
    isEditPasswordModalOpen &&
    selectedLink
  ) {

    <app-links-form-modal
      mode="password"
      [link]="selectedLink"
      (saveRequested)="updatePassword()"
      (closeRequested)="closeEditPasswordModal()"
    >
    </app-links-form-modal>

  }


  <!-- =========================
       ERROR MODAL
  ========================== -->

  @if (isErrorModalOpen) {

    <div
      class="links-page__modal-backdrop"
      (click)="closeErrorModal()"
    >

      <div
        class="links-page__error-modal"
        (click)="$event.stopPropagation()"
      >

        <div class="links-page__error-icon">
          !
        </div>

        <h3>
          Ocurrió un error
        </h3>

        <p>
          {{ errorMessage }}
        </p>

        <button
          type="button"
          class="links-page__error-button"
          (click)="closeErrorModal()"
        >
          Entendido
        </button>

      </div>

    </div>

  }

</main>


<!-- =========================
     GLOBAL MODAL
========================== -->

<app-modal
  [showModal]="modal.show"
  [message]="modal.message"
  [isError]="modal.isError"
  [isSuccess]="modal.isSuccess"
  [isInfo]="modal.isInfo"
  [showButtons]="modal.showButtons ?? false"
  (confirmAction)="modal.confirm?.()"
  (close)="modal.close()"
>
</app-modal>