<main class="links-page">

  <div class="links-page__container">

    <!-- =========================
         HEADER
    ========================== -->

    <app-links-header
      (createRequested)="openCreateModal()"
    >
    </app-links-header>


    <!-- =========================
         CONTENT
    ========================== -->

    <section class="links-page__content">

      <!-- FILTERS / SEARCH -->

      <app-links-filters
          [searchTerm]="searchTerm"
          [total]="total"
          (searchTermChange)="onSearchChange($event)"
          (clearRequested)="clearSearch()"
        >
        </app-links-filters>


      <!-- TABLE -->

      <div class="links-page__table-card">

        <app-links-table
          [links]="pagedLinks"
          (editRequested)="openEditModal($event)"
          (editPasswordRequested)="openEditPasswordModal($event)"
          (deleteRequested)="openDeleteModal($event)"
        >
        </app-links-table>


        <!-- PAGINATION -->

        <app-links-pagination
          [page]="page"
          [totalPages]="totalPages"
          [total]="total"
          [limit]="limit"
          [limitOptions]="limitOptions"
          [canPrev]="canPrev"
          [canNext]="canNext"
          [paginationLabel]="paginationLabel"
          (pageChange)="onPageChange($event)"
          (previousRequested)="onPrev()"
          (nextRequested)="onNext()"
          (limitChange)="onLimitChange($event)"
        >
        </app-links-pagination>

      </div>

    </section>

  </div>


  <!-- =========================
       CREATE MODAL
  ========================== -->

  @if (isCreateModalOpen) {

    <app-links-form-modal
      mode="create"
      [link]="newLink"
      (saveRequested)="createLink()"
      (closeRequested)="closeCreateModal()"
    >
    </app-links-form-modal>

  }


  <!-- =========================
       EDIT MODAL
  ========================== -->

  @if (
    isEditModalOpen &&
    selectedLink
  ) {

    <app-links-form-modal
      mode="edit"
      [link]="selectedLink"
      (saveRequested)="updateLink()"
      (closeRequested)="closeEditModal()"
    >
    </app-links-form-modal>

  }


  <!-- =========================
       EDIT PASSWORD MODAL
  ========================== -->

  @if (
    isEditPasswordModalOpen &&
    selectedLink
  ) {

    <app-links-form-modal
      mode="password"
      [link]="selectedLink"
      (saveRequested)="updatePassword()"
      (closeRequested)="closeEditPasswordModal()"
    >
    </app-links-form-modal>

  }


  <!-- =========================
       ERROR MODAL
  ========================== -->

  @if (isErrorModalOpen) {

    <div
      class="links-page__modal-backdrop"
      (click)="closeErrorModal()"
    >

      <div
        class="links-page__error-modal"
        (click)="$event.stopPropagation()"
      >

        <div class="links-page__error-icon">
          !
        </div>

        <h3>
          Ocurrió un error
        </h3>

        <p>
          {{ errorMessage }}
        </p>

        <button
          type="button"
          class="links-page__error-button"
          (click)="closeErrorModal()"
        >
          Entendido
        </button>

      </div>

    </div>

  }

</main>

<!-- =========================
     GLOBAL MODAL
========================== -->

<app-modal
  [showModal]="modal.show"
  [message]="modal.message"
  [isError]="modal.isError"
  [isSuccess]="modal.isSuccess"
  [isInfo]="modal.isInfo"
  [showButtons]="modal.showButtons ?? false"
  (confirmAction)="modal.confirm?.()"
  (close)="modal.close()"
>
</app-modal>