.modal-background {
  background-color: rgba(68, 68, 68, 0.4); 
}

.modal-card {
   background-color: #f3f4f6;
  color: #1f2937;
  font-size: 0.9rem;
  font-weight: 400;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 470px;
  margin: 0 auto;

   @media (max-width: 768px) {
    width: 90%;
    max-width: none;
  }

  .modal-card-head {
    background-color: #f3f4f6;
    padding: 1rem;
    position: relative;

    .modal-card-title {
      font-weight: 600;
      color: #1f2937;
      font-size: 1rem;
    }
  }

  .modal-card-body {
    background-color: #f9fafb;
    padding: 1rem;

    strong {
      color: #1f2937;
      font-weight: 600;
    }

    p {
      font-weight: 500;
      color: #374151;
      margin-bottom: 0.75rem;
    }

    .user-list {
      list-style: none;
      padding: 0;
      margin: 0;
      max-height: 220px;
      overflow-y: auto;
      background-color: #fff;
      border-radius: 4px;
      padding: .5rem;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 0;
        font-size: 0.8rem;

        span {
          flex: 1;
        }

        .delete-user-btn {
          background: none;
          border: none;
          font-size: 1rem;
          color: #b91c1c; 
          cursor: pointer;

          &:hover {
            color: #7f1d1d;
          }
        }
      }
    }

    .field {
      margin-bottom: 1rem;

      .label {
        font-weight: 600;
        color: #374151;
        font-size: 0.85rem;
        margin-bottom: 0.25rem;
        display: block;
      }

      .control {
        .select.is-fullwidth {
          width: 100%;

          select {
            width: 100%;
            padding: 0.5rem 0.75rem;
            border-radius: 4px;
            border: 1px solid #d1d5db;
            background-color: #f3f4f6;
            color: #1f2937;
            font-size: 0.875rem;

            &:focus {
              outline: none;
              border-color: #2563eb;
              box-shadow: 0 0 0 1px #2563eb;
            }
          }
        }

        app-user-selector {
          display: block;
          background-color: #ffffff; 
          border-radius: 4px;
          border: 1px solid #d1d5db;
        }
      }
    }
    .button-center-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .button.is-primary {
      background-color: #2563eb;
      color: #ffffff;
      font-weight: 500;
      border-radius: 4px;
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      font-size: 0.85rem;

      &:hover {
        background-color: #1e40af;
      }
    }
  }
}