<main class="student-profile">
  <div
    class="student-profile__container"
    *ngIf="user as currentUser"
  >
    <!-- RESUMEN PRINCIPAL -->
    <section class="student-profile__summary">
      <app-profile-summary
        [user]="currentUser"
        (editProfile)="openEditForm()"
      >
      </app-profile-summary>
    </section>

    <!-- INFORMACIÓN RÁPIDA -->
    <section class="student-profile__overview">
      <app-profile-overview
        [user]="currentUser"
      >
      </app-profile-overview>
    </section>

    <!-- CONTENIDO CENTRAL -->
    <section class="student-profile__content">
      <!-- COLUMNA IZQUIERDA -->
      <div class="student-profile__main-column">
        <app-profile-personal-info
          [user]="currentUser"
          (editProfile)="openEditForm()"
        >
        </app-profile-personal-info>
      </div>

      <!-- COLUMNA DERECHA -->
      <aside class="student-profile__side-column">
        <app-profile-scheduling-eligibility
          [user]="currentUser"
        >
        </app-profile-scheduling-eligibility>

        <app-profile-academic-status
          [user]="currentUser"
        >
        </app-profile-academic-status>
      </aside>
    </section>

    <!-- RECURSOS -->
    <section class="student-profile__resources">
      <app-profile-resources
       [user]="currentUser"
       [resources]="currentUser.assessmentResources ?? []"
      >
      </app-profile-resources>
    </section>

    <!-- NOTIFICACIONES -->
    <section class="student-profile__notifications">
      <app-profile-notification-settings
        [meetingsAlert]="
          currentUser.meetingsAlert ?? false
        "
      >
      </app-profile-notification-settings>
    </section>
  </div>

  <!-- ESTADO SIN USUARIO -->
  <div
    class="student-profile__empty"
    *ngIf="!user"
  >
    <div class="student-profile__empty-icon">
      <i class="fa-regular fa-user"></i>
    </div>

    <h2>
      No se pudo cargar el perfil
    </h2>

    <p>
      La información del estudiante no está
      disponible en este momento.
    </p>
  </div>

  <!-- FORMULARIO EXISTENTE -->
    <app-users-info-form
      *ngIf="showUserInfoForm"
      [isModalOpen]="true"
      [dataCompleted]="dataCompleted"
      [userData]="user"
      (formSubmit)="handleUserInfoSubmit($event)"
      (closeModal)="showUserInfoForm = false">
    </app-users-info-form>

    <!-- FEEDBACK MODAL -->
    <app-modal
      [showModal]="modal.show"
      [message]="modal.message"
      [isError]="modal.isError"
      [isSuccess]="modal.isSuccess"
      [title]="modal.title || ''"
      (close)="modal.close()">
    </app-modal>
</main>