<div class="register-container">
    <div class="box">
      <h1 class="title">Registro de Estudiante</h1>
  
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="field">
          <label class="label">Nombres</label>
          <div class="control">
            <input
              type="text"
              class="input"
              formControlName="firstName"
              placeholder="Ingrese sus nombres">
          </div>
          <div *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched" class="error">
            Nombres es obligatorio.
          </div>
        </div>
  
        <div class="field">
          <label class="label">Apellidos</label>
          <div class="control">
            <input
              type="text"
              class="input"
              formControlName="lastName"
              placeholder="Ingrese sus apellidos">
          </div>
          <div *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched" class="error">
            Apellidos es obligatorio.
          </div>
        </div>

        <div class="field">
          <label class="label">Número de Identificación o Cédula</label>
          <div class="control">
            <input
              type="number"
              class="input"
              formControlName="idNumber"
              placeholder="Ingrese número de identificación">
          </div>
          <div *ngIf="registerForm.get('idNumber')?.invalid && registerForm.get('idNumber')?.touched" class="error">
            La cédula es obligatoria.
          </div>
        </div>

        <div class="field">
          <label class="label">Usuario o Correo Electrónico</label>
          <div class="control floating-label">
            <input
              type="email"
              class="input with-icon"
              formControlName="email"
              placeholder="Ingrese su correo"
              [ngClass]="{'is-invalid': registerForm.get('email')?.invalid && registerForm.get('email')?.touched}">
            <i class="icon fa fa-envelope"></i> 
          </div>
          <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error">
            Este campo es obligatorio
          </div>
        </div>
  
        <div class="field">
          <label class="label">Contraseña</label>
          <div class="control-label">
            <input
              type="text"
              class="input with-icon"
              formControlName="password"
              placeholder="Ingrese una contraseña">
          </div>
          <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error">
            La contraseña debe tener al menos 6 caracteres
          </div>
        </div>
  
        <div class="field">
          <label class="label">Stage</label>
          <div class="control">
            <select class="input" formControlName="stageId">
              <option value="" disabled selected>Seleccione un Stage</option>
              <option *ngFor="let stage of stages" [value]="stage.id">{{ stage.description }}</option>
            </select>
          </div>
          <div *ngIf="registerForm.get('stageId')?.invalid && registerForm.get('stageId')?.touched" class="error">
            Por favor, seleccione un Stage.
          </div>
        </div>
  
        <div class="field">
            <label class="label">Modo de Estudio</label>
            <div class="control">
              <select class="input" formControlName="mode">
                <option value="" disabled selected>Seleccionar</option>
                <option *ngFor="let mode of modes" [value]="mode">{{ mode }}</option>
              </select>
            </div>
            <div *ngIf="registerForm.get('mode')?.invalid && registerForm.get('mode')?.touched" class="error">
              Por favor, seleccione un modo de estudio.
            </div>
          </div>
  
        <div class="field">
          <div class="field-button">
            <button class="button">Registrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <app-modal
  [showModal]="modal.show"
  [message]="modal.message"
  [isError]="modal.isError"
  [isSuccess]="modal.isSuccess"
  (close)="modal.close()">
</app-modal>