html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f8f9fa; 
  }
  
  .register-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: .8rem;
  }
  
  .box {
    width: 100%;
    max-width: 450px; 
    background-color: #ffffff;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    color: #333333; 
  }
  
  .label {
    font-size: .85rem;
    color: #6c6c6c; 
    margin-bottom: .3rem;
  }
  
  .field.extra-space {
    margin-bottom: 1.3rem; 
  }
  
  .columns .field {
    margin-bottom: 0.3rem; 
  }
  
  .input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem;
    height: 35px;
    font-size: .85rem;
    background-color: #f9f9f9; 
    color: #5f5f5f; 
  
    &:focus {
      border-color: #007bff; 
      outline: none;
    }
  }

  input[type="number"]::-webkit-inner-spin-button, 
  input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  input[type="number"] {
  -moz-appearance: textfield; 
  -webkit-appearance: none; 
  appearance: none; 
}

input::placeholder {
  color: #999; 
  opacity: 1;  
}
  
  .error {
    color: #d9534f; 
    font-size: 0.8rem;
  }

  .floating-label {
    position: relative;
  }
  
  // .input.with-icon {
  //   padding-right: 2.5rem; 
  // }
  
  // .icon {
  //   position: absolute;
  //   right: 10px;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   color: #999;
  //   font-size: 1rem;
  // }
  
  .control-label {
    position: relative;
  }
  
  .input.with-icon {
    padding-right: 2.5rem; 
  }
  
  // .toggle-password {
  //   position: absolute;
  //   right: 15px;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   cursor: pointer;
  //   color: #999;
  //   font-size: 1rem;
  //   transition: color 0.3s ease;
  
  //   &:hover {
  //     color: #555;
  //   }
  // }
  
  .field-button {
    margin-top: 2rem;
    text-align: center; 
  }
  
  .button {
    background-color: #8a2be2;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: .85rem;
    cursor: pointer;
    width: 120px; 
    margin: 0 auto;
  
    &:hover {
     background-color: #6a1ab9;
    }
  }
