<section class="hero">

<video *ngIf="!isLoggedIn" autoplay muted playsinline poster="/assets/imagen poster hero home.png" class="home-video desktop-video">
    <source src="/assets/video home.mp4" type="video/mp4">
  </video>


  <video autoplay muted playsinline poster="/assets/imagen poster hero home.png" class="home-video mobile-video">
    <source src="/assets/video home movil.mp4" type="video/mp4">
  </video>

  <div *ngIf="!isLoggedIn" class="hero-button-container">
    <a routerLink="/login" class="login-button">Login</a>
  </div>
</section>