<app-modal
  [showModal]="modal.show"
  [message]="modal.message"
  [isError]="modal.isError"
  [isSuccess]="modal.isSuccess"
  [isInfo]="modal.isInfo"
  (close)="modal.show = false">
</app-modal>

<h2 class="title stage">Evaluaciones</h2>

<div class="page-wrapper">

  <div class="assessment-layout">

    <!-- IZQUIERDA -->
    <section class="stage-assessment-student-section">

      <!-- NOTA IMPORTANTE ARRIBA -->
      <div class="assessment-note-top">
        <h4>Importante</h4>
        <p>
          El incumplimiento en la realización del assessment dentro del plazo indicado
          impedirá el agendamiento de nuevas clases.
          <br><br>
          Para la reactivación del servicio, deberá comunicarse con administración.
        </p>
      </div>

      <div *ngIf="!loading && !hasActiveAssessments" class="empty-state">
        <img src="assets/carpeta_vacia.png" alt="Sin evaluaciones" class="empty-img" />
        <p>No tienes evaluaciones asignadas.</p>
      </div>

      <p *ngIf="!loading && assessments.length > 0" class="assessment-summary">

        <span class="summary-label">
          Evaluaciones:
        </span>

        <span class="summary-badge active-badge">
          {{ activeCount }} Activa(s)
        </span>

        <span class="summary-badge expired-badge">
          {{ expiredCount }} Expirada(s)
        </span>

      </p>

      <div *ngIf="!loading && assessments.length > 0" class="cards-two-columns">

        <!-- ACTIVAS -->
        <div class="column-block">
          <h4 class="block-title active-title">Activas</h4>

          <div class="cards-scroll">
            <ng-container *ngFor="let a of assessments">
              <app-stage-assessment-card
                *ngIf="!a.isPastDue"
                [assessment]="a"
                [highlighted]="a.id === highlightId"
                (openAndFinish)="onOpenAndFinish($event)">
              </app-stage-assessment-card>
            </ng-container>
          </div>
        </div>

        <!-- EXPIRADAS -->
        <div class="column-block expired-column">
          <h4 class="block-title expired-title">Expiradas</h4>

          <div class="cards-scroll">
            <ng-container *ngFor="let a of assessments">
              <app-stage-assessment-card
                *ngIf="a.isPastDue"
                [assessment]="a"
                [highlighted]="a.id === highlightId">
              </app-stage-assessment-card>
            </ng-container>
          </div>
        </div>

      </div>

    </section>

  </div>

</div>