<div class="table-container">
  <table class="table-results is-fullwidth" *ngIf="meetings && meetings.length > 0">
    <thead>
      <tr>
        <th class="col-stage">Stage</th>
        <th class="col-cate">Categoría</th>
        <th>Nombre</th>
        <th class="col-date">Fecha</th>
        <th class="col-hour">Hora</th>
        <th>Comentario</th>
        <th>Observación</th>
        <th class="col-progress">Progreso</th>
        <th class="col-eval">Evaluaciones</th>
        <th class="col-open">Abrió Enlace</th>
        <th class="col-note">Nota</th>
        <th class="col-assist">Asistencia</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let meeting of meetings">
        <td data-label="Stage" class="col-stage">{{ meeting.stage?.description || 'Stage no disponible' }}</td>
        <td data-label="Categoría">{{ meeting.category || 'Categoría no disponible' }}</td>
        <td data-label="Nombre" style="white-space: normal; vertical-align: top;">
          <span class="clickable is-clickable" (click)="onHistoryClick(meeting)">
            {{ getStudentDisplayName(meeting) }}
            <span *ngIf="isNewUser(meeting)" class="badge-new" title="Estudiante nuevo">
              Nuevo
            </span>
          </span>
        </td>
        <td data-label="Fecha" class="col-date">{{ meeting.localdate | date: 'mediumDate':'UTC' }}</td>
        <td data-label="Hora" class="col-hour">{{ meeting.localhour }}:00</td>

        <td data-label="Comentario">
            <span class="comment-text">
              {{ meeting.student?.user?.temporaryComment }}
            </span>
        </td>
        <td data-label="Observación" class="observation-cell">
          <span
            class="comment-icon material-icons"
            title="{{ getObservationTooltip(meeting) }}"
            (click)="showComment(meeting)"
          >
            comment
          </span>

          <span
            class="comment-text"
            *ngIf="!hasReinforcement(meeting)"
          >
           {{ (meeting.assessments && meeting.assessments[0].note) || meeting.student?.user?.comment || 'Sin observación' }}
          </span>

          <span
            *ngIf="hasReinforcement(meeting)"
            class="reinforcement-badge"
            title="Este estudiante tiene nota o recursos cargados"
          >
            Refuerzo
          </span>
        </td>

        <td data-label="Progreso" class="col-progress">
          <span
            class="progress-pill"
            [ngClass]="getProgressClass(meeting.student?.progressPercentage)"
          >
            {{ formatProgressValue(meeting.student?.progressPercentage) }}
          </span>
        </td>
        
        <td data-label="Evaluaciones" class="col-eval">
          <button class="icon-button" (click)="onEvaluationClick(meeting)">
            <span class="material-icons">assignment</span>
          </button>
        </td>

        <td data-label="Abrió Enlace" class="col-open">
          {{ didOpenLink(meeting) }}
        </td>

        <td data-label="Nota" class="col-note">

          <!-- MODO EDICIÓN -->
          <div *ngIf="editingMeetingId === meeting.id; else displayMode">
            <textarea
              [(ngModel)]="tempNote"
              rows="2"
              class="note-textarea"
            ></textarea>

            <button 
              class="save-btn"
              type="button"
              (click)="saveNote(meeting)">
              Guardar
            </button>
          </div>

          <!-- MODO DISPLAY -->
          <ng-template #displayMode>
            <div *ngIf="meeting.instructorNote; else noNote"
                class="note-text"
                (click)="enableEdit(meeting)">
              {{ meeting.instructorNote }}
            </div>

            <ng-template #noNote>
              <button class="note-button"
                      (click)="enableEdit(meeting)">
                <span class="material-icons">edit_note</span>
              </button>
            </ng-template>
          </ng-template>

        </td>

        <td data-label="Marcar Asistencia" class="col-assist">
          <input 
            type="checkbox" 
            [checked]="meeting.present"
            (click)="onAssistanceClick($event, meeting)"
            [disabled]="!isToday(meeting.localdate)" 
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>