<div class="banner-backdrop">
  <div class="banner-modal">

    <button class="close-btn" (click)="close.emit()">✕</button>

    <!-- WRAPPER -->
    <div class="banner-image-wrapper">

      <img
        src="assets/alce-college-diciembre.jpeg"
        alt="Banner informativo"
        class="banner-img"
      />

      <!-- BOTÓN TEXTO SOBRE EL QR -->
      <a
        href="https://wa.me/message/DIZCMZFVUTOYP1?src=qr"
        target="_blank"
        rel="noopener noreferrer"
        class="whatsapp-float"
        aria-label="Enviar información por WhatsApp"
      >
        Enviar información
      </a>

    </div>
  </div>
</div>