<div class="dropdown-toggle-container">
  <div class="dropdown-toggle" (click)="showConfigForm = !showConfigForm">
    <span>Configurar días como estudiante nuevo</span>
    <span class="icon is-small">
      <i class="material-icons">{{ showConfigForm ? 'expand_less' : 'expand_more' }}</i>
    </span>
  </div>

  <div [ngClass]="showConfigForm ? 'dropdown-body' : 'dropdown-body-hidden'">
    <form class="search-form" (ngSubmit)="save()">
      <div class="field">
        <label class="label">Días como estudiante nuevo</label>
        <div class="control">
          <input
            type="number"
            class="input"
            [(ngModel)]="daysAsNewStudent"
            name="daysAsNewStudent"
            required
          />
        </div>
      </div>

      <div class="button-wrapper">
        <button class="button is-blue" type="submit">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
