<div class="modal" [class.is-active]="isModalOpen">
    <div class="modal-background"></div>
  
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Agregar Contenido</p>
        <button class="delete" aria-label="close" (click)="close()"></button>
      </header>
  
      <section class="modal-card-body">
        <form [formGroup]="contentForm" (ngSubmit)="onSubmit()" id="contentForm">
          <!-- Stage -->
          <div class="field">
            <label class="label">Stage</label>
            <div class="control">
              <div class="select is-fullwidth">
                <select formControlName="stageId">
                  <option [ngValue]="null" disabled selected>Seleccione un Stage</option>
                  <option *ngFor="let stage of stages" [value]="stage.id">
                    {{ stage.description }}
                  </option>
                </select>
              </div>
            </div>
            <p class="error-message" *ngIf="contentForm.get('stageId')?.invalid && contentForm.get('stageId')?.touched">
              Stage es obligatorio.
            </p>
          </div>
  
          <!-- Unidad -->
          <div class="field">
            <label class="label">Unidad</label>
            <div class="control">
              <input type="number" formControlName="unit" class="input" />
            </div>
            <p class="error-message" *ngIf="contentForm.get('unit')?.invalid && contentForm.get('unit')?.touched">
              Unidad es requerido.
            </p>
          </div>
  
          <!-- Título -->
          <div class="field">
            <label class="label">Título</label>
            <div class="control">
              <input type="text" formControlName="title" class="input" />
            </div>
            <p class="error-message" *ngIf="contentForm.get('title')?.invalid && contentForm.get('title')?.touched">
              El título es requerido.
            </p>
          </div>
  
          <!-- Descripción -->
          <div class="field">
            <label class="label">Descripción</label>
            <div class="control">
              <textarea formControlName="description" class="textarea"></textarea>
            </div>
            <p class="error-message" *ngIf="contentForm.get('description')?.invalid && contentForm.get('description')?.touched">
              La descripción es requerido.
            </p>
          </div>
  
          <!-- Contenido -->
          <div class="field">
            <label class="label">Contenido (opcional)</label>
            <div class="control">
              <textarea 
                class="textarea"
                formControlName="textContent"
              ></textarea>
            </div>
          </div>
        </form>
      </section>
      <footer class="modal-card-foot">
        <button type="submit" class="button is-primary" form="contentForm">
          Guardar
        </button>
      </footer>
    </div>
  </div>
