<section class="section">
    <h1 class="reports-progress-header reports-progress-title">
        Evaluar Estudiante
    </h1>

  <app-assessment-form
    [instructorId]="instructorId"
    (assessmentCreated)="handleAssessmentCreated($event)"
    (studentSelected)="fetchAssessments($event.studentId.toString(), $event.stageId.toString(), $event.instructorId.toString())"
  ></app-assessment-form>

  <div class="assessment-table-wrapper">
    <app-assessment-table [assessments]="assessments" />
  </div>

</section>

 <app-modal
    [showModal]="modal.show"
    [message]="modal.message"
    [isError]="modal.isError"
    [isSuccess]="modal.isSuccess"
    [isInfo]="modal.isInfo"
    [showButtons]="modal.showButtons ?? false"
    (confirmAction)="modal.confirm && modal.confirm()"
    (close)="modal.close()"
  />