
<div class="sidebar" [class.closed]="isSidebarClosed" (click)="openSidebar($event)">
    <div class="logo-container">
        <img src="/assets/logo header.png" alt="Logo">
    </div>
  
    <ul>
      <li>
        <a href="#">
          <i class="fas fa-home"></i> 
          <span class="link-text">Home</span> 
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-info-circle"></i> 
          <span class="link-text">About</span> 
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-envelope"></i> 
          <span class="link-text">Contact</span> 
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-calendar-alt"></i> 
          <span class="link-text">Booking</span>
        </a>
      </li>
    </ul>
    
    <div class="logout">
        <a href="#">
          <i class="fas fa-sign-out-alt"></i>
          <span class="link-text">Log Out</span>
        </a>
      </div>
  </div>