.progress-card__content {
  position: relative;
  z-index: 2;

  min-height: 310px;

  display: grid;

  grid-template-columns:
    10rem
    minmax(27rem, 1fr)
    minmax(15rem, .75fr);

  grid-template-rows:
    minmax(13rem, auto)
    auto;

  column-gap: 1.8rem;
  row-gap: 1.1rem;

  align-items: center;
}

.progress-card__content--live {
  grid-template-rows:
    minmax(13rem, auto)
    auto;
}

.progress-card__message {
  grid-column: 2;
  grid-row: 1;

  width: 100%;
  min-width: 0;

  align-self: center;
}

.progress-card__message h3 {
  margin: 0;

  color: #101b49;

  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.25;

  letter-spacing: -.03em;
}

.progress-card__message p {
  max-width: 21rem;

  margin: .55rem 0 0;

  color: #354462;

  font-size: .78rem;
  font-weight: 500;
  line-height: 1.65;
}