.instructor-dashboard-wrapper {
  width: 90%;
  margin: auto;
  min-height: 100vh;
  padding: 1.5rem 1rem 2rem;
  box-sizing: border-box;
}

/* HEADER */
.instructor-header {
  max-width: 1200px;
  margin: 2rem auto 1.5rem;
  padding: 0;

  .title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #1f2937;
    margin-bottom: 0.3rem;
  }

  .subtitle {
    font-size: 0.95rem;
    color: #6b7280;
  }
}

/* CALENDARIO */
.calendar-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {

  .instructor-dashboard-wrapper {
    padding: 1rem 0.5rem;
  }

  .instructor-header {
    margin-top: 4rem;
    text-align: left;
    margin-bottom: 3rem;

    .title {
      font-size: 1.3rem;
    }

    .subtitle {
      font-size: 0.85rem;
    }
  }
}

@media (max-width: 490px) {
 .instructor-header {

    .title {
      font-size: 1.1rem;
    }

    .subtitle {
      font-size: 0.85rem;
    }
  }

}