<div *ngIf="showModal && currentAnnouncement as a" class="announcement-modal">

  <div class="announcement-modal__content">

    <!-- ❌ CLOSE SOLO ARRIBA -->
    <button class="announcement-modal__close" (click)="close()">
      ✕
    </button>

    <!-- 🎥 MEDIA -->
    <div class="announcement-modal__media">

      <img
        *ngIf="a.mediaUrl && !isYoutubeMedia"
        [src]="a.mediaUrl"
      />

      <iframe
        *ngIf="a.mediaUrl && isYoutubeMedia"
        [src]="safeYoutubeUrl"
        allowfullscreen
      ></iframe>

    </div>

    <!-- 🔘 ACTIONS (SIN CLOSE) -->
    <div *ngIf="a.actions.length" class="announcement-modal__actions">

        <ng-container *ngFor="let action of a.actions; let i = index">

            <button
            *ngIf="action.type !== 'close'"
            [disabled]="isDisabled(action, i)"
            (click)="handleAction(action)"
            [style.background]="getButtonColor(action)"
            class="announcement-modal__btn"
            >
            {{ action.label }}
            </button>

        </ng-container>

        </div>

  </div>

</div>