<div class="notification-panel">
  <div class="info-wrapper centered-block">

    <!-- Texto explicativo -->
    <p class="instruction-text">
      Selecciona a quién deseas enviar la notificación: puede ser a un usuario individual, por stage o a un grupo previamente creado.
    </p>

    <!-- Dropdown -->
    <div class="dropdown-wrapper" (click)="$event.stopPropagation()">
      <button class="tab-btn" (click)="toggleDropdown($event)">
        Enviar notificación ▾
      </button>

      <ul class="dropdown" *ngIf="dropdownOpen">
        <li (click)="selectNotificationOption('user', $event)">
          <i class="fas fa-user"></i> Usuario
        </li>
        <li (click)="selectNotificationOption('stage', $event)">
          <i class="fas fa-layer-group"></i> Stage
        </li>
        <li (click)="selectNotificationOption('group', $event)">
          <i class="fas fa-users"></i> Grupo
        </li>
      </ul>
    </div>
  </div>
</div>