<div class="notification-panel">
  <div class="info-wrapper centered-block">
    <p class="instruction-text">
     Tipo de envío.
    </p>

    <!-- Versión Desktop / Tablets -->
    <div class="badge-options hidden sm:flex">
      <span
        class="badge-option"
        [class.active]="activeOption === 'user'"
        *ngIf="userRole === UserRole.ADMIN || userRole === UserRole.INSTRUCTOR"
        (click)="selectNotificationOption('user', $event)"
      >
        <i class="fas fa-user"></i> Usuario(s)
      </span>

      <span
        class="badge-option"
        [class.active]="activeOption === 'role'"
        *ngIf="userRole === UserRole.ADMIN"
        (click)="selectNotificationOption('role', $event)"
      >
        <i class="fas fa-id-badge"></i> Rol
      </span>

      <span
        class="badge-option"
        [class.active]="activeOption === 'stage'"
        *ngIf="userRole === UserRole.ADMIN"
        (click)="selectNotificationOption('stage', $event)"
      >
        <i class="fas fa-layer-group"></i> Stage
      </span>

      <span
        class="badge-option"
        [class.active]="activeOption === 'group'"
        *ngIf="userRole === UserRole.ADMIN"
        (click)="selectNotificationOption('group', $event)"
      >
        <i class="fas fa-users"></i> Grupo
      </span>
    </div>

    <!-- Versión Mobile -->
    <div class="select-wrapper sm:hidden">
      <select
        class="notification-select"
        [(ngModel)]="activeOption"
        (change)="selectNotificationOption(activeOption, $event)"
      >
        <option value="user">Usuario(s)</option>
        <option *ngIf="userRole === UserRole.ADMIN" value="role">Rol</option>
        <option *ngIf="userRole === UserRole.ADMIN" value="stage">Stage</option>
        <option *ngIf="userRole === UserRole.ADMIN" value="group">Grupo</option>
      </select>
    </div>
  </div>
</div>