.table-container {
  max-width: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 4rem;
  position: relative;
  border-radius: 8px;
  max-height: 475px;
  overflow-y: auto;
  overflow-x: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.table-results {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 800px;
  word-wrap: break-word;
}

.table-results thead {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #e5effa;
}

.table-results th {
  text-align: center;
  vertical-align: middle;
  padding: 0.55rem;
  font-size: 0.75rem;
  background-color: #e5effa;
  color: black;
  border-bottom: none;
  white-space: nowrap;
  position: sticky;
  top: 0;
  z-index: 3;
}

.table-results td {
  text-align: center;
  vertical-align: middle;
  font-size: 0.75rem;
  padding: 0.75rem;
  border-bottom: 0.5px solid rgb(208, 208, 208);
  background-color: #ffffff;
  color: rgb(76, 75, 75);
  overflow: visible;
  text-overflow: clip;
}

.max-point-reached {
  color: #2e7d32 !important;
  font-weight: bold;
}

.below-threshold {
  color: #d32f2f !important; 
  font-weight: bold;
}
