.table-container {
  max-width: 800px;
  width: 100%;
  margin: auto;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 4rem;
  position: relative;
  border-radius: 8px;
  max-height: 475px;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: auto;
}

.table-results {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  table-layout: fixed;
  min-width: 700px;
  word-wrap: break-word;
}

.table thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

.table-results th {
  text-align: center;
  vertical-align: middle;
  padding: 0.55rem;
  font-size: .75rem;
  background-color: #e5effa;
  color: black;
  border-bottom: none;
  white-space: nowrap;
  position: sticky;
  top: 0;
  z-index: 3;
}

.table-results td {
  text-align: center;
  vertical-align: middle;
  font-size: .72rem;
  padding: 0.75rem;
  border-bottom: .5px solid rgb(208, 208, 208);
  background-color: #ffffff;
  color: rgb(76, 75, 75);
  overflow: visible;
  text-overflow: clip;
}