<section class="section">
  <h1 class="reports-excel-header reports-excel-title">
    Reportes 
  </h1>

  <!-- Botón para alternar modos -->
  <div class="mode-toggle">
    <button class="button" (click)="toggleMode()">
      {{ currentMode === "users" ? "Ver Inasistencias" : "Ver Usuarios" }}
    </button>
  </div>

  <div class="content-wrapper">
    <app-reports-users-excel
      [stages]="stages"
      [mode]="currentMode"
      (downloadExcel)="handleDownloadUsersExcel($event)"
      (downloadAbsentExcel)="handleDownloadAbsentExcel($event)"
    >
    </app-reports-users-excel>
  </div>
</section>
