<div *ngIf="isVisible" class="global-notice-overlay">
  <div class="global-notice-banner success">
    <div class="message">
      <div class="title-with-icon">
        <i class="fa-solid fa-circle-check icon"></i>
        <h4>Aviso importante</h4>
      </div>
      <p>
        Estimados usuarios,<br />
        Les informamos que  nuestras dos líneas de WhatsApp Business del Área de Programación de Alcecollege, ya se encuentran activadas.<br /><br />
        A continuación le detallamos los números de contacto:<br />
        <i class="fab fa-whatsapp" style="color: #25D366; margin-right: 6px;"></i><strong>+593958701967</strong><br />
        <i class="fab fa-whatsapp" style="color: #25D366; margin-right: 6px;"></i><strong>+593994339139</strong><br /><br />
        Agradecemos su contacto inmediato ante cualquier duda o inquietud.
      </p>
    </div>

    <div class="notice-actions">
      <button (click)="dismiss()" class="confirm-btn">Entendido</button>
    </div>
  </div>
</div>