<div *ngIf="showInstallButton" class="pwa-install-banner">
  <div class="pwa-install-content">
    <div class="pwa-install-text">
      <i class="material-icons">get_app</i>
      <span>Install Alce Booking App for a better experience</span>
    </div>
    <div class="pwa-install-buttons">
      <button class="button is-primary is-small" (click)="installApp()">
        Install
      </button>
      <button class="button is-small" (click)="dismissInstall()">
        Not now
      </button>
    </div>
  </div>
</div>