.section {
  background-color: #f2f2f2;
  min-height: 100vh;
  padding: 0; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
  
  .container {
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    padding: 2rem;
    padding-top: 2rem;
    border-radius: 8px;
  }
  
  .title-container {
    position: fixed;
    top: 0;
    left: 0;
    color: rgb(53, 53, 53);
    width: 100%;
    background-color: white;
    z-index: 10;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 1.35rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    font-size: 1.8rem;
    line-height: 1.5;
    color: #282828;
    font-weight: bold;
  }

  .router-outlet-container {
    margin: 2rem;
    padding: 2rem;
  }

  @media (max-width: 768px) {
    .title-container {
      background: linear-gradient(45deg, #4a90e2, #7743a8);
    }
  
    .title {
      font-size: 1.6rem;
      color: white;
    }

    .router-outlet-container {
        margin: 1rem;
        margin-top: 2rem;
        padding: .75rem;
      }
  }