<div class="assessment-card" [class.selected-card]="highlighted">

  <div class="header-row">
    <h3 class="title">
      {{ assessment.stageAssessmentResource?.description || 'Recurso sin título' }}
    </h3>

    <!-- Estado visual -->
    <span class="status pending">
      Pendiente
    </span>
  </div>

  <div class="info">
    <p>
      <strong>Fecha límite:</strong>
      {{ assessment.dueDate | date:'fullDate' }}
    </p>

    <p *ngIf="assessment.stage">
      <strong>Stage:</strong>
      {{ assessment.stage?.description || 'Sin etapa' }}
    </p>

  </div>

  <div class="actions">
    <button class="btn-open" (click)="handleOpenAndFinish()">
      Ir a la evaluación
    </button>
  </div>

</div>