n
<div class="hero-wrapper" *ngIf="!isInstructor">
  
  <div class="hero-background"></div>

  <section class="hero">
    <div class="student-info-steps" *ngIf="isLoggedIn && isStudent">
      <div class="step">
        <div class="step-number">1</div>
        <p class="step-text">Agendar tus próximas clases</p>
      </div>
      <div class="step">
        <div class="step-number">2</div>
        <p class="step-text">Buscar tus clases por fecha</p>
      </div>
      <div class="step">
        <div class="step-number">3</div>
        <p class="step-text">Asistir a tus sesiones en línea</p>
      </div>
    </div>
  
    <div *ngIf="!isLoggedIn" class="hero-button-container">
      <a routerLink="/login" class="login-button">Ingresar</a>
    </div>
  </section>

  <a
    *ngIf="isStudent && isLoggedIn"
    href="https://www.youtube.com/watch?v=P3990N0e8Pg"
    target="_blank"
    class="floating-help-button"
    aria-label="Ayuda"
    title="Ayuda"
  >
    <span class="material-icons">help_outline</span>
  </a>

</div>

<app-student-cuenca-banner
  *ngIf="showBannerCuenca"
  [show]="showBannerCuenca"
  (close)="showBannerCuenca = false">
</app-student-cuenca-banner>

<app-student-cuenca-comm-banner 
  *ngIf="showBannerCuencaComm"
  [show]="showBannerCuencaComm">
</app-student-cuenca-comm-banner>

<app-student-banner *ngIf="showBanner" (close)="showBanner = false"></app-student-banner>

<app-instructor-calendar
  *ngIf="isInstructor && instructorId"
  [instructorId]="instructorId">
</app-instructor-calendar>

<app-users-info-form
  *ngIf="showUserInfoForm"
  [isModalOpen]="true"
  [userData]="userData"
  (formSubmit)="handleUserInfoSubmit($event)"
  (closeModal)="showUserInfoForm = false">
</app-users-info-form>

<app-modal
  [showModal]="modal.show"
  [message]="modal.message"
  [isError]="modal.isError"
  [isSuccess]="modal.isSuccess"
  (close)="modal.close()">
</app-modal>


