<app-student-dashboard
  *ngIf="isStudent"
  [userData]="(userData$ | async)"
  [isLoggedIn]="(isLoggedIn$ | async) ?? false">
</app-student-dashboard>

<app-instructor-dashboard
  *ngIf="isInstructor"
  [userData]="(userData$ | async)"
  [isLoggedIn]="(isLoggedIn$ | async) ?? false">
</app-instructor-dashboard>

<app-admin-dashboard
  *ngIf="isAdmin"
  [userData]="(userData$ | async)"
  [isLoggedIn]="(isLoggedIn$ | async) ?? false">
</app-admin-dashboard>

<app-modal
  [showModal]="modal.show"
  [message]="modal.message"
  [isError]="modal.isError"
  [isSuccess]="modal.isSuccess"
  (close)="modal.close()">
</app-modal>