
<div class="hero-wrapper" *ngIf="!isInstructor">
  
  <div class="hero-background"></div>

  <section class="hero">
    <div class="student-info-steps" *ngIf="isLoggedIn && isStudent">
      <div class="step">
        <div class="step-number">1</div>
        <p class="step-text">Agendar tus próximas clases</p>
      </div>
      <div class="step">
        <div class="step-number">2</div>
        <p class="step-text">Buscar tus clases por fecha</p>
      </div>
      <div class="step">
        <div class="step-number">3</div>
        <p class="step-text">Asistir a tus sesiones en línea</p>
      </div>
    </div>
  
    <div *ngIf="!isLoggedIn" class="hero-button-container">
      <a routerLink="/login" class="login-button">Ingresar</a>
    </div>
  </section>

  <a
    *ngIf="isStudent && isLoggedIn"
    href="https://www.youtube.com/watch?v=P3990N0e8Pg"
    target="_blank"
    class="floating-help-button"
    aria-label="Ayuda"
    title="Ayuda"
  >
    <span class="material-icons">help_outline</span>
  </a>

</div>

<section class="date-time-selection shared-box-style" *ngIf="isInstructor">
  <div class="calendar-title">
    <h2 class="title-date">Clases Programadas</h2>
  </div>

  <div class="calendar-legend">
    <span class="legend-dot"></span>
    <span class="legend-text">Día con clases programadas</span>
  </div>

  <div class="month-selector">
    <button *ngIf="selectedMonth !== minMonth || selectedYear !== minYear"
            class="button is-small prev-button"
            (click)="prevMonth()"
            aria-label="Mes anterior">
      <i class="fas fa-chevron-left"></i>
    </button>

    <span class="month-label">{{ selectedMonth }} {{ selectedYear }}</span>

    <button *ngIf="selectedMonth !== maxMonth || selectedYear !== maxYear"
            class="button is-small next-button"
            (click)="nextMonth()"
            aria-label="Mes siguiente">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>

  <div class="calendar">
    <div class="calendar-header">
      <div class="calendar-day-header">D</div>
      <div class="calendar-day-header">L</div>
      <div class="calendar-day-header">M</div>
      <div class="calendar-day-header">M</div>
      <div class="calendar-day-header">J</div>
      <div class="calendar-day-header">V</div>
      <div class="calendar-day-header">S</div>
    </div>

    <div class="calendar-grid">
      <div
        *ngFor="let day of currentMonthDays"
        class="calendar-day"
        [ngClass]="{
          'empty': day.day === '',
          'selected': selectedDay === day.day,
          'has-meeting': day.hasMeeting
        }"
        (click)="showMeetingsOfDay(day)"
      >
        {{ day.day }}
      </div>
    </div>
  </div>
</section>

<!-- Tabla de resultados -->
<div *ngIf="meetingsOfDay.length === 0 && selectedDay !== null" class="no-meetings-message">
  <p>No hay clases programadas para este día.</p>
</div>
<div *ngIf="meetingsOfDay.length > 0" class="meeting-results">
  <h3 class="title is-5">Clases para el {{ selectedDate | date: 'EEEE, d MMMM' }}</h3>
  
  <div class="table-responsive">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Stage</th>
          <th>Categoría</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Modalidad</th>
          <!-- <th>Contenido</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of meetingsOfDay">
          <td>{{ item.meetings?.[0]?.stage?.number || 'Sin etapa' }}</td>
          <td>{{ item.meetings?.[0]?.category || 'Sin categoría' }}</td>
          <td>{{ item.date | date: 'mediumDate' }}</td>
          <td>{{ item.hour }}:00</td>
          <td>{{ item.meetings?.[0]?.mode || 'Sin modalidad' }}</td>
          <!-- <td>
            <button class="button is-small" >
              <span class="material-icons">menu_book</span>
            </button>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-users-info-form
  *ngIf="showUserInfoForm"
  [isModalOpen]="true"
  [userData]="userData"
  (formSubmit)="handleUserInfoSubmit($event)"
  (closeModal)="showUserInfoForm = false">
</app-users-info-form>

<app-modal
  [showModal]="modal.show"
  [message]="modal.message"
  [isError]="modal.isError"
  [isSuccess]="modal.isSuccess"
  (close)="modal.close()">
</app-modal>


