.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-title {
  font-size: 1.5rem;
}

.calendar-body .columns {
  margin-top: 1rem;
}

.button.is-selected {
  background-color: #3273dc;
  color: white;
}
