/* Contenedor del banner */
.banner-wrapper {
  position: relative;
  display: block;
  width: fit-content;
  max-width: 100%;
  margin: 12px auto 0;
  z-index: 50;
}

.hero-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-background {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 2rem;
}

/* SALUDO */
.student-greeting {
  width: 100%;
  text-align: left;
  padding-bottom: 25px;
}

/* TEXTO */
.greet-title {
  font-size: 2rem;
  font-weight: 700;
  color: #1f2937;
}

.greet-subtitle {
  font-size: .95rem;
  color: #4b5563;
}

.student-stage {
  margin-top: 0.3rem;
  margin-bottom: 1.2rem;
  font-size: 0.95rem;
  font-weight: 500;
  color: #4b5563;
}

.stage-value {
  margin-left: 6px;
  font-weight: 700;
  color: #111827;
}

/* BOTÓN SIEMPRE CENTRADO */
.agenda-button {
  display: block;
  margin: 3rem auto 0 auto;
  padding: 0.78rem 2.4rem;
  background: linear-gradient(135deg, #546dff, #a56bff);
  color: #fff;
  font-weight: 600;
  border-radius: 16px;
  border: none;
  cursor: pointer;
}

/* BLOQUES */
.home-dual-block {
  width: 90%;
  margin: 1.5rem auto;
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
}

.home-dual-block.single-block {
  justify-content: center;
}

/* SOLO bloque de evaluaciones */
.home-dual-block .block:last-child {
  padding-top: .9rem;
}

.block {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* TÍTULO DE EVALUACIONES */
.section-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 1.5rem; 
  padding-left: 0.25rem;
}

.inner-box {
  margin-top: 1rem;
}

/* =========================
   📱 TABLET / SMALL LAPTOP
   ========================= */
@media (max-width: 920px) {

  .home-dual-block {
    flex-direction: column;
    align-items: center;
  }

  .home-dual-block .block {
    width: 100%;
  }

  /* Evaluaciones un poco más estilizado */
  .home-dual-block .block:last-child {
    width: 100%;
    padding-top: 0.5rem;
  }

   .section-title {
     width: 100%;
     text-align: center;
    font-size: 1.3rem;
    }
}

/* =========================
   📱 MOBILE
   ========================= */
@media (max-width: 768px) {

  .hero-background {
    width: 90%;
    margin-top: 0rem;
    align-items: center;
  }

  .student-greeting {
    margin-top: 3rem;
    text-align: center;
  }

  .greet-title {
    font-size: 1.3rem;
  }

  .greet-subtitle {
    font-size: 0.9rem;
  }

  .agenda-button {
    margin-top: 2.2rem;
    padding: 0.6rem 1.4rem;
    font-size: 0.9rem;
    border-radius: 12px;
  }

  .section-title {
     width: 100%;
     text-align: center;
    font-size: 1.1rem;
    }

  
}