<div class="modal" [ngClass]="{ 'is-active': show }">
  <div class="modal-background"></div>
  <div class="modal-card">

    <div class="student-stage-header">
      <h2 class="student-stage-title">
        Stage del Estudiante: {{ stageDescription || 'No disponible' }}
      </h2>
      <button class="delete" aria-label="close" (click)="onClose()">
        <i class="fas fa-times-circle"></i>
      </button>
    </div>

    <header class="modal-card-head">
      <p class="modal-card-title">
         Historial de Contenidos - {{ currentStageDescription }}
        <span class="stage-navigation-buttons">
          <button 
            class="nav-button" 
            [disabled]="!canGoPrevious" 
            [ngClass]="{ 'disabled': !canGoPrevious }"
            (click)="onPreviousStage()" 
            title="Anterior">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button 
            class="nav-button" 
            [disabled]="!canGoNext" 
            [ngClass]="{ 'disabled': !canGoNext }"
            (click)="onNextStage()" 
            title="Siguiente">
            <i class="fas fa-chevron-right"></i>
          </button>
        </span>
      </p>
    </header>

    <section class="modal-card-body">
      <div class="table-container">
        <table class="table-results is-fullwidth">
          <thead>
            <tr>
              <th *ngFor="let content of stageContents; let i = index"
                  [title]="content.title"
                  (mouseenter)="onMouseEnterColumn(i)"
                  (mouseleave)="onMouseLeaveColumn()"
                  [ngClass]="{ 'column-hovered': hoveredColumnIndex === i }">
                {{ content.title }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td *ngFor="let content of stageContents; let i = index"
                  [ngClass]="{ 'column-hovered': hoveredColumnIndex === i }">
                <div class="scroll-wrapper"
                    [ngClass]="{ 'scrollable-cell': getRecordsByContentTitle(content.title).length > 2 }">
                  <ng-container *ngFor="let record of getRecordsByContentTitle(content.title)">
                    <div class="record-entry" *ngFor="let date of record.dates; let j = index; let last = last">
                      <div>{{ date | date: 'shortDate' }}</div>
                      <div>{{ getInstructorByIndex(record, j) }}</div>
                    </div>
                  </ng-container>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

  </div>
</div>