<div class="modal" [ngClass]="{ 'is-active': show }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        Historial de Contenidos
       <span *ngIf="stageDescription"> - {{ stageDescription }}</span>
      </p>
      <button class="delete" aria-label="close" (click)="onClose()"><i class="fas fa-times-circle"></i></button>
    </header>
    <section class="modal-card-body">
      <div class="table-container">
        <table class="table-results is-fullwidth">
          <thead>
            <tr>
              <th *ngFor="let content of stageContents">
                {{ content.title.split(' ')[0] }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td *ngFor="let content of stageContents">
                <ng-container *ngFor="let record of history">
                  <ng-container *ngIf="record.data?.title === content.title">
                    <div>{{ record.date | date: 'shortDate' }}</div>
                    <div>{{ instructorName || 'Instructor no disponible' }}</div>
                  </ng-container>
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
