<form [formGroup]="form" (ngSubmit)="submitForm()" class="search-form">
  <div class="field">
    <label class="label">Nombre del Tipo</label>
    <div class="control">
      <input
        type="text"
        class="input"
        formControlName="name"
      />
      <p class="error-message" *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
        El nombre es obligatorio.
      </p>
    </div>
  </div>

  <div class="field">
    <label class="label">Descripción</label>
    <div class="control">
      <textarea
        class="input"
        formControlName="description"
        rows="2"
        placeholder="Descripción breve del tipo...">
      </textarea>
    </div>
  </div>

  <div class="button-wrapper">
    <button class="button is-blue" type="submit">
      Crear Tipo de Evaluación
    </button>
  </div>
</form>