<!-- PROGRESO STAGE -->
<div *ngIf="studentId && !loading && hasProgress" class="stage-progress-card modern">

  <!-- Labels arriba -->
  <div class="stage-progress-labels">
    <span class="stage-left">
      {{ currentStageLabel }}
    </span>

    <span class="stage-right" *ngIf="hasNextStage" [class.stage-complete]="progressPercent === 100">
      {{ nextStageLabel }}
    </span>
  </div>

  <!-- Barra -->
  <div class="stage-progress-bar">
    <div
      class="stage-progress-fill"
      [style.width.%]="progressPercent">
    </div>
  </div>

  <!-- Porcentaje centrado -->
  <div class="stage-progress-percent-center">
    {{ progressPercent }}%
  </div>

</div>

<!-- Skeleton -->
<div *ngIf="studentId && loading" class="stage-progress-card modern skeleton">
  <div class="skeleton-line"></div>
  <div class="skeleton-bar"></div>
</div>