@keyframes slide-up {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up-animation {
  animation: slide-up 0.3s ease-out;
}

.modal-background {
  background-color: rgba(64, 64, 64, 0.3); 
}

.modal.is-active {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 40;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.modal-card {
  width: 90%;
  max-width: 450px;
  max-height: 600px;
  background-color: #ffffff;
  color: #4c4c4c;
  font-size: 0.85rem;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.modal-card-head,
.modal-card-foot {
  background-color: #ffffff;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.modal-card-head {
  border-bottom: 1px solid #ddd;
}

.modal-card-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: #383838;
}

.modal-card-body {
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  padding: 1.5rem;
}

.selected-info {
  background-color: #ffffff;
  color: #4c4c4c;
  padding: .5rem 1.25rem 0;

  p {
    margin-bottom: 0.5rem;

    strong {
      color: #4c4c4c; 
      font-weight: 600;
    }
  }
}

.label {
  color: #1a1a1a;
  font-size: .85rem;
}

.input {
  position: relative;
  background-color: #ffffff; 
  color: #4c4c4c;
  font-size: .9rem;
  border: 1px solid #ccc; 

  &::placeholder {
    color: #a0a0a0; 
  }
}

.fixed-input-container {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 5;
  padding-bottom: 0.5rem;
}

.dropdown-list-fixed {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
  background: white;
  z-index: 10;
  position: relative;
}

.icon.is-left i {
  color: #a0a0a0; 
}

.input:focus {
  border-color: #999;
  box-shadow: 0 0 0 2px rgba(100, 100, 255, 0.1);
}

.dropdown-item {
  color: #1a1a1a;
  background-color: #fff;

  &:hover {
    background-color: #f0f0f0;
  }
}

.custom-select {
  background-color: #f9f9f9; 
  font-size: .9rem;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.4rem;
  appearance: none;
}

.buttons-footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.button.is-blue,
.button.is-purple {
  font-size: .9rem;
  max-width: 140px; 
  min-width: 120px; 
  text-align: center;
}

.button.is-blue {
  background-color: #3273dc;
  color: #fff;
  border: none;

  &:hover {
    background-color: #275fad;
  }
}

.button.is-purple {
  background-color: #8e44ad;
  color: #fff;
  border: none;

  &:hover {
    background-color: #732d91;
  }
}

.centered-message {
  width: 80%;
  font-size: .8rem;
  margin: 0 auto;
  text-align: center;
}

.toast-center {
  position: fixed;
  background-color: #e9d6d4;
  color: #b71c1c;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 1.25rem 2rem;
  font-size: 1rem;
  text-align: center;
  width: auto;
  max-width: 90%;
}